meta[ title:Slice of Life, lines: 269]
<dl><dd>[pages turning]
</dd><dd>[door opens]
</dd><dd><b>Cranky Doodle Donkey</b>: I'll never understand the ponies
in this town! Everywhere I went, they were all gussied up and lookin' at
 me funny! Kept asking if I was "nervous"!
</dd><dd><b>Matilda</b>: Did they forget the wedding is <i>tomorrow</i>?
</dd><dd><b>Cranky Doodle Donkey</b>: Oh, maybe they're just as excited for us to be married as I am.
</dd><dd><b>Cranky Doodle Donkey</b> and <b>Matilda</b>: [murmuring and giggling]
</dd><dd><b>Matilda</b>: Well, they're going to feel awfully silly when
they realize they've got the wrong date. [gasps] The invitations are
wrong! This says the wedding is <i>today</i>!
</dd><dd><b>Cranky Doodle Donkey</b>: But I got such a good deal on them...
</dd><dd><b>Matilda</b>: Everypony in town got these! The princesses have even RSVP'd!
</dd><dd><b>Cranky Doodle Donkey</b>: I told you we should have eloped!
</dd><dd><b>Matilda</b>: Oh, dear. The caterer, the flowers, the musicians! We've got to move it all to today!
</dd><dd><b>Cranky Doodle Donkey</b>: What?!
</dd><dd>[door opens]
</dd><dd><b>Matilda</b>: Where's my wedding planner?!
</dd></dl>
<dl><dd><b>Cranky Doodle Donkey</b>: You told me you could do it for half what the others charged, and then you sent the invitations to everypony in town with the <i>wrong date</i>! [snorts]
</dd><dd><b>Derpy</b>: Muffin?
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Derpy</b>: I really messed up on those invitations! I feel just awful, Doc!
</dd><dd><b>Savoir Fare</b>: Hmph! Perhaps that explains why I never got mine!
</dd><dd><b>Derpy</b>: I told Cranky I could get 'em printed for cheap, but that meant hiring somepony with no experience using a printing press.
</dd></dl>
<dl><dd>[printing press exploding]
</dd><dd>[squirt]
</dd></dl>
<dl><dd><b>Derpy</b>: Oh, I wish there was a way I could go back in time and fix all this.
</dd><dd><b>Dr. Hooves</b>: [slurping]
</dd></dl>
<dl><dd><b>Dr. Hooves</b>: Going back in time is <i>old thinking</i>, my friend. I was working off a cutting-edge theory of making time come <i>forward</i> to you.
</dd><dd>[clunking]
</dd><dd><b>Dr. Hooves</b>: My life's work, decades – centuries, really –
 of research and experimentation, and I nearly had it cracked! Turns out
 there's a magic spell for it. Who knew?
</dd><dd>[zap]
</dd><dd>[zap]
</dd><dd><b>Dr. Hooves</b>: But there are so many things that magic can't explain, where science and mathematics are the <i>real</i> magic!
</dd><dd><b>Derpy</b>: Like these? They're pretty.
</dd><dd><b>Dr. Hooves</b>: Ah, yes, my flameless fireworks. I never could quite figure out how to get them to ignite.
</dd><dd><b>Derpy</b>: How did you learn to make all this stuff anyway?
</dd><dd><b>Dr. Hooves</b>: I've been studying science my whole life.
Ever since a particularly traumatic experience as a foal, I've been
looking for ways to make sense of the world around me. Science provides
explanations of things we never thought possible! Now, why did we come
here again?
</dd><dd><b>Derpy</b>: Yeah. Oh! Because I accidentally sent out
invitations for Cranky and Matilda's wedding with today's date instead
of tomorrow's!
</dd><dd><b>Dr. Hooves</b>: Great whickering stallions! I completely forgot! And I still need to get my suit tailored!
</dd></dl>
<dl><dd><b>Dr. Hooves</b>: Rarity? [knocking] Rarity! [grumbling]
</dd><dd>[hip-hop playing in headphones]
</dd><dd><b>Dr. Hooves</b>: [to DJ Pon-3] Please! You've got to help me!
 I lost track of time, unbelievably, and forgot that the wedding is this
 afternoon! [completely drowned out by hip-hop] Have you seen Rarity?
She's got to alter the sleeves on my suit, and she's got to do it now!
Oh, ha-ha, thank goodness. Lead on, my friend.
</dd></dl>
<dl><dd>[bowling strike]
</dd><dd><b>Dr. Hooves</b>: Er, why have you brought me here? Rarity would never set hoof in—
</dd><dd>[suits sparkling]
</dd><dd><b>Dr. Hooves</b>: Great whickering stallions, they've got
style! Gentlecolts! I'm facing certain calamity, and I couldn't help
noticing your remarkable fashion sense. Could I have the name of your
incredible tailor?
</dd><dd><b>Jeff Letrotski</b>: Oh, yeah, man. His name is me.
</dd><dd><b>Dr. Hooves</b>: "Me". What an unfortunate name.
</dd><dd><b>Jeff Letrotski</b>: No, man, like, I manufacture all of my own garments. We all do, man.
</dd><dd><b>Dr. Hooves</b>: Then you've got to help me! I need this suit tailored! It's an emergency!
</dd><dd><b>Jeff Letrotski</b>: [laughs] Sorry, man, we're just about to start the finals.
</dd><dd><b>Dr. Hooves</b>: What's this word you keep using – "man"?
</dd><dd><b>Jeff Letrotski</b>: I dunno, man, but guess what? Our fourth didn't show, so if you roll with us, we'll alter your suit for you.
</dd><dd>[scribbling noises]
</dd><dd><b>Dr. Hooves</b>: I'm sorry, gentlecolts, but I will not bowl. The splits, the spares! There are simply too many variables!
</dd><dd><b>Jeff Letrotski</b>: Variables? What are you talking about, man? Just throw the ball straight!
</dd><dd><b>Dr. Hooves</b>: Hold on. Straight?
</dd><dd>[dinging]
</dd><dd>[bowling strike]
</dd><dd><b>Dr. Hooves</b>: Very well. I'll try your "straight" technique. It just might be crazy enough to work.
</dd></dl>
<dl><dd><b>Octavia Melody</b>: Do we know what they're on about?
</dd><dd><b>Apple Bloom</b>: The way they're huddled up like that, I'd say it's either a friendship problem or a monster attack.
</dd><dd><b>Octavia Melody</b>: A monster attack?! Blast! I'm performing
 at the ceremony this afternoon, and I still haven't sorted out what to
play. How am I meant to practice with a monster invading Ponyville?
</dd><dd><b>Sweetie Belle</b>: Maybe it's just a friendship problem, and it'll all be cleared up in half an hour or so.
</dd><dd><b>Octavia Melody</b>: [groan] I hope so.
</dd><dd><b>Matilda</b>: Where's Pinkie Pie?! <i>I need my wedding planner!</i>
</dd><dd>[bugbear growling]
</dd><dd>[magic zap]
</dd><dd><b>Matilda</b>: Oh, no! On my wedding day?! Somepony's gotta help me! You!
</dd><dd><b>Amethyst Star</b>: Me?
</dd><dd><b>Matilda</b>: I need to move an entire wedding from tomorrow to today!
</dd><dd><b>Amethyst Star</b>: But nopony's asked me to organize anything since Twilight came to town.
</dd><dd><b>Matilda</b>: So you'll do it?
</dd><dd><b>Amethyst Star</b>: I used to be the best organizer in all of Ponyville. You bet I'll—
</dd><dd>[bugbear growling]
</dd><dd><b>Rainbow Dash</b>: Whoa!
</dd><dd>[crash]
</dd><dd><b>Matilda</b>: Come on! We better get to the salon before that monster flattens it!
</dd><dd>[bugbear roaring]
</dd></dl>
<dl><dd>[bugbear growling]
</dd><dd><b>Derpy</b>: What am I gonna do? [gasp] Matilda! I feel so bad about the invitations! Is there anything I can do—
</dd><dd><b>Matilda</b>: FLOWERS!
</dd></dl>
<dl><dd><b>Lily Valley</b>: You want Matilda's arrangements... today?!
</dd><dd>[thud]
</dd><dd><b>Daisy</b>: This is awful!
</dd><dd><b>Rose</b>: The horror, the horror!
</dd><dd><b>Derpy</b>: So there's no way you can do it?
</dd><dd><b>Lily Valley</b>: We don't even have Matilda's flowers in yet, much less arranged! [gasps] This is a disaster!
</dd><dd><b>Derpy</b>: Okay. Thanks anyway.
</dd><dd>[bugbear growling]
</dd><dd><b>Lily Valley</b>: [gasps] Look, girls! A broken stem on one of the zinnias!
</dd><dd><b>Daisy</b>: Whaaat?!
</dd><dd>[thud]
</dd><dd><b>Rose</b>: Oh, the horror, the horror!
</dd></dl>
<dl><dd><b>Sweetie Drops</b>: I have to admit, when Matilda said we needed this place ready by today, I was a little nervous.
</dd><dd><b>Lyra Heartstrings</b>: With you by my side, I knew we'd get it done in time.
</dd><dd><b>Sweetie Drops</b>: There is <i>nothing</i> like a best friend, is there?
</dd><dd><b>Lyra Heartstrings</b>: Anything's possible when you know somepony as well as we know each other!
</dd><dd>[distant bugbear roaring]
</dd><dd><b>Sweetie Drops</b>: What was that?
</dd><dd><b>Lyra Heartstrings</b>: There's some monster attacking Ponyville or something.
</dd><dd><b>Sweetie Drops</b>: What is it this time? A creature from the Everfree Forest?
</dd><dd><b>Lyra Heartstrings</b>: Uh, I think it's some sort of <i>bugbear</i>. [giggles]
</dd><dd><b>Sweetie Drops</b>: Did you say bugbear? It found me!
</dd><dd><b>Lyra Heartstrings</b>: What are you talking about, Bon Bon?
</dd><dd><b>Sweetie Drops</b>: My name isn't Bon Bon. It's "Special
Agent Sweetie Drops". I work for a super-secret anti-monster agency in
Canterlot, or at least I did until the bugbear went missing from
Tartarus a few years back.
</dd><dd><b>Lyra Heartstrings</b>: What are you talking about?
</dd><dd><b>Sweetie Drops</b>: When it escaped, we had to shutter the
whole agency. Every last shred of evidence of the organization's
existence was destroyed. Celestia demanded complete deniability.
</dd><dd><b>Lyra Heartstrings</b>: ...What?
</dd><dd><b>Sweetie Drops</b>: It was me who captured the bugbear. I had
 to go deep cover here in Ponyville and assume the name Bon Bon. I never
 thought it'd be able to track me, but now <i>it has</i>.
</dd><dd><b>Lyra Heartstrings</b>: Are you saying our whole friendship was based on a <i>lie</i>?!
</dd><dd><b>Sweetie Drops</b>: I'm sorry, Lyra! I couldn't tell you for your own protection!
</dd><dd><b>Lyra Heartstrings</b>: B-b-but the lunches! The-the long talks! The benches we sat on! [tearing up] None of that was real?!
</dd><dd><b>Sweetie Drops</b>: It was <i>all</i> real. You're my very best friend.
</dd><dd>[bugbear roaring]
</dd><dd>[window opening]
</dd><dd>[thud]
</dd><dd><b>Sweetie Drops</b>: I've got to go find a crowd to blend into before I put you in danger! I'll see you at the wedding.
</dd><dd><b>Lyra Heartstrings</b>: Fine! But we're going to talk about this later!
</dd><dd><b>Cranky Doodle Donkey</b>: I need my ring today, no matter the cost! ...As long as it doesn't cost any extra.
</dd></dl>
<dl><dd><b>Jeff Letrotski</b>: Seven/ten split, man. Harshest of the harsh. But if you pick this up, we win the whole shebang!
</dd><dd><b>Dr. Hooves</b>: [inhales, exhales]
</dd><dd>[door opens]
</dd><dd><b>Derpy</b>: Doc! I've finally figured out how I can help! Your flameless fireworks look just like flowers! I'll use them for the wedding!
</dd><dd><b>Dr. Hooves</b>: Great whickering stallions! Wait!
</dd><dd>[pin clattering]
</dd><dd><b>Walter</b>: [angry grunt]
</dd><dd><b>Dr. Hooves</b>: Wait! The flameless fireworks are <i>extremely</i> volatile! Without knowing what the trigger is, they could go off at any moment! My word, is that a bugbear?
</dd><dd>[bugbear growling]
</dd><dd><b>Matilda</b>: Oh, there are so many things I'm forgetting! I
hope Cranky remembers to tell the musicians! Oh! Oh! I'll never get my
mane done in time!
</dd><dd><b>Lotus Blossom</b>: You must relax, my dear! We can handle <i>anything</i>! We once did a pony's hair <i>during</i> the ceremony!
</dd><dd><b>Steven Magnet</b>: Oh, it's true, it's true! They really are the best! Matilda, I've just got to say, I already feel like we're family.
</dd><dd><b>Matilda</b>: You do?
</dd><dd><b>Steven Magnet</b>: Of course! I'm Steven Magnet, Cranky's best beast!
</dd><dd><b>Matilda</b>: <i>You're</i> Steven Magnet?
</dd><dd><b>Steven Magnet</b>: Well, what'd you expect, a bugbear? I've known Cranky for<i>ev-er</i>! Surely he must have told you about the time he saved me from Flash Freeze Lake?
</dd><dd><b>Matilda</b>: <i>...You're</i> Steven Magnet.
</dd><dd><b>Steven Magnet</b>: Oh, I know, I know! Typical Cranky, to
leave out minor details, like the fact that I'm, y'know, a sea monster,
right? [laughs] I just love that old burro!
</dd><dd><b>Matilda</b>: I'm sorry, Steven. I guess I assumed you were a pony. And I had no idea you had such adventures together.
</dd><dd><b>Steven Magnet</b>: Oh, honey, you don't know the half of it!
 But let me tell you something. In all that we've been through together,
 the only thing he ever cared about was finding you.
</dd><dd><b>Matilda</b>: Really?
</dd><dd><b>Steven Magnet</b>: Well, that and a baldness cure. [laughs]
</dd><dd><b>Matilda</b>: He is the sweetest thing, isn't he? All the stress I've put myself through. All the stress I've put <i>him</i> through. The only thing that matters is that we're together. The wedding isn't the important thing – the <i>marriage</i> is.
</dd><dd><b>Steven Magnet</b>: [laughing] Oh, goodness gracious. If you
believe that, I have got a bridge to sell you! All these ponies
traveling to Ponyville, putting on uncomfortable clothes, sitting
through a long ceremony, you think any of them care about the <i>marriage</i>? [laughing] Honey, the wedding is <i>everything</i>.
</dd><dd><b>Matilda</b>: [teeth rattling]
</dd></dl>
<dl><dd><b>Octavia Melody</b>: [playing Mendelssohn's "Wedding March"]
Ugh, all these wedding songs are so... standard. I want Matilda and
Cranky's wedding to be special. [continues playing cello]
</dd><dd>[cello overlaid with dubstep beats]
</dd><dd><b>Octavia Melody</b>: Thanks, but I'm not sure that's appropriate for a wedding, is it? [resumes playing]
</dd><dd>[dubstep cello]
</dd><dd><b>Octavia Melody</b>: [gasps] That's more like it!
</dd><dd>[dubstep cello continues]
</dd><dd>[dubstep cello intensifies]
</dd><dd>[record scratch]
</dd><dd><b>Octavia Melody</b>: Stop! I'm going to be late for the wedding!
</dd><dd>[dubstep cello continues]
</dd><dd>[bugbear growling]
</dd><dd>[magic zap]
</dd><dd>[dubstep cello continues]
</dd><dd>[thuds under]
</dd><dd>[dink!]
</dd><dd>[music stops abruptly]
</dd><dd><b>Gummy</b>: [narrating] <i>What is life? Is it nothing more
than the endless search for a cutie mark? And what is a cutie mark but a
 constant reminder that we're all only one bugbear attack away from
oblivion? And what of the poor gator? Flank forever blank, destined to
an existential swim down the river of life to... an unknowable destiny?</i> [licks]
</dd><dd>[series of thuds]
</dd><dd><b>Octavia Melody</b>: Something like that might work.
</dd></dl>
<dl><dd><b>Princess Celestia</b>: [hushed] What do you mean you left it on the counter?!
</dd><dd><b>Princess Luna</b>: [hushed] I thought <i>you</i> were bringing it!
</dd><dd><b>Princess Celestia</b>: [hushed] [groans] Well, this is just <i>wonderful</i>!
</dd><dd>[beat]
</dd><dd><b>Princess Luna</b>: [hushed] <i>I</i> handled the gift for Cadance and Shining Armor! You were supposed to do this one, <i>remember</i>?
</dd><dd><b>Princess Celestia</b>: [hushed] Well, we can't just come to this wedding <i>empty-hoofed</i>!
</dd><dd><b>Shining Armor</b>: [sobbing]
</dd><dd><b>Princess Cadance</b>: [sighs] It's alright. He always cries at weddings.
</dd><dd><b>Shining Armor</b>: [bawling]
</dd><dd><b>Princess Cadance</b>: ...Usually it's not until the wedding <i>starts</i>.
</dd><dd><b>Derpy</b>: These flameless fireworks look even better than flowers! [giggles]
</dd><dd><b>Sweetie Drops</b>: Attention, everypony! Our friends have done it! They've defeated the bugbear!
</dd><dd>[ponies cheering]
</dd><dd><b>Sweetie Drops</b>: [to Lyra] Hey.
</dd><dd><b>Lyra Heartstrings</b>: Hello.
</dd><dd><b>Sweetie Drops</b>: So, uh, you didn't happen to mention our earlier conversation about my [hushed through gritted teeth] <i>secret identity</i> [normal] to anypony, did you?
</dd><dd><b>Lyra Heartstrings</b>: No. I did not. And you're not the only one with a <i>secret</i>, y'know. You know those expensive imported oats you were saving for a special occasion? I cooked them up and <i>ate</i> them! <i>All of them</i>! [laughs] It's sort of thrilling to reveal your deepest, darkest secrets!
</dd><dd><b>Sweetie Drops</b>: [laughs] That's what best friends are for.
</dd><dd><b>Princess Celestia</b>: [hushed] Next time, you can just bring your <i>own</i> gift, and I'll bring <i>mine</i>.
</dd><dd><b>Princess Luna</b>: [hushed] <i>Fine</i>.
</dd><dd>[door creaks]
</dd><dd><b>Dr. Hooves</b>: There you are! My suit has vanished and this was the only thing left in my closet! How do I look?
</dd><dd><b>Derpy</b>: Like a million bits!
</dd><dd><b>Dr. Hooves</b>: Great whickering stallions, look at the time! We'd better get inside. <i>Allons-y</i>!
</dd><dd><b>Cranky Doodle Donkey</b>: I can't believe I lost my hair! I look ridiculous. The love of my life deserves better than this!
</dd><dd><b>Steven Magnet</b>: Have no fear, Cranky, my dear. It's Steven Magnet's mustache to the rescue!
</dd><dd>[shing]
</dd><dd>[fsst]
</dd><dd><b>Cranky Doodle Donkey</b>: Aw, thanks, buddy.
</dd><dd><b>Steven Magnet</b>: Oh, no problem. Now you get in there and marry that donkey!
</dd><dd><b>Mayor Mare</b>: Well, is everypony here?
</dd><dd>[door slams, lock clicks]
</dd><dd><b>Derpy</b>: All set, Mayor!
</dd><dd><b>Mayor Mare</b>: Dearly beloved, we are gathered here today
to join these two in mare-trimony. As I look around this room, I can
only imagine how <i>uncomfortable</i> Cranky must be.
</dd><dd>[ponies laughing]
</dd><dd><b>Cranky Doodle Donkey</b>: [grumbles]
</dd><dd><b>Mayor Mare</b>: But I also see so many ponies from all trots
 of life, brought together by love. Cranky searched all across this
great land of ours to find Matilda, and no matter what obstacles kept
them apart, love would finally bring them together, just as it has
brought all of us together now. It's remarkable to me how a story like
Cranky's search for Matilda could fill this room with such a unique
collection of ponies! It makes you realize that everypony is the star of
 their own story. And it's not just the main characters in our stories
that make life so rich! It's <i>everypony</i> – those who play big parts
 and those who play small. If it weren't for everypony in this room and
many more who couldn't be here today, Cranky and Matilda's lives
wouldn't be as full and vibrant as they are.
</dd><dd><b>Steven Magnet</b>: [crying]
</dd><dd><b>Bulk Biceps</b>: [squeaks]
</dd><dd><b>Mayor Mare</b>: And so, in front of all these loved ones... Cranky, do you take this donkey to be your lawfully wedded wife?
</dd><dd><b>Cranky Doodle Donkey</b>: You bet I do!
</dd><dd><b>Mayor Mare</b>: And do you, Matilda, take this donkey to be your lawfully wedded husband?
</dd><dd><b>Matilda</b>: [tearing up] I do!
</dd><dd><b>Mayor Mare</b>: Then I'm proud to say, I now pronounce you jack and jenny!
</dd><dd><b>Cranky Doodle Donkey</b> and <b>Matilda</b>: [kissing]
</dd><dd>[ponies cheering]
</dd><dd>[flameless fireworks exploding]
</dd><dd><b>Dr. Hooves</b>: [laughs] Of <i>course</i>! They need <i>love</i> to ignite! How could I have missed it?!
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: You know something, girls? We are so lucky to live in this town. I love you all!
</dd><dd><b>Rainbow Dash</b>: Ow! That's where the bugbear bit me!
</dd><dd><b>Twilight Sparkle</b>: Sorry!
</dd></dl>
<dl><dd>[credits]
</dd></dl>
