meta[ title:Scare Master, lines: 312]
<dl><dd>[shades closing]
</dd><dd>[windows clattering]
</dd><dd><b>Fluttershy</b>: Fuzzy Legs, do you think you could secure those windows?
</dd><dd>[webs shooting]
</dd><dd>[windows close]
</dd><dd><b>Fluttershy</b>: And you'll alert me if anything scary comes close to the cottage?
</dd><dd>[birds squawk]
</dd><dd><b>Fluttershy</b>: Oh, who am I kidding? <i>When</i> something scary comes close to the cottage! <i>Please</i> tell me my hiding place is ready.
</dd><dd><b>Harry</b>: [growls]
</dd><dd><b>Fluttershy</b>: Oh, look, you've filled it with everything I
 need to survive this awful night. Thank you. Thank you all! Now I don't
 have to step a hoof outside until this whole thing is over.
</dd><dd>[bucket clattering]
</dd><dd><b>Fluttershy</b>: Oh, no! You don't have any carrots? Do we have any other fresh veggies you may enjoy?
</dd><dd><b>Angel</b>: [growls]
</dd><dd><b>Fluttershy</b>: Or maybe some hay? But that means I'll need to go out... on Nightmare Night!
</dd><dd>[thunder and lightning]
</dd><dd>[ponies laughing]
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd>[fireworks]
</dd><dd>[eerie sound effects]
</dd><dd><b>Twinkleshine</b> and <b>Amethyst Star</b>: [giggling]
</dd><dd><b>Fluttershy</b>: [screams]
</dd><dd><b>Foals</b>: [singsongy] Nightmare Night, what a fright! Give me something sweet to bite!
</dd><dd><b>Fluttershy</b>: [gasps]
</dd><dd><b>Foals</b>: [singsongy] Nightmare Night, what a fright! Give me something sweet to bite!
</dd><dd><b>Granny Smith</b>: Fluttershy? What're you doin' out and about? It's Nightmare Night, remember?
</dd><dd><b>Fluttershy</b>: How could I forget? Oh, I don't suppose I
could borrow a few pieces of hay from you? I forgot to stock up on food
for Angel, and you do seem to have quite a lot.
</dd><dd><b>Granny Smith</b>: We need it for the Apple Family Haunted
Maze. [spooky voice] The scariest maze that there ever was. Who knows
what lurks inside?
</dd><dd><b>Fluttershy</b>: Oh, I'm sure <i>I</i> don't.
</dd><dd><b>Granny Smith</b>: Is that a mummified pony that just leaped out at ya?
</dd><dd><b>Fluttershy</b>: I don't know. Is it?
</dd><dd><b>Granny Smith</b>: And what's that crunchin' sound beneath yer hooves? Maybe it's the bones of ponies that didn't make it out alive!
</dd><dd><b>Fluttershy</b>: B-B-B-B-Bones?!
</dd><dd><b>Granny Smith</b>: And are those peeled grapes or a thousand slimy eyeballs starin' at ya from beyond the grave?
</dd><dd><b>Fluttershy</b>: Please tell me they're grapes!
</dd><dd><b>Granny Smith</b>: Oh, I'll never tell. [maniacal laughter]
</dd><dd>[thunder and lightning]
</dd><dd><b>Fluttershy</b>: [frightened sobs]
</dd><dd><b>Granny Smith</b>: Huh. I wonder what got stuck in her craw.
</dd></dl>
<dl><dd>[thunder and lightning]
</dd><dd>[door opens]
</dd><dd><b>Fluttershy</b>: Twilight? Hello? [screams]
</dd><dd><b>Spike</b>: You think it's scary <i>now</i>, just wait until it's done.
</dd><dd><b>Fluttershy</b>: That's okay. I'll take your word for it.
</dd><dd><b>Spike</b>: [grunts] Hey, wait a minute! It's Nightmare Night
 and you're here and not holed up in your cottage! Does this mean what I
 think it means?
</dd><dd><b>Fluttershy</b>: That I foolishly forgot to stock up on food
for Angel and had to go out to get him something but got spooked in town
 so I came here hoping Twilight had some lettuce I could give him?
</dd><dd><b>Spike</b>: Oh. I thought maybe you decided to come out with us tonight.
</dd><dd><b>Fluttershy</b>: Goodness, no! I couldn't be out tonight. I just couldn't.
</dd><dd><b>Spike</b>: Technically speaking, you already are out right now.
</dd><dd><b>Fluttershy</b>: Oh. I guess that is true.
</dd><dd><b>Spike</b>: So what if you stayed out a little longer with your friends? I know they'd be super excited.
</dd><dd><b>Fluttershy</b>: You think so?
</dd><dd><b>Spike</b>: You would make them <i>so</i> happy if you joined in. They wouldn't believe their eyes! Come on, Fluttershy, what do you say?
</dd><dd>[distant laughter]
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: And then it got very, very quiet and suddenly they realized <i>the balloons had never been inflated</i>!
</dd><dd><b>All but Pinkie Pie</b>: [scream, laugh]
</dd><dd><b>Rarity</b>: Did I ever tell you about the night that the mannequin came to life and haunted all the costumes?
</dd><dd><b>Rainbow Dash</b>: What happened?
</dd><dd><b>Rarity</b>: I just told you, darling. A mannequin came to life and haunted all the costumes.
</dd><dd><b>Pinkie Pie</b>: [squeals]
</dd><dd><b>Fluttershy</b>: Hi, everypony.
</dd><dd><b>All but Fluttershy</b>: [scream]
</dd><dd><b>Twilight Sparkle</b>: Fluttershy, what are you doing here? Is everything okay?
</dd><dd><b>Fluttershy</b>: Everything is fine. In fact, it's <i>more</i> than fine. I've decided to join you in your Nightmare Night festivities.
</dd><dd><b>Rainbow Dash</b>: [scoffs] Seriously? You? Out? Tonight?
</dd><dd><b>Fluttershy</b>: Every Nightmare Night, I shut myself in my
cottage and refuse to come out until morning. But it's just like when I
was afraid to sing in front of anypony. If I hadn't given it a try, I
never would've found out how much I enjoy it.
</dd><dd><b>Applejack</b>: And we'd have missed out on how great you sound.
</dd><dd><b>Rarity</b>: Fluttershy with us on Nightmare Night? Why, that's positively the most wonderful news I've heard in ages!
</dd><dd><b>Pinkie Pie</b>: You can get dressed up in a costume with us and play Nightmare Night games with us <i>and</i> eat candy apples with us!
</dd><dd><b>Applejack</b>: Don't forget the best part. Goin' through my family's corn maze!
</dd><dd><b>Pinkie Pie</b>: [squee]
</dd><dd><b>Fluttershy</b>: Oh, right. The maze.
</dd><dd><b>Applejack</b>: Uh, only if you're up for it.
</dd><dd><b>Fluttershy</b>: Oh, I am! I am ready to take on Nightmare Night!
</dd><dd><b>All but Fluttershy</b>: [cheering]
</dd><dd><b>Fluttershy</b>: [shuddering] [giggles] Just practicing. [nervous laugh]
</dd></dl>
<dl><dd><b>Cutie Mark Crusaders</b>: [giggling]
</dd><dd><b>Rarity</b>: Mummy? No. Headless pony? No. Vampire fruit bat?
 Ugh, definitely no. You see, Fluttershy, the beauty of Nightmare Night
is that you don't have to dress up as something scary.
</dd><dd>[smack]
</dd><dd><b>Rarity</b>: Ooh! Yes. This one will look gorgeous on you. Period costumes are all the rage this year. What? No good?
</dd><dd><b>Fluttershy</b>: What if we encounter something terrifying
and need to get away quickly? All those layers could slow me down, or
worse, make me trip!
</dd><dd><b>Rarity</b>: Oh. I never... considered that. Never fear!
</dd><dd>[smack]
</dd><dd><b>Rarity</b>: [hums] Ooh, now this is a <i>real</i> stunner! I call it "Masquerade"! Just a simple black dress underneath but with this ornately decorated mask!
</dd><dd><b>Fluttershy</b>: A mask?
</dd><dd><b>Rarity</b>: No?
</dd><dd><b>Fluttershy</b>: They can just be so difficult to see out of.
</dd><dd><b>Rarity</b>: Yes, but this one has eyeholes.
</dd><dd><b>Fluttershy</b>: W-What about being able to see what's to the left or right of me?
</dd><dd><b>Rarity</b>: I suppose your vision <i>would</i> be somewhat obscured. It's your first Nightmare Night out and about, and we <i>do</i> want you to be comfortable.
</dd><dd><b>Fluttershy</b>: What if I just wear the dress?
</dd><dd><b>Rarity</b>: Oh, sure, dear. That's... fine. [to herself]
It's so plain, it's frightening. [out loud] Oh, my! Look at all of you!
My costumes fit you to a T!
</dd><dd><b>Applejack</b>: Hoo-wee, we're gonna have the best time!
</dd><dd>[door opens]
</dd><dd><b>Rainbow Dash</b>: Hey, Fluttershy, where's <i>your</i> costume?
</dd><dd><b>Fluttershy</b>: I'm wearing it.
</dd><dd><b>Pinkie Pie</b>: [gasps] I get it! You're a robber escaping into the night! You're a <i>ninja</i> escaping into the night! You're <i>black licorice</i> escaping into the night!
</dd><dd><b>Fluttershy</b>: Close. I'm going to a masquerade ball. Without the mask.
</dd><dd>[bonk]
</dd><dd><b>Twilight Sparkle</b>: Oh, that's great! Isn't it great?
</dd><dd><b>Rainbow Dash</b>: Oh, yeah.
</dd><dd><b>Pinkie Pie</b>: So creative.
</dd><dd><b>Applejack</b>: Great costume.
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: I figured I'd save the really scary games for next year when Fluttershy's more used to it.
</dd><dd><b>All but Rainbow Dash</b>: Round and round and round you go, where you stop nopony knows!
</dd><dd><b>Pinkie Pie</b>: Okay... go!
</dd><dd><b>Rainbow Dash</b>: [grunting] Good luck beating <i>that</i>, Fluttershy!
</dd><dd><b>Fluttershy</b>: Well, um, it's just that if I'm blindfolded
and somepony were to leap out in front of me, I'd never have the chance
to defend myself.
</dd><dd><b>Rarity</b>: That's fine, darling. You don't have to do anything you don't want to.
</dd><dd><b>Twilight Sparkle</b>: We're just glad you're here.
</dd><dd><b>Pinkie Pie</b>: We don't have to finish that game. I have another one I <i>know</i> you'll love! Bobbing for apples!
</dd><dd>[splash]
</dd><dd><b>Fluttershy</b>: [gulps]
</dd><dd><b>Twilight Sparkle</b>: Fluttershy, what's wrong?
</dd><dd><b>Fluttershy</b>: It's just that, um... What happens if, when
my head is deep down in the water, some kind of scary monster appears?
How would I even hear to know I was under attack?
</dd><dd>[beat]
</dd><dd><b>Pinkie Pie</b>: Time for candy!
</dd><dd><b>Fluttershy</b>: It is?
</dd><dd><b>Pinkie Pie</b>: I made candy bags. Each bag has been made with each of <i>you</i> in mind, complete with each of your favorite candies!
</dd><dd><b>Rainbow Dash</b>: Ha! Awesome!
</dd><dd><b>Pinkie Pie</b>: Here. Take it. Take it! What are you waiting for?
</dd><dd><b>Fluttershy</b>: Well, it's just... What if when I'm eating
one of these chewy taffies, my mouth becomes glued shut and I can't
scream for help?
</dd><dd>[beat]
</dd><dd><b>Fluttershy</b>: Oh, goodness. We've only just started to
celebrate Nightmare Night together, and I'm already taking all the fun
out of it, aren't I?
</dd><dd><b>Pinkie Pie</b>: You're not taking out <i>all</i> of the fun.
</dd><dd><b>Rainbow Dash</b>: Just, like, ninety per—
</dd><dd>[clang]
</dd><dd><b>Rainbow Dash</b>: ...<i>Some</i> of it.
</dd><dd><b>Fluttershy</b>: I really wanna do this. But there's just so
many things that terrify me about tonight. I couldn't possibly predict
what might upset me.
</dd><dd><b>Twilight Sparkle</b>: Unless... <i>you</i> were the one doing the scaring!
</dd><dd><b>Rainbow Dash</b>: <i>Her</i> scaring <i>us</i>? [laughing] Oh. You're being serious.
</dd><dd><b>Twilight Sparkle</b>: The thing you hate is being scared, but if <i>you're</i> the one doing the scaring, then...
</dd><dd><b>Fluttershy</b>: Then I can help you all have fun and I can still be a part of Nightmare Night!
</dd><dd><b>Twilight Sparkle</b>: So you like that idea?
</dd><dd><b>Fluttershy</b>: I think I do! And I don't want to get ahead of myself, but I think I have the <i>perfect</i> idea for how I'm gonna do it!
</dd><dd><b>Pinkie Pie</b>: Really? Oh, this is so exciting!
</dd><dd><b>Fluttershy</b>: [spooky voice] Meet me at my cottage in an hour. [normal voice] Oh, I'm excited to see everypony soon!
</dd></dl>
<dl><dd>[knocking at door]
</dd><dd>[door creaks]
</dd><dd><b>Fluttershy</b>: [spooky voice] Welcome to Fluttershy's tea party!
</dd><dd><b>Rainbow Dash</b>: Did she just say "tea party"?
</dd><dd><b>Twilight Sparkle</b>: It sounds like it's a scary tea party?
</dd><dd><b>Rainbow Dash</b>: [sighs]
</dd><dd><b>Fluttershy</b>: [spooky voice] Have a seat. Don't be scared of what awaits you. Go on. Pass the sugar. Oh, no! There <i>is</i> none! You're a terrible host! Rarity, put your coat on!
</dd><dd><b>Rarity</b>: Why would I do that?
</dd><dd><b>Fluttershy</b>: [spooky voice] You need to cover up because
no one has complimented your dressssssss! Pinkie Pie, look to your left
and ask your best friend to pass the cucumber sandwiches!
</dd><dd><b>Pinkie Pie</b>: Huh? I can't. There's nopony there.
</dd><dd><b>Fluttershy</b>: [spooky voice] That's right. Because she didn't care to show uuuuuup.
</dd><dd><b>Pinkie Pie</b>: What?
</dd><dd><b>Fluttershy</b>: [spooky voice] A friend who didn't come through. That must scare you to the coooore. Quick, everypony, look behind you!
</dd><dd><b>Rainbow Dash</b>: Uh, what are those?
</dd><dd><b>Fluttershy</b>: [spooky voice] They're unplanned guests.
Your woooorst nightmare. You don't have enough food for them! Oh, no!
There's a tiny kitten that needs a home! But you are over-scheduled
right now. You don't have time to help! I said, "You don't have time to
help!" This should appear to scare you! [normal voice] Why don't you
look terrified? You showed up to a party and everypony was extremely
disappointed in you. Can you imagine anything more upsetting?
</dd><dd><b>Rarity</b>: It was a really good try, darling, but the scares at Nightmare Night are of an entirely different nature.
</dd><dd><b>Twilight Sparkle</b>: It was really creative, though. I <i>never</i> would have thought of... all this.
</dd><dd>[thunk]
</dd><dd><b>Fluttershy</b>: Oh, I'm just not cut out for this. Just go on without me.
</dd><dd><b>Rarity</b>: Oh, no. We couldn't possibly.
</dd><dd><b>Fluttershy</b>: You <i>have</i> to. This is the night you look forward to all year.
</dd><dd><b>Pinkie Pie</b>: We could... stay here?
</dd><dd><b>Fluttershy</b>: It's okay. I really want you all to have fun. This is how I spend <i>every</i> Nightmare Night. Please go. I'll be fine.
</dd><dd><b>Pinkie Pie</b>: Eh, it's funny. I actually thought she had an idea for something really scary for a second there.
</dd><dd><b>Applejack</b>: She definitely tried her hardest.
</dd><dd>[door closes]
</dd><dd><b>Fluttershy</b>: I <i>did</i> try my hardest.
</dd><dd><b>Angel</b>: [thumping on table]
</dd><dd><b>Fluttershy</b>: Or... maybe not. I suppose I <i>could</i>
have gone with something a bit scarier. You're right! I've been taking
baby steps! I think it's time for grown up ones! I don't suppose you
have any ideas how I could do that?
</dd><dd><b>Angel</b>: [growls mischievously]
</dd></dl>
<dl><dd><b>Applejack</b>: Everypony's linin' up for the corn maze, y'all! Let's go!
</dd><dd><b>Spike</b>: Oh, yeah! I can't believe we're finally doin' this!
</dd><dd>[horse whinnies]
</dd><dd><b>All</b>: [scream, laugh]
</dd><dd><b>Rainbow Dash</b>: It's a good thing Fluttershy isn't here because she would <i>never</i> be able to handle this!
</dd><dd>[distant screams]
</dd><dd><b>All</b>: [gasp]
</dd><dd><b>Big McIntosh</b>: Boooo... Eeyup.
</dd><dd><b>All</b>: [laugh]
</dd><dd>[crackling]
</dd><dd><b>Rarity</b>: What. Is. That. Sound?
</dd><dd><b>Pinkie Pie</b>: It looks like... bones!
</dd><dd><b>All</b>: [scream]
</dd><dd><b>Rainbow Dash</b>: Looks like a bunch of dried sticks painted white to me.
</dd><dd><b>Applejack</b>: Hey, <i>try</i> to keep up the illusion, would ya?
</dd><dd><b>Rarity </b>and <b>Spike</b>: Gah!
</dd><dd><b>All</b>: [laugh]
</dd><dd><b>Pinkie Pie</b>: Whoo!
</dd><dd>[whoosh]
</dd><dd><b>Applejack</b>: Agh! What was that?
</dd><dd><b>Spike</b>: Don't <i>you</i> know?
</dd><dd><b>Applejack</b>: Uh, o-of course I do. It was, uh...
</dd><dd>[ghostly moans]
</dd><dd>[peeyow!]
</dd><dd><b>All</b>: [scream]
</dd><dd>[moaning continues]
</dd><dd><b>Rarity</b>: [grunts] Fluttershy had a point with the layers on the dress.
</dd><dd>[moaning continues]
</dd><dd><b>Applejack</b>: [exclaims]
</dd><dd><b>All</b>: [yell]
</dd><dd>[thud]
</dd><dd><b>All</b>: [groan]
</dd><dd><b>Rarity</b>: What is this? Is it a tunnel? Where does it lead?!
</dd><dd>[grinding]
</dd><dd>[slam]
</dd><dd><b>Twilight Sparkle</b>: Which way are we supposed to go now?!
</dd><dd><b>Applejack</b>: Uh, I don't know! I don't know <i>what's</i> goin' on!
</dd><dd><b>Rainbow Dash</b>: [grunts] What do you mean? Didn't <i>you</i> help plan this?
</dd><dd>[creaking chair]
</dd><dd><b>Applejack</b>: Whew. There's Granny Smith. Not that I was ever <i>scared</i>, 'cause I wasn't. I'm a pretty good actress when I wanna be. Granny? [screams]
</dd><dd><b>All</b>: [scream] [panting]
</dd><dd>[crash]
</dd><dd><b>Spike</b>: Applejack, didn't you know about any of this?!
</dd><dd><b>Applejack</b>: Alright, I got to admit I didn't know about <i>any</i> of this, but maybe they're just tryin' to make it interestin' for me, too! I'm sure Granny Smith or Big Mac is behind this.
</dd><dd><b>Granny Smith</b>: [muffled] Are those peeled grapes or eyeballs starin' at ya from beyond the grave? [cackling]
</dd><dd><b>Big McIntosh</b>: Eeyup.
</dd><dd><b>Cutie Mark Crusaders</b>: [playful scream]
</dd><dd><b>Applejack</b>: [teeth chatter] That's what <i>we</i> were supposed to do! I don't know why we're down here! This is really scarin' me now!
</dd><dd><b>Pinkie Pie</b>: [teeth chattering]
</dd><dd>[foot stomps]
</dd><dd><b>Monster</b>: [growls]
</dd><dd><b>Pinkie Pie</b>: How did <i>that</i> get down here?!
</dd><dd><b>Monster</b>: [roars]
</dd><dd><b>Rainbow Dash</b>: <i>RUUUUUUUUUN!</i>
</dd><dd><b>Pinkie Pie</b> and <b>Spike</b>: [panting] [grunt]
</dd><dd><b>Pinkie Pie</b>: I can't see!
</dd><dd><b>Rainbow Dash</b>: I can barely move!
</dd><dd><b>All</b>: [grunting]
</dd><dd><b>Rainbow Dash</b>: It's like glue!
</dd><dd><b>All</b>: [grunting]
</dd><dd><b>Monster</b>: [roaring]
</dd><dd><b>Twilight Sparkle</b>: [grunts]
</dd><dd>[teleportation zap]
</dd><dd><b>Monster</b>: [growls]
</dd><dd><b>All</b>: [panicked screams]
</dd><dd><b>Flutterbat</b>: [deep cackles] [snarls]
</dd><dd><b>All</b>: [whimpering]
</dd><dd><b>Fluttershy</b>: Oh, my! I'm so, so sorry. Can you ever forgive me?
</dd><dd><b>Applejack</b>: Fluttershy?
</dd><dd><b>Rainbow Dash</b>: It was <i>you</i> the whole time?!
</dd><dd><b>Twilight Sparkle</b>: I can't believe it!
</dd><dd><b>Rarity</b>: That... was...
</dd><dd><b>Pinkie Pie</b>: THE BEST THING EVER! [squee]
</dd><dd><b>Rainbow Dash</b>: It was way more terrifying than the most terrifying thing I could have thought of!
</dd><dd><b>Applejack</b>: You out-nightmared the scariest part of the corn maze!
</dd><dd><b>Twilight Sparkle</b>: How did you do all this?!
</dd><dd><b>Fluttershy</b>: After you left, I realized that I wasn't
ready to give up on Nightmare Night. So I asked Granny Smith if I could
try to make the maze even scarier for my friends.
</dd><dd><b>Rainbow Dash</b>: <i>You</i> came up with all of this?
</dd><dd><b>Fluttershy</b>: I had some help. Angel was the scary figure
that kept scurrying after you in the maze. Fuzzy Legs made the sticky
wall that made it difficult for you to see and move. And, of course,
Harry was the especially scary monster.
</dd><dd><b>Harry</b>: [growls happily]
</dd><dd><b>Twilight Sparkle</b>: Wow! That was inspired!
</dd><dd><b>Pinkie Pie</b>: You have to do this <i>every</i> year!
</dd><dd><b>Applejack</b>: Uh-huh!
</dd><dd><b>Rarity</b>: Absolutely!
</dd><dd><b>Twilight Sparkle</b>: Every year!
</dd><dd><b>Rainbow Dash</b>: Yeah!
</dd><dd><b>Fluttershy</b>: We <i>could</i> celebrate Nightmare Night together every year. But the truth is I really don't want to.
</dd><dd><b>Pinkie Pie</b>: You <i>don't</i>?!
</dd><dd><b>Rarity</b>: But you've done it. You found a way that we can all have a fabulous time together.
</dd><dd><b>Fluttershy</b>: Yes, but I've also realized something. You
all may love Nightmare Night and I may be good at being a part of it,
but it's no fun for me to see my friends feel like they're in danger,
even if I know they're not. I really don't like it. It's just not my cup
 of tea.
</dd><dd><b>Pinkie Pie</b>: Spoooooooooky tea?
</dd><dd><b>Fluttershy</b>: No. Just regular tea. We do lots of fun things together, but I'm afraid this just isn't gonna be one of them. Actually, I'm <i>not</i> afraid. I'm perfectly fine with it.
</dd><dd><b>Twilight Sparkle</b>: Then we are, too.
</dd><dd><b>Harry</b>: [growls happily]
</dd><dd>[bats squeaking]
</dd></dl>
<dl><dd><b>Fluttershy</b>: [sighs] I don't know why I doubted myself for a second. Now <i>this</i> is what I call a perfect Nightmare Night.
</dd></dl>
<dl><dd>[credits]
</dd></dl>
