meta[ title:Gauntlet of Fire, lines: 300]
<dl><dd>[magic aura noises]
</dd><dd>[gems clacking]
</dd><dd><b>Spike</b>: [licks lips]
</dd><dd><b>Rarity</b>: [hushed] The last time I was here, I woke them and ended up with a mane <i>full</i> of bats! [sighs] Thanks for being my basket holder, Spike.
</dd><dd><b>Spike</b>: Basket holder? I thought I was your bodyguard.
</dd><dd><b>Rarity</b>: [hushed] What? Oh, heh, yes, yes, that of course, too. Oh, for once I wish unicorn magic wasn't so... luminescent!
</dd><dd>[gems clacking]
</dd><dd><b>Rarity</b>: [hushed] Spike! You'll wake the bats! Turn that off!
</dd><dd><b>Spike</b>: Ugh, I can't! [groans]
</dd><dd><b>Rarity</b>: [gasps]
</dd><dd>[bats squeaking]
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: I'm so glad you two could come!
</dd><dd><b>Princess Luna</b>: Of course. We so rarely get a chance to relax and just visit.
</dd><dd><b>Princess Celestia</b>: There's usually some crisis we have to deal with. Somepony always needs our help. But today—
</dd><dd><b>Rarity</b>: [muffled, wailing] Help!
</dd><dd>[door opens]
</dd><dd><b>Rarity</b>: Twilight! There's something wrong with Spike!
</dd><dd><b>Twilight Sparkle</b>: What's wrong?
</dd><dd><b>Spike</b>: [grunts] I don't know! Nngh! All of a sudden, my scales just started glowing and... burning!
</dd><dd><b>Princess Luna</b>: Little is known about dragon culture, but this is a phenomenon we've seen before. It is the call of the Dragon Lord.
</dd><dd><b>Princess Celestia</b>: Dragons glow whenever the Dragon Lord has need of them in the Dragon Lands.
</dd><dd><b>Spike</b>: Great... H-How do I make it stop?!
</dd><dd><b>Princess Luna</b>: The only way to end the summons is to answer it. You must journey to the Dragon Lands and see what is expected of you.
</dd><dd><b>Rarity</b>: B-B-But the Dragon Lands are full of... dragons!
 And they're ghastly creatures! [beat] Oh, oh, not you, of course,
Spikey-wikey. But remember that rotten Garble?
</dd><dd><b>Spike</b>: [gulps] How could I forget? He would have burnt
us to a crisp if you weren't there. If I have to go to the Dragon Lands,
 would you two come with me?
</dd><dd><b>Twilight Sparkle</b>: Ooh! Oh my goodness, I'd love to! We are sadly lacking <i>any</i>
 information on dragon culture and customs. I could research them –
maybe even write an article! This could be my chance to make a great
contribution to the knowledge of Equestria! [beat] And be there for
Spike, heh, of course.
</dd><dd><b>Princess Celestia</b>: Be very careful. The Dragon Lands are particularly dangerous for ponies. It would be wise to be discreet.
</dd><dd><b>Rarity</b>: Ooh! I'm sure I still have the dragon costume we used the last time we snuck into the Dragon Lands! [giggles]
</dd><dd><b>Twilight Sparkle</b>: I think we might want something a little more practical this time.
</dd></dl>
<dl><dd><b>Rarity</b>: Hmmm... Well, it may be practical, but this disguise isn't flattering in the slightest!
</dd><dd><b>Twilight Sparkle</b>: [hushed] It's not supposed to be <i>flattering</i>. It's supposed to blend in!
</dd><dd><b>Spike</b>: Shh!
</dd><dd><b>Garble</b>: Hey-hey, look! It's our old friend <i>Sparkle-warkle</i>.
</dd><dd><b>Spike</b>: It's Spike.
</dd><dd><b>Garble</b>: Are you sure your <i>pony</i> friends didn't give you a <i>pony</i> name?
</dd><dd><b>Spike</b>: It's nice to see you too, <i>Garble</i>.
</dd><dd><b>Garble</b>: I didn't say it was nice to see you. It's not. I don't like you. Was I not clear about that?
</dd><dd><b>Twilight Sparkle</b> and <b>Rarity</b>: [grunt]
</dd><dd><b>Spike</b>: Hey! That's my rock!
</dd><dd><b>Garble</b>: Oh, really? Then why aren't you sitting on it?
</dd><dd>[teenage dragons laughing]
</dd><dd><b>Dragon Lord Torch</b>: Dragons of Equestria, hear me! I have
 been Dragon Lord for longer than many of you can remember, and my reign
 has been extraordinary! [beat] <i>Agree with me!</i>
</dd><dd><b>Dragons</b>: [general agreeing noises] Torch! Torch! Torch! Torch!
</dd><dd><b>Spike</b>: Who is <i>that</i>?
</dd><dd><b>Garble</b>: It's Dragon Lord Torch, dummy.
</dd><dd><b>Spike</b>: No, next to him.
</dd><dd><b>Garble</b>: That's his daughter, Princess Ember. I wouldn't even <i>look</i> at her if I were you, unless you want Torch to eat you!
</dd><dd><b>Spike</b>: [gulps]
</dd><dd><b>Twilight Sparkle</b>: [hushed] This is fascinating! Dragons are notoriously reckless, but they do whatever the Dragon Lord says!
</dd><dd><b>Dragon Lord Torch</b>: Unfortunately, according to dragon law, it is time for me to step down. Sad, I know. [beat] <i>Be sad!</i>
</dd><dd>[dragons crying]
</dd><dd><b>Dragon Lord Torch</b>: This is why I have summoned you – to compete for the throne in the Gauntlet of Fire!
</dd><dd>[dragons cheering]
</dd><dd><b>Dragon Lord Torch</b>: Whomever has the strength and
fortitude to retrieve this bloodstone scepter from the heart of the
flame-cano will be crowned Lord of the Dragons!
</dd><dd>[explosion]
</dd><dd>[magic shimmering]
</dd><dd><b>Twilight Sparkle</b>: [hushed] When the scepter disappeared, the dragons stopped glowing! We are learning so much!
</dd><dd><b>Rarity</b>: [prepares to sneeze] [sneezes]
</dd><dd><b>Spike</b>: Uh, excuse me!
</dd><dd><b>Garble</b>: Ugh, you even <i>sneeze</i> like a pony!
</dd><dd><b>Dragon Lord Torch</b>: The Gauntlet is dangerous, for <i>I</i>
 designed it myself! Only dragons with my ferocity, strength, and
determination will be able to finish. We will gather at the cliff when
the sun is at its peak!
</dd><dd>[dragons cheering]
</dd><dd><b>Spike</b>: I don't want to be Dragon Lord <i>or</i> dragon toast, and I stopped glowing, so let's sneak out of here!
</dd><dd><b>Dragon Lord Torch</b>: Ah! Where do you think you're going, little dragon?!
</dd><dd><b>Spike</b>: Oh, uh, hi, your Lordship. Uh, I was just going home!
</dd><dd><b>Dragon Lord Torch</b>: You don't get to leave unless <i>I</i> say you can!
</dd><dd><b>Princess Ember</b>: Dad, look at him. He's just a runt. Besides, he doesn't even wanna compete. Let him go.
</dd><dd><b>Dragon Lord Torch</b>: He is rather tiny, heh-heh. I could squish him with my pinky claw. [chuckles]
</dd><dd><b>Spike</b>: [nervous chuckle]
</dd><dd><b>Dragon Lord Torch</b>: That wasn't a joke. It was a fact. When I want you to laugh, I will say "<i>be amused!</i>"
</dd><dd><b>Spike</b>: Of course, your Lordship! I, uh, guess I don't understand dragon customs. Another reason why I shouldn't compete.
</dd><dd><b>Dragon Lord Torch</b>: [sighs] Hm. Very well then, little dragon. I release you.
</dd><dd><b>Spike</b>: Thank you! [to Ember] And thank <i>you</i>.
</dd><dd><b>Dragon Lord Torch</b>: [grunts] Where do you think <i>you're</i> going?
</dd><dd><b>Princess Ember</b>: To prepare for the Gauntlet.
</dd><dd><b>Dragon Lord Torch</b>: No, you're not. You're not much bigger than that runt I just sent home!
</dd><dd><b>Princess Ember</b>: But I'm smarter than most of these boulderheads and you know it!
</dd><dd><b>Dragon Lord Torch</b>: Being smart won't help you win this
Gauntlet! It was designed for a big, strong dragon to win, because it
takes a big, strong dragon to lead! Besides, <i>I said no!</i>
</dd><dd><b>Princess Ember</b>: [growls] I hate when he does that!
</dd><dd>[dragons chatting]
</dd><dd><b>Maar</b>: Ha. When I become Dragon Lord, I will make burps an official greeting!
</dd><dd><b>"Barry"</b>: Ha, you? Please! When I win, I will pillage
Equestria for all their pillows. Why should these ponies be comfortable
while we sleep on rocks?
</dd><dd><b>Garble</b>: That's nothing! When I'm in charge, the first
thing I'll do is get revenge on those puny ponies! They'll regret they
ever crossed Garble! We'll take whatever we want from Equestria and burn
 the rest!
</dd><dd><b>Twilight Sparkle</b>: [hushed] Oh, my gosh!
</dd><dd><b>Rarity</b>: [hushed] Ooh, I can't believe I'm saying this, but I hope that burping dragon wins!
</dd><dd><b>Spike</b>: None of them can win! Equestria's in big trouble if any of them are in charge!
</dd><dd><b>Twilight Sparkle</b>: But what can we do?
</dd><dd><b>Spike</b>: There's only one thing to do, and only I can do it! I have to win the Gauntlet of Fire!
</dd><dd><b>Twilight Sparkle</b> and <b>Rarity</b>: Oh...
</dd></dl>
<dl><dd><b>Rarity</b>: What do you mean <i>you</i> have to win the Gauntlet?
</dd><dd><b>Spike</b>: It's the only way to protect Equestria from the
dragons. You heard them! They have horrible plans for ponies if they
win! So somehow, I have to do it!
</dd><dd><b>Twilight Sparkle</b>: There has to be another way. It's too dangerous. Besides, if you win, you'd have to stay here!
</dd><dd><b>Spike</b>: I know, but there's no other way to keep my friends safe.
</dd><dd><b>Twilight Sparkle</b>: Well, if you're staying to compete, then we're staying to cheer you on!
</dd></dl>
<dl><dd><b>Dragon Lord Torch</b>: I thought I released you, tiny one!
</dd><dd><b>Spike</b>: I decided to compete. I am a dragon, after all.
</dd><dd><b>Garble</b>: Are you sure? You can't even fly!
</dd><dd>[dragons laughing]
</dd><dd><b>Dragon Lord Torch</b>: All dragons are welcome to compete,
but they do so at their own peril! Flying to Flame-cano Island is the
first of many challenges you will face in your quest to find the
bloodstone scepter! [roars]
</dd><dd>[dragon commotion]
</dd><dd><b>Garble</b>: Good luck! Just kidding. I hope you lose.
</dd><dd>[smack]
</dd><dd><b>Spike</b>: [scream]
</dd><dd>[splash]
</dd><dd><b>Spike</b>: [gasps] [sarcastically] Thanks, Garble! I was planning on swimming anyway!
</dd><dd><b>Rarity</b>: You can do it, Spike!
</dd><dd>[sea worms roaring]
</dd><dd>[splash]
</dd><dd><b>Spike</b>: He's gonna drown!
</dd><dd><b>Twilight Sparkle</b>: Spike!
</dd><dd>[bubbling]
</dd><dd><b>Spike</b>: [gasps] [panting]
</dd></dl>
<dl><dd><b>Spike</b>: Hey, are you okay?
</dd><dd><b>Princess Ember</b>: [coughing]
</dd><dd><b>Spike</b>: [gasps] Princess Ember!
</dd><dd><b>Princess Ember</b>: What do you think <i>you're</i> doing?
</dd><dd><b>Rarity</b>: Only saving your ungrateful scales!
</dd><dd><b>Princess Ember</b>: Did that seaweed just talk? Ponies?! What are they doing here?!
</dd><dd><b>Spike</b>: They're my friends!
</dd><dd><b>Princess Ember</b>: Friends? Dragons don't do friends.
</dd><dd><b>Spike</b>: Well, <i>this</i> dragon does.
</dd><dd><b>Princess Ember</b>: Whatever. I don't care as long as none of you get in my way. I have a Gauntlet to win.
</dd><dd><b>Spike</b>: But I thought your dad said that—
</dd><dd><b>Princess Ember</b>: I don't care what my dad said! I'll show him and every dragon who thinks I'm just a little <i>princess</i> there are better things than being big and strong!
</dd><dd>[slingtail grunts]
</dd><dd>[thwack]
</dd><dd><b>Garble</b>: [scream] [grunts] Don't leave me here, Spike!
</dd><dd><b>Spike</b>: [straining]
</dd><dd><b>Garble</b>: Ha-ha! Knew you'd do it. Your pony friends made you soft.
</dd><dd><b>Spike</b>: Uh-huh. You're welcome.
</dd><dd><b>Garble</b>: For what? I didn't say thank you. [sniffs] Wow,
you even smell like ponies. [sniffs] Or is it coming from over there?
[sniffing]
</dd><dd><b>Princess Ember</b>: [gruff voice] Uh, that's just me. I, uh, robbed some ponies on my way over here.
</dd><dd><b>Garble</b>: Huh, I like your style. Have I met you before? You kind of look like—
</dd><dd><b>Spike</b>: My, uh, old neighbor! Uh, Sandy... Rockbeach!
</dd><dd><b>Garble</b>: Stupid slingtails knocked me down! But I've wasted enough time making small talk. Get it? Ha-ha! Because you're too <i>small</i> to win this! I'm funny.
</dd><dd><b>Princess Ember</b>: Why did you cover for me? You could've had one less competitor.
</dd><dd><b>Spike</b>: I could ask you the same thing. You could've told Garble about my friends.
</dd><dd>[Wilhelm scream]
</dd><dd>[thumps]
</dd><dd><b>Princess Ember</b>: Yikes... That looks rough. But that's what makes it a challenge.
</dd><dd><b>Spike</b>: Are you kidding? Those boulders are huge! Hey,
what if we worked together? You fly me up there, and I'll help look out
for boulders, like a second set of eyes!
</dd><dd><b>Rarity</b>: Pssst!
</dd><dd>[flump]
</dd><dd><b>Rarity</b>: [hushed] Spike! Are you sure it's a good idea to team up with Ember? You don't know her too well.
</dd><dd><b>Spike</b>: I do know she could've told Garble about you, but she didn't. I think we can trust her.
</dd><dd><b>Twilight Sparkle</b>: Her behavior does seem contradictory to everything I've noted about dragons so far.
</dd><dd><b>Princess Ember</b>: Hey, you, little fella! I've thought about it, and your plan makes sense. Let's do it.
</dd><dd><b>Spike</b>: Really? Great! It's a deal!
</dd><dd><b>Princess Ember</b>: Just so you know, this doesn't mean we're gonna pick flowers or exchange necklaces or whatever pony friends do.
</dd><dd><b>Twilight Sparkle</b>: Good luck. We'll meet you at the top.
</dd></dl>
<dl><dd>[dragon commotion]
</dd><dd><b>Spike</b>: Pull up! There's one on your tail!
</dd><dd><b>Princess Ember</b>: [yelps]
</dd><dd><b>Spike</b>: Go left!
</dd></dl>
<dl><dd><b>Spike</b>: So what do we do now?
</dd><dd><b>Princess Ember</b>: I think we go through there.
</dd><dd>[roar of flame]
</dd><dd>[dragons whimpering]
</dd><dd><b>Rarity</b>: [yelps] Oh, that looks scary! I mean, you can do it!
</dd><dd><b>Princess Ember</b>: Listen, Spike. I wouldn't have made it
this far without you. So I guess, if you want to, we could keep working
together. I mean, just until we get through that tunnel.
</dd><dd><b>Spike</b>: Okay!
</dd><dd><b>Twilight Sparkle</b>: [hushed] We'll be right behind you!
</dd></dl>
<dl><dd>[crunching]
</dd><dd><b>Garble</b>: [straining]
</dd><dd>[crunch]
</dd><dd><b>Garble</b>: [groaning]
</dd><dd>[various "shing"s]
</dd><dd><b>Spike</b>: [gasps] Oof!
</dd><dd>[thud]
</dd><dd><b>Garble</b>: Urgh!
</dd><dd>[shing!]
</dd><dd><b>Garble</b>: [groaning]
</dd></dl>
<dl><dd><b>Rarity</b>: Oh, you made it! Oh, we were so worried!
</dd><dd><b>Spike</b>: About us? [scoffs] That tunnel was cake! [groans]
</dd><dd>[thump]
</dd><dd><b>Princess Ember</b>: Wait. How did you two get through?
</dd><dd>[rumbling]
</dd><dd><b>Rarity</b>: [yelps]
</dd><dd><b>Spike</b>: Rarity!
</dd><dd><b>Rarity</b>: [yelps] [panting] Oh, thanks, Spike!
</dd><dd><b>Spike</b>: [sighs] It was nothing.
</dd><dd><b>Princess Ember</b>: Nothing? You just risked everything to save her! And they're putting themselves in danger just to support you!
</dd><dd><b>Spike</b>: Well, that's just what friends do. Don't you have anyone who looks out for you?
</dd><dd><b>Princess Ember</b>: Not really. Unless I count you. [beat]
Which I don't! Because we were only helping each other get through the
tunnel, and now we're through the tunnel, so that's it.
</dd><dd><b>Spike</b>: Wait, what do you mean?
</dd><dd><b>Princess Ember</b>: Well, there's only <i>one</i> winner, <i>one</i> scepter, and <i>one</i> Dragon Lord. So I guess it's every dragon for themselves.
</dd><dd><b>Spike</b>: Oh. So we aren't really friends?
</dd><dd><b>Princess Ember</b>: Maybe if we were in Ponyland, but like I said, dragons don't do friendship.
</dd></dl>
<dl><dd><b>Spike</b>: I can't believe Ember ditched me.
</dd><dd><b>Rarity</b>: [muffled] Oh, you're better off. She was only looking out for herself. She's just like all the other dragons.
</dd><dd><b>Spike</b>: She's not, though. I know it. She saved me, even when she didn't have to. I don't care what she says. That makes us friends.
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Is it just me, or have we seen this crevasse three times already?
</dd><dd><b>Spike</b>: It's kinda hard to tell. They all look the same.
Except for this one! Look! We made it! I can't believe I'm the only
dragon to make it this far!
</dd><dd><b>Garble</b>: You're not! And I'm not losing to a puny pony-loving dragon like you!
</dd><dd><b>Rarity</b>: [yelps] [muffled] We have to do something!
</dd><dd><b>Twilight Sparkle</b>: [muffled] Look!
</dd><dd>[thump]
</dd><dd><b>Garble</b>: [yelps]
</dd><dd><b>Spike</b>: [screaming] Ember! I thought it was every dragon for themselves! Why did you save me?!
</dd><dd><b>Princess Ember</b>: That's what friends do! And I am. I mean, <i>we</i> are. I never should have left you back there. Agh, please don't make me talk about my feelings!
</dd><dd><b>Garble</b>: What the?! [growls]
</dd><dd><b>Princess Ember</b>: Spike! Get the scepter! [grunts]
</dd><dd>[thump]
</dd><dd><b>Garble</b>: [straining] Argh! Whoa!
</dd><dd><b>Princess Ember</b>: [straining]
</dd><dd>[thump]
</dd><dd>[ding!]
</dd><dd><b>Garble</b>: [frustrated grunt] I'm sick and tired of you two helping each other! Dragons don't do helping!
</dd><dd><b>Princess Ember</b>: <i>These</i> dragons do! [grunts]
</dd><dd>[thump]
</dd><dd>[dragons chattering]
</dd><dd><b>Spike</b>: [panting] Whoa...
</dd><dd>[ding!]
</dd><dd>[magic roaring]
</dd><dd>[explosion]
</dd><dd><b>Spike</b>: <i>Leave her alone!</i>
</dd><dd><b>Garble</b>: What? You?! You have the scepter?! But that means that you're...
</dd><dd><b>Princess Ember</b>: The Dragon Lord. Dragon Lord Spike.
</dd><dd><b>Garble</b>: [groans] [reluctantly] Dragon... Lord... Spike...
</dd><dd><b>Spike</b>: That's right! Uh... Now, go start your long journey home. And give every dragon you see on the way a hug. Don't tell them why.
</dd><dd><b>Garble</b>: Awww! But that'll be super embarrassing!
</dd><dd><b>Spike</b>: I command you to do it!
</dd><dd><b>Garble</b>: [annoyed noise] I can't believe this...
</dd><dd><b>Princess Ember</b>: Dragon Lord Spike. Hm, has a nice ring to it.
</dd><dd><b>Spike</b>: Dragon Lord Ember sounds a lot better.
</dd><dd><b>Princess Ember</b>: What? No. <i>You're</i> the Dragon Lord now.
</dd><dd><b>Spike</b>: The Dragon Lord is whoever brings the scepter
back to your father! Besides, you'll make a great leader. I was just
doing this to protect the ponies. But I know you'll protect them just as
 well as I would have.
</dd><dd><b>Princess Ember</b>: You sure about this?
</dd><dd><b>Spike</b>: Absolutely. My home is in Equestria with my friends.
</dd><dd><b>Princess Ember</b>: Well, you'll have at least one friend here too. What are you doing?
</dd><dd><b>Spike</b>: It's called a hug!
</dd><dd><b>Princess Ember</b>: Oh. I don't know if I like it. But... okay.
</dd><dd><b>Spike</b>: Mmmmm!
</dd><dd><b>Twilight Sparkle</b>: [hushed] Awww!
</dd><dd><b>Rarity</b>: [giggles]
</dd></dl>
<dl><dd>[magic shimmering]
</dd><dd><b>Dragon Lord Torch</b>: Ember? You?!
</dd><dd><b>Princess Ember</b>: I know you didn't think I could do it, but I did.
</dd><dd><b>Dragon Lord Torch</b>: I expressly told you <i>not</i> to do it, because you're not—!
</dd><dd><b>Princess Ember</b>: I'm not big and strong. I know. But you
know what? I won anyway. So maybe it takes more than just being big and
strong to be a good Dragon Lord!
</dd><dd><b>Dragon Lord Torch</b>: I was wrong, Ember. You might not be
big, but you are strong and smart, and perhaps that counts for more than
 I thought. And you will make an excellent leader.
</dd><dd><b>Princess Ember</b>: Thanks, dad. [to dragons] <i>Agree with him!</i> Just kidding! That's not gonna be my thing.
</dd><dd><b>Dragon Lord Torch</b>: [laughing] Dragons, hear me! I present to you our new Dragon Lord, Ember!
</dd><dd>[dragons cheering]
</dd><dd><b>Dragon Lord Torch</b>: [to Garble] Hm? What is the meaning of this?!
</dd><dd><b>Garble</b>: I can't tell you!
</dd><dd><b>Princess Ember</b>: [laughs]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: You did well, Spike. With Ember as Dragon Lord, the ponies will be safe and you've gained us a powerful ally.
</dd><dd><b>Spike</b>: And a new friend!
</dd><dd><b>Twilight Sparkle</b>: Plus, Ember said I could write to her
anytime I had questions about dragon culture! With this much
information, I'll be able to write a whole book on dragons!
</dd><dd><b>Rarity</b>: And I gained tons of ideas for a new line of camouflage clothing! I think I'll call it "Camo-Maud"!
</dd><dd><b>Rarity</b>, <b>Twilight Sparkle</b> and <b>Spike</b>: [laughing]
</dd></dl>
<dl><dd>[credits]
</dd></dl>
