meta[ title:Every Little Thing She Does, lines: 294]
<dl><dd>[doors open]
</dd><dd><b>Starlight Glimmer</b>: [yawns]
</dd><dd><b>Twilight Sparkle</b>: [yawns] I've prepared a full day of spells. You've been doing great, but now it's time for a real challenge!
</dd><dd><b>Starlight Glimmer</b>: Oh-ho-ho! It is on! Where do we begin?
</dd><dd><b>Twilight Sparkle</b>: Teleportation! Multiple locations! Try to keep up!
</dd><dd>[teleportation zaps]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Transfiguration!
</dd><dd>[zap]
</dd><dd>[chick chirping]
</dd><dd>[zaps]
</dd><dd><b>Starlight Glimmer</b>: [blows]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Shields!
</dd><dd>[zaps]
</dd><dd>[explosion]
</dd><dd><b>Starlight Glimmer</b>: Whoo! I am on fire! What's next?
</dd><dd><b>Twilight Sparkle</b>: Maybe there is such a thing as too much studying.
</dd><dd>[crash]
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: As you know, speed spells like <i>Accelero</i> are <i>not</i> easy. But if done correctly, they can allow you to be <i>much</i> more efficient with your day.
</dd><dd>[whooshing]
</dd><dd><b>Spike</b>: Way to go, Starlight!
</dd><dd><b>Starlight Glimmer</b>: [laughing] I'm not finished. I've discovered a very old spell, <i>Similo Duplexis</i>, when combined with <i>Accelero</i> in just the right way... [doubled up] ...you can literally be in two places at once! [normal] [sighs] <i>Now</i> I'm finished.
</dd><dd><b>Twilight Sparkle</b>: I have to admit, your skills with magic really are nothing short of amazing. I'm very impressed.
</dd><dd><b>Starlight Glimmer</b>: [laughing] I've always been something of a natural.
</dd><dd><b>Twilight Sparkle</b>: However, it doesn't look like you've tackled any friendship lessons since you met Trixie.
</dd><dd><b>Starlight Glimmer</b>: Are you sure? I could've sworn there were a couple in there somewhere...
</dd><dd><b>Twilight Sparkle</b>: I'm sure.
</dd><dd><b>Starlight Glimmer</b>: I see... Well, I'm really quite busy this week. So many commitments. I'll <i>try</i> and find some time in my—
</dd><dd>[magic zap]
</dd><dd><b>Twilight Sparkle</b>: No time like the present! Spike and I
are headed to Canterlot. Princess Celestia wanted me to give her
students a quick overview on the history of enchanted objects in
Equestria. We'll be back after the presentation, which should be...
</dd><dd><b>Spike</b>: Twenty moons from now?
</dd><dd><b>Twilight Sparkle</b>: Tonight. It's a quick presentation.
</dd><dd><b>Spike</b>: [to himself] Sure, keep telling yourself that...
</dd><dd><b>Twilight Sparkle</b>: You can tackle a friendship lesson today, and we can review your progress when I get back later this evening.
</dd><dd><b>Starlight Glimmer</b>: [nervously] Of course! No problem! Friendship lesson... On it...
</dd><dd><b>Twilight Sparkle</b>: Great! Can't wait. Now, Spike, help me color-code these cards according to time, place, and object.
</dd><dd><b>Spike</b>: [sighs]
</dd></dl>
<dl><dd>[knocking]
</dd><dd>[clicking]
</dd><dd>[door opens]
</dd><dd><b>Starlight Glimmer</b>: Huh? Huh! [humming and muttering to self] Oh, yeah. Mm-hmm.
</dd><dd><b>Spike</b>: Hey! Twilight and I are about to head to Canterlot. Just checking to see if you need anything before we left.
</dd><dd><b>Starlight Glimmer</b>: Nope, not at all! I'm good here. Oh, not good – great! Not a problem in the world! Heh.
</dd><dd><b>Spike</b>: [disbelieving] Uh-huh. So... what are you doing, exactly?
</dd><dd><b>Starlight Glimmer</b>: I... was... just trying to decide
which friendship lesson I was going to tackle while you two were in
Canterlot. Bap-ba-du... Oh, yep, right here, where I just left them a
second ago.
</dd><dd><b>Spike</b>: [blows] [reading] "Bake a cake with Pinkie Pie," "scrapbook with Applejack," "sew with Rarity..."
</dd><dd><b>Starlight Glimmer</b>: [groans]
</dd><dd><b>Spike</b>: "Help an animal with Fluttershy," "chillax with Rainbow Dash?" What is chillaxing?
</dd><dd><b>Starlight Glimmer</b>: No idea.
</dd><dd><b>Spike</b>: You know, uh, if you're nervous about your friendship lessons, it's totally okay to say so.
</dd><dd><b>Starlight Glimmer</b>: Nervous, me? [fake laughter] Oh, Spike, you really are hilarious, ha-ha. You think <i>I'm</i> nervous that I'm gonna fail something as <i>simple</i> as baking a cake?
</dd><dd><b>Spike</b>: Well, if you were, it'd be—
</dd><dd><b>Starlight Glimmer</b>: Silly! Twilight just said how impressed she was that I combined a speed spell and a duplication spell. <i>That</i> was a challenge. These? Pfft, hah! I could combine all five of these at the same time without breaking a sweat.
</dd><dd><b>Spike</b>: I think maybe you're missing—
</dd><dd><b>Starlight Glimmer</b>: An opportunity to really impress Twilight? [gasps] Great idea, Spike! I'm gonna get right on that! Good talk.
</dd><dd><b>Spike</b>: And I thought Twilight was the master of the freak-out.
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: So, with your help, I figure these should be done in no time.
</dd><dd><b>Applejack</b>: Are you sure this is what Twilight would want? Seems like you might want to take your time with each of these.
</dd><dd><b>Starlight Glimmer</b>: But by working as a team, we can get them done faster. And isn't teamwork a key factor in friendship?
</dd><dd><b>Applejack</b>: I... guess.
</dd><dd><b>Starlight Glimmer</b>: Super! Pinkie Pie, since we're baking, you will be in the kitchen.
</dd><dd><b>Pinkie Pie</b>: [inhales]
</dd><dd><b>Starlight Glimmer</b>: Rarity, Applejack, you two can set up in the library.
</dd><dd><b>Rarity</b>: Oh, I don't know that a dusty old library has the proper lighting. Perhaps we can stay out here in the foyer.
</dd><dd><b>Starlight Glimmer</b>: I thought that Fluttershy and I could work with the animals right here in the foyer.
</dd><dd><b>Fluttershy</b>: Oh, um, whatever you think is best.
</dd><dd><b>Starlight Glimmer</b>: Great. Now, Rainbow Dash—
</dd><dd><b>Fluttershy</b>: It might depend on the animal. For instance,
 this poor little eagle with a sprained wing might be better off up in
one of the towers.
</dd><dd><b>Starlight Glimmer</b>: Yeah, yeah, yeah, sure.
</dd><dd><b>Fluttershy</b>: And these adorable little chipmunks might prefer a nook somewhere. Maybe if you spend some time getting to know—
</dd><dd><b>Starlight Glimmer</b>: In a minute, Fluttershy.
</dd><dd><b>Rainbow Dash</b>: Uh, I don't know if we can chillax properly in the castle. We need very specific conditions for optimal chillaxing.
</dd><dd><b>Starlight Glimmer</b>: Oh, I just assumed chillaxing could happen anywhere.
</dd><dd><b>Rainbow Dash</b>: Heh. Shows what you know about chillaxing. Let me do some location scouting.
</dd><dd>[whoosh]
</dd><dd><b>Starlight Glimmer</b>: Okay... It seemed more efficient to start with the scrapbooking, so we can just get it out of the—
</dd><dd><b>Pinkie Pie</b>: Ooh, ooh, ooh-ooh-ooh! Can we start with me? We're gonna need time for the cake to bake! After all...
<dl><dd>It's a piece of cake to bake a pretty cake—
</dd></dl>
</dd><dd><b>Starlight Glimmer</b>: Uh, we're on a schedule, no time for a song. We can start with baking, then—
</dd><dd><b>Rarity</b>: But we can't design dresses after you've been baking with Pinkie. [hushed] She can be a bit messy.
</dd><dd>[squidge]
</dd><dd><b>Pinkie Pie</b>: Mmm!
</dd><dd><b>Starlight Glimmer</b>: Fine. We can start with the dresses, and then—
</dd><dd><b>Applejack</b>: While y'all figure that out, I'm gonna start layin' out the pictures for scrapbookin'. We got a whole lot of time to cover.
</dd><dd><b>Starlight Glimmer</b>: How much is a whole lot?
</dd><dd><b>Applejack</b>: We've got at least eighty moons worth of memories to go through.
</dd><dd><b>Starlight Glimmer</b>: Eighty moons?!
</dd><dd><b>Rainbow Dash</b>: Ugh. There is nowhere to chillax in this castle! We're gonna have to set up somewhere else.
</dd><dd><b>Rainbow Dash</b>, <b>Applejack</b>, <b>Fluttershy</b>, <b>Rarity</b>, and <b>Pinkie Pie</b>: [overlapped argument]
</dd><dd><b>Starlight Glimmer</b>: Could you all excuse me for... one... second?
</dd><dd>[whoosh]
</dd><dd><b>Rainbow Dash</b>: Wow. That pony really needs to chillax.
</dd></dl>
<dl><dd>[door opens]
</dd><dd><b>Starlight Glimmer</b>: [hyperventilating] Okay, Starlight.
You've got this. A handful of friendship lessons is nothing compared to
the spells you've mastered. [nervous laugh] Maybe if I cast a little
spell to help things along... Something simple and safe. <i>Fiducia Compelus</i>... That's not bad. They would barely notice it, but... is it enough? Oh... Maybe <i>Cogeria</i> so they're more... open to suggestion. Oh, or maybe <i>Cogeria</i> combined with <i>Fiducia Compelus</i>! Yes, that could work nicely! Oh, with a hint of <i>Persuadere</i> to be sure it sticks.
</dd><dd>[magic zap]
</dd><dd><b>Starlight Glimmer</b>: Everypony'll probably thank me for
getting it all done so quickly. And Twilight will be thrilled I've
completed so many lessons. Everypony wins!
</dd><dd>[magic zap]
</dd><dd><b>Starlight Glimmer</b>: Congratulations, Starlight. You're a genius. [gasps] Maybe the congratulations were a little premature...
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: <i>Cogeria</i>... <i>Persuadere</i>... <i>Fiducia</i>... Hmm. Ah! Of course! <i>Fiducia Compelus</i> needs a trigger. [amplified] <i>Ponies! Hear my voice and listen!</i>
</dd><dd>[magic zap]
</dd><dd><b>Starlight Glimmer</b>: Pinkie, kitchen. Rarity, Applejack,
library. Fluttershy, stay here. Rainbow Dash, find somewhere inside the
castle and set up a place where we can chillax.
</dd><dd><b>Rainbow Dash</b>, <b>Applejack</b>, <b>Rarity</b>, and <b>Pinkie Pie</b>: [overlapped agreement]
</dd></dl>
<dl><dd>[door opens]
</dd><dd><b>Starlight Glimmer</b>: Let's get to work, Pinkie!
</dd><dd><b>Pinkie Pie</b>: [mechanically] Okie-dokie! What would you like to do first?
</dd><dd><b>Starlight Glimmer</b>: Uh, what are we <i>supposed</i> to do first?
</dd><dd><b>Pinkie Pie</b>: [mechanically] Whatever you want to do first, Starlight Glimmer.
</dd><dd><b>Starlight Glimmer</b>: [reading] In a medium-size mixing
bowl, beat together eggs, sugar, and two teaspoons of vanilla... [beat]
mix in flour... [beat] [quickly] add baking soda, salt and cinnamon!
Hmm. I think you can take it from here.
</dd><dd><b>Pinkie Pie</b>: [mechanically] Take what from where?
</dd><dd><b>Starlight Glimmer</b>: The baking. Just keep following the instructions in the book until I get back.
</dd><dd><b>Pinkie Pie</b>: [mechanically] Abso-tively! Instruction following starting... now!
</dd><dd><b>Starlight Glimmer</b>: Baking a cake – check! Now on to sewing!
</dd><dd>[door closes]
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: What did you have in mind, Rarity?
</dd><dd><b>Rarity</b>: [mechanically] Whatever you want me to have in my mind, Starlight Glimmer.
</dd><dd><b>Starlight Glimmer</b>: Can you make a dress exactly like that one?
</dd><dd><b>Rarity</b>: [mechanically] <i>Just</i> like this one?
</dd><dd><b>Starlight Glimmer</b>: Just like it.
</dd><dd><b>Rarity</b>: [mechanically] Absolutely. It will look perfectly divine.
</dd><dd><b>Starlight Glimmer</b>: That's a whole lot of photos. How do you usually organize them?
</dd><dd><b>Applejack</b>: [mechanically] However you want me to organize them, Starlight.
</dd><dd><b>Starlight Glimmer</b>: Okay. Tell me about this one.
</dd><dd><b>Applejack</b>: [mechanically] Sweet Apple Acres, twenty
moons ago. Granny Smith was lookin' for her favorite pie tin. She looked
 in the kitchen, but it wasn't there. She looked in the barn, but it
wasn't there.
</dd><dd><b>Starlight Glimmer</b>: Ugh. I don't need every little detail. Heh. Just sum up the story in one sentence.
</dd><dd><b>Applejack</b>: [mechanically] Huh. Turns out Granny Smith didn't know how to make a pig do the backstroke.
</dd><dd><b>Starlight Glimmer</b>: Uh-huh... Why don't you keep putting
these photos in chronological order, and when I come back, you can give
me more... highlights?
</dd><dd><b>Applejack</b>: [mechanically] Sure thing, Starlight Glimmer.
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: Fluttershy, where are all the animals?
</dd><dd><b>Fluttershy</b>: [mechanically] They ran away.
</dd><dd><b>Starlight Glimmer</b>: And why didn't you stop them?
</dd><dd><b>Fluttershy</b>: [mechanically] Because you didn't ask me to.
</dd><dd><b>Starlight Glimmer</b>: Obviously I wanted you to... Never
mind. Can you please round up all the animals in the castle and bring
them back here to the foyer?
</dd><dd><b>Fluttershy</b>: [mechanically] All the animals. Got it.
</dd><dd><b>Starlight Glimmer</b>: Did you find a place to chillax, Rainbow Dash?
</dd><dd><b>Rainbow Dash</b>: [mechanically] Sure thing, Starlight Glimmer!
</dd><dd><b>Starlight Glimmer</b>: Great. Let me know when it's ready.
</dd><dd><b>Rainbow Dash</b>: [mechanically] Yes, Starlight Glimmer.
</dd></dl>
<dl><dd><b>Applejack</b>: [mechanically] Granny Smith knew she was gonna
 need a bigger boat, so Goldie Delicious says, "If you can't say
anythin' nice about anypony, come sit by me!" Big Mac knew if he just
covered himself in mud, the creature wouldn't be able to see him!
</dd><dd><b>Rarity</b>: [mechanically] Starlight Glimmer. I have finished the dress. Isn't it gorgeous?
</dd><dd><b>Starlight Glimmer</b>: What is that?
</dd><dd><b>Rarity</b>: [mechanically] You wanted me to make a dress exactly like the one in the book.
</dd><dd><b>Starlight Glimmer</b>: [sighs] Go make a <i>real</i> dress out of fabric, exactly like the one in the book.
</dd><dd><b>Rarity</b>: [mechanically] Ah. I see. Yes, of course, Starlight Glimmer.
</dd><dd>[beat]
</dd><dd><b>Starlight Glimmer</b>: Rarity! Make it <i>bigger</i> than the one in the book.
</dd><dd><b>Rarity</b>: [mechanically] Of course, darling. Bigger it is.
</dd><dd>[mouse squeaks]
</dd></dl>
<dl><dd><b>Applejack</b>: [mechanically] She was just a pony standin' in front of another pony askin' him to love her.
</dd></dl>
<dl><dd>[door opens]
</dd><dd>[crash]
</dd><dd><b>Starlight Glimmer</b>: Pinkie, what are you doing?!
</dd><dd><b>Pinkie Pie</b>: [mechanically] Following all of the instructions in the cookbook in order, Starlight Glimmer!
</dd><dd><b>Starlight Glimmer</b>: I meant just the one cake! I was only gone a few minutes! How in Equestria did you get all of this done so fast?
</dd><dd><b>Pinkie Pie</b>: [mechanically] First, I combined three eggs, then I— [muffled noises]
</dd><dd><b>Starlight Glimmer</b>: Think the baking lesson is done.
</dd><dd><b>Harry</b>: [growling]
</dd><dd><b>Starlight Glimmer</b>: Oh, what now?
</dd><dd>[oven crackling]
</dd></dl>
<dl><dd><b>Applejack</b>: [mechanically] They can take our farm, but they can't take our freedom!
</dd><dd><b>Starlight Glimmer</b>: What's going on?!
</dd><dd><b>Harry</b>: [growls]
</dd><dd><b>Fluttershy</b>: [mechanically] I gathered all of the animals like you asked, Starlight Glimmer.
</dd><dd>[thud]
</dd><dd><b>Rarity</b>: [mechanically] Oh, yes, this will do nicely.
</dd><dd>[thud]
</dd><dd><b>Rarity</b>: [mechanically] A much bigger dress!
</dd><dd><b>Applejack</b>: [mechanically, muffled] It was the best of apples, it was the worst of apples...
</dd><dd><b>Starlight Glimmer</b>: [exhales] I can handle this. It's just magic, and I know magic. What's that?!
</dd><dd><b>Pinkie Pie</b>: [muffled noises]
</dd><dd><b>Starlight Glimmer</b>: What did you say?
</dd><dd><b>Pinkie Pie</b>: [mechanically] The cakes are burning. You left the ovens on.
</dd><dd><b>Starlight Glimmer</b>: We need water!
</dd><dd><b>Rainbow Dash</b>: [mechanically] Yes, Starlight Glimmer.
</dd><dd><b>Starlight Glimmer</b>: <i>Storm</i> clouds?!
</dd><dd>[thunder rolling]
</dd><dd><b>Harry</b>: [confused noise]
</dd><dd>[splashing]
</dd><dd><b>Applejack</b>: [mechanically] Big Mac told me, "With a whole lot of power comes a heck of a lot of responsibility."
</dd><dd><b>Starlight Glimmer</b>: [groans] This can't get any worse!
</dd><dd><b>Twilight Sparkle</b>: What is going on?!
</dd></dl>
<dl><dd>[spider squeaks]
</dd><dd>[brushing]
</dd><dd><b>Spike</b>: I had no idea we had spiders in the castle! I'm never sleeping again!
</dd><dd><b>Starlight Glimmer</b>: Maybe if I had reversed the <i>Fiducia Compelus</i> and <i>Cogeria</i>... Or maybe I added too much <i>Persuadere</i>... What?
</dd><dd><b>Spike</b>: You're really missing the point here.
</dd><dd><b>Twilight Sparkle</b>: [sighs] I finally untangled that mess of a spell and got everypony home. It was really powerful stuff. They're gonna feel <i>that</i> in the morning. Now please try to explain to me how in the name of Celestia things got <i>this</i> out of control.
</dd><dd><b>Starlight Glimmer</b>: Well, it was the <i>first</i> time I cast that particular spell, and I didn't fully think it through. I-I bet if I had reversed—
</dd><dd><b>Twilight Sparkle</b>: I think you might be missing the point here.
</dd><dd><b>Spike</b>: Told ya.
</dd><dd><b>Twilight Sparkle</b>: What made you think that casting a spell on your friends to do your bidding was even remotely a good idea?
</dd><dd><b>Starlight Glimmer</b>: Well, when you put it that way, it sounds really bad.
</dd><dd><b>Twilight Sparkle</b>: That's because it <i>is</i> really bad!
</dd><dd><b>Starlight Glimmer</b>: [stammering]
</dd><dd><b>Twilight Sparkle</b>: Starlight, I'm not mad at you, but I
am disappointed. You've been doing so well. I just don't understand how a
 friendship lesson turned into all of this.
</dd><dd><b>Starlight Glimmer</b>: Ugh, fine! I've been avoiding the friendship lessons on purpose.
</dd><dd><b>Twilight Sparkle</b>: Why?
</dd><dd><b>Starlight Glimmer</b>: I can cast complex spells, but baking
 a cake with Pinkie Pie freaks me out! And yes, I know how ridiculous
that sounds. That's why I didn't say anything. I thought if I just kept
wowing you with my magical abilities, you might just... not... notice?
</dd><dd><b>Twilight Sparkle</b>: Baking a cake freaks you out?
</dd><dd><b>Starlight Glimmer</b>: Yes! Baking a cake, sewing – all of
it! What if I was bad at it? I didn't want to be a disappointment to
anypony, and I ended up being a disappointment to everypony.
</dd><dd><b>Twilight Sparkle</b>: Starlight, do you think anypony cares if you can bake a cake?
</dd><dd><b>Starlight Glimmer</b>: But the lesson—
</dd><dd><b>Twilight Sparkle</b>: Was to get to know Pinkie Pie better by doing something she loves. It was a friendship lesson, not a baking lesson.
</dd><dd><b>Starlight Glimmer</b>: Oh. You know, I think I might have missed the point here.
</dd><dd><b>Spike</b>: Told ya.
</dd><dd><b>Starlight Glimmer</b>: So now what?
</dd><dd><b>Twilight Sparkle</b>: Now it's time for a pretty advanced friendship lesson. It's called apologizing.
</dd></dl>
<dl><dd><b>Applejack</b>: [groaning] I don't know what kind of whammy
Starlight put on us, but I feel like I got shoved through the Super
Speedy Cider Squeezy 6000.
</dd><dd><b>Rainbow Dash</b>: Ugh, tell me about it.
</dd><dd><b>Rarity</b>: [hushed] If everypony could speak in a whisper for the next few days, that would be delightful. My head is thumping...!
</dd><dd><b>Fluttershy</b>: [tired] I was up all night calming the animals down.
</dd><dd><b>Rarity</b>: [hushed] Fluttershy, please! Not so loud...
</dd><dd><b>Pinkie Pie</b>: Starlight's spell made me burn perfectly good cake! <i>I never burn cake!</i>
</dd><dd><b>Starlight Glimmer</b>: Yeah, about that... Things got a little out of hand last night.
</dd><dd><b>Applejack</b>: Well, ain't that the understatement of the day.
</dd><dd><b>Pinkie Pie</b>: Hmph! Tell it to the cake, sister!
</dd><dd><b>Rarity</b>: [hushed] Can we all <i>please</i> argue at a lower volume?
</dd><dd><b>Starlight Glimmer</b>: I <i>really</i> messed up. I cast the spell because I was nervous about working with you on the friendship lessons.
</dd><dd><b>Rainbow Dash</b>: Well, here's a friendship lesson for ya — <i>don't cast spells on your friends!</i>
</dd><dd><b>Starlight Glimmer</b>: Believe me, I know. What I did was
wrong, a-and I can't take it back. You're right to be upset, and I hope
one day I can make it up to you. But all I can say is... I'm sorry. Now,
 if you'll excuse me, I've gotta go clean the castle covered in wet cake
 batter and spiders.
</dd><dd><b>Rainbow Dash</b>: That <i>was</i> a pretty good apology.
</dd><dd><b>Fluttershy</b>: Seems like she feels pretty bad.
</dd><dd><b>Applejack</b>: Hey, Starlight! Most of the Apple family
photos are still layin' around in the wreckage. I think I'll come along
and hunt 'em down.
</dd><dd><b>Fluttershy</b>: Oh, and I feel awful for disturbing all of those cute little spiders and bats. I should check on them.
</dd><dd><b>Rarity</b>: Ah, yes, and I left some lovely fabric out. I should come and move it to that nice quiet library.
</dd><dd><b>Rainbow Dash</b>: Uh, I'll come and get those storm clouds out of the bathroom.
</dd><dd><b>Pinkie Pie</b>: <i>Fine!</i> <i>Somepony</i> has to bake a cake to honor all the poor cakes that sacrificed their batter in last night's tragedy!
</dd></dl>
<dl><dd>[montage music]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: It seems your apology went well.
</dd><dd><b>Starlight Glimmer</b>: [sighs] I'm just lucky to have such
understanding friends, but it's probably going to be a while before I
try to tackle those friendship lessons again.
</dd><dd><b>Twilight Sparkle</b>: What do you mean? You've been doing them all day.
</dd><dd><b>Starlight Glimmer</b>: What are you talking about? I've been cleaning up the mess I made by totally failing at friendship.
</dd><dd><b>Twilight Sparkle</b>: Really? But didn't I see you sewing with Rarity?
</dd><dd><b>Starlight Glimmer</b>: Yes, but—
</dd><dd><b>Twilight Sparkle</b>: And you and Applejack did a great job
collecting those photos and putting them in the book. Helping animals
with Fluttershy, baking with Pinkie Pie – those sound like your
assignments to me. In fact, I think there's just one that you're
missing.
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: Sun – check. Chairs – check. And thanks to a simple <i>Catadupa Levitata</i> spell, we've got water. Is that everything we need to chillax?
</dd><dd><b>Rainbow Dash</b>: Nope.
</dd><dd><b>Starlight Glimmer</b>: No? What did I miss?
</dd><dd><b>Rainbow Dash</b>: <i>Quiet.</i>
</dd><dd><b>Starlight Glimmer</b>: Ah! Right.
</dd><dd><b>Twilight Sparkle</b>: Great job, Starlight. Looks like you've completed another friendship lesson. [sighs]
</dd><dd><b>Rainbow Dash</b>: Hey! She completes the lesson when <i>I</i> say she completes it. So less learning and more chillaxing!
</dd><dd>[beat]
</dd><dd><b>Starlight Glimmer</b>: So... How long do we sit quietly?
</dd><dd><b>Main cast</b>: [laughing]
</dd></dl>
<dl><dd>[credits]
</dd></dl>
