meta[ title:Forever Filly, lines: 292]
<dl><dd><b>Sassy Saddles</b>: [panting] [muttering] Oh, I have to... Oh! I can't believe the winter-to-spring transition is almost here!
</dd><dd><b>Rarity</b>: [humming] Oh, I know. I love it so much, I gave it its own term – "Spring-sition"! [laughs]
</dd><dd><b>Sassy Saddles</b>: Ohhh. I like that. [sighs] I'm going to have to relabel <i>all</i> my binders. Right after we finish... <i>everything</i>! We still have so much to do! Oh, my bustles and bows! Rarity, did we—?
</dd><dd><b>Rarity</b>: Already hemmed, ruched, and cut, my dear.
</dd><dd><b>Sassy Saddles</b>: [sighs] Oh. Rarity, no reason to panic,
but, um, we seem to be temporarily low! And when I say "temporarily
low", I mean "completely out of"—!
</dd><dd><b>Rarity</b>: The baby blue sapphires? They arrived this morning.
</dd><dd><b>Sassy Saddles</b>: Oh. Heh. Wonderful. [sighs] Oh! What about the design for the—?!
</dd><dd><b>Rarity</b>: And done!
</dd><dd><b>Sassy Saddles</b>: Wow. You <i>are</i> good. And you've really outdone yourself this time! The Morning Sunshine Tulip Frock is gorgeous!
</dd><dd><b>Rarity</b>: Ooh, thank you. Look, I know you're worried
about something slipping between the cracks. But with your managerial
skills and my fabulous designs, we have everything covered.
</dd><dd><b>Sassy Saddles</b>: You're right. You're right. There are no cracks.
</dd><dd><b>Rarity</b>: Would you be a dear and fetch me some vermilion
satin from the back? And I'll start on the Eternal Elegance Empire
Silhouette evening gown.
</dd><dd><b>Sassy Saddles</b>: My most certain pleasure!
</dd><dd><b>Rarity</b>: Oh. I love this picture. When was the last time
we had that kind of fun together? [gasps] Why, I can't remember! Has it
been that long?! I guess I've been so busy running my shop! [gasps] Oh,
no! Something, or should I say somepony, <i>is</i> slipping between the cracks! [sobs] I miss my Sweetie Belle! [sobs]
</dd><dd><b>Sassy Saddles</b>: Rarity, we're running low on vermilion satin.
</dd><dd><b>Rarity</b>: Huh? [bawls]
</dd><dd><b>Sassy Saddles</b>: I... I can order more!
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Rarity</b>: [continues bawling] And this is when we pretended
 we were storybook princesses. And here we pretended we were on a
dangerous yet stylish safari. [sobs] So many wonderful memories! [sobs,
blows nose, resumes sobbing] Not to put too fine a point on it, but...
[bawls harder] Sweetie Belle loves playing dress-up. I miss her so much!
</dd><dd><b>Sassy Saddles</b>: Then why don't you go visit her?
</dd><dd><b>Rarity</b>: [through tears] I wish I... could, but... between... running... three stores and the spring-sition... I couldn't possibly...
</dd><dd><b>Sassy Saddles</b>: But you've already done almost all the work. I can handle the rest.
</dd><dd><b>Rarity</b>: B-B-But... but...
</dd><dd><b>Sassy Saddles</b>: Rarity, go. I have everything well in hoof.
</dd><dd><b>Rarity</b>: [sobs, calmer] Mm, point taken. [excitedly] I am going to visit my sister!
</dd><dd><b>Sassy Saddles</b>: Way to immediately turn <i>that</i> around.
</dd><dd><b>Rarity</b>: We can spend the whole day together! And we can do all her favorite things!
</dd><dd><b>Sassy Saddles</b>: I'm sure she'd love that.
</dd><dd><b>Rarity</b>: Oh, Sassy, thank you!
</dd><dd><b>Sassy Saddles</b>: Of course! Now get out of here!
</dd><dd><b>Rarity</b>: I'm going! I'm going! Hang on, sis! I'm coming!
</dd></dl>
<dl><dd><b>Cutie Mark Crusaders</b>: [giggling]
</dd><dd><b>Starry Eyes</b>: [screams]
</dd><dd><b>Scootaloo</b>: Excuse us!
</dd><dd><b>Apple Bloom</b>: Comin' through!
</dd><dd><b>Sweetie Belle</b>: Cutie Mark Crusaders mid-mission here!
</dd><dd><b>Cutie Mark Crusaders</b>: [giggling, screaming]
</dd><dd>[crash!]
</dd><dd><b>Scootaloo</b>: That was fun! Let's do it again!
</dd><dd><b>Sweetie Belle</b>: Scoot, we've got a job to do.
</dd><dd><b>Scootaloo</b>: Later?
</dd><dd><b>Sweetie Belle</b>: All right, Chipcutter. We've done <i>our</i> part. The rest is up to you.
</dd><dd><b>Chipcutter</b>: You <i>really</i> think I have it in me to be a sculptor?
</dd><dd><b>Scootaloo</b>: Yup!
</dd><dd><b>Chipcutter</b>: But why?
</dd><dd><b>Sweetie Belle</b>: Because you said you weren't good at anything except getting in trouble for making sculptures out of your lunch, right?
</dd><dd><b>Chipcutter</b>: Yeah. I can't help it. When I look at my sandwich, it's like it's just asking me to... turn it into a dragon.
</dd><dd><b>Apple Bloom</b>: Well, what is <i>this</i> slab asking you to turn it into?
</dd><dd><b>Chipcutter</b>: Hmmm... I see...
</dd><dd>[jackhammering noises]
</dd><dd>[crumble]
</dd><dd><b>Apple Bloom</b>: Wow! T-That's incredible! It looks just like us!
</dd><dd><b>Scootaloo</b>: We knew you had it in you, Chip!
</dd><dd><b>Chipcutter</b>: This is <i>way</i> better than sandwich sculpting!
</dd><dd><b>Sweetie Belle</b>: Chip, we're proud of you.
</dd><dd>[flash]
</dd><dd><b>Chipcutter</b>: I finally got my cutie mark!
</dd><dd><b>Apple Bloom</b>: Woo-hoo! All right!
</dd><dd><b>Scootaloo</b>: Yes!
</dd><dd><b>Sweetie Belle</b>: Way to go!
</dd><dd>[hoof-bump]
</dd></dl>
<dl><dd><b>Scootaloo</b>: [sighs] Not a bad way to start a day.
</dd><dd><b>Apple Bloom</b>: Not a bad way at all! Helpin' ponies is just about my favorite thing to do.
</dd><dd><b>Sweetie Belle</b>: Another satisfied client!
</dd><dd><b>Apple Bloom</b> and <b>Scootaloo</b>: Mm-hmm!
</dd><dd><b>Apple Bloom</b>: So who's up next?
</dd><dd><b>Sweetie Belle</b>: Pretty sure it's Zipporwhill. She needs help reconnecting with her cutie mark – three puppy paw prints.
</dd><dd><b>Scootaloo</b>: When is she swinging by?
</dd><dd><b>Sweetie Belle</b>: Well, I think she should be arriving right about...
</dd><dd>[door opens]
</dd><dd><b>Sweetie Belle</b>: ...now.
</dd><dd><b>Apple Bloom</b>: Wow. You <i>are</i> good.
</dd><dd><b>Sweetie Belle</b>: Come on in, Zipporwhill.
</dd><dd><b>Scootaloo</b>: Okay, so what seems to be the problem, exactly?
</dd><dd><b>Zipporwhill</b>: It's my puppy, Ripley. We used to be so
close. In fact, I got my cutie mark the day I found him and took him
home. But now, it's like he wants nothing to do with me.
</dd><dd><b>Scootaloo</b>: Don't you worry. You've come to the right place! The Cutie Mark Crusaders are on the job!
</dd><dd><b>Apple Bloom</b>: Trust us. Before you know it, you and your puppy will be back to bein' besties!
</dd><dd><b>Sweetie Belle</b>: You have the CMC guarantee! No matter what it takes, we promise you'll have our full attention.
</dd><dd><b>Rarity</b>: [singsongy] Guess who's here to spend the whole day with her little sister?!
</dd><dd><b>Sweetie Belle</b>: [gasps] Rarity? [grunts]
</dd><dd><b>Rarity</b>: Mmmm!
</dd><dd><b>Sweetie Belle</b>: [laughs nervously]
</dd></dl>
<dl><dd><b>Rarity</b>: [to Zipporwhill] Oh! Heh-heh. So sorry, dear.
You're tiny. I didn't even see you there! Tend to get carried away with
my entrances! Ta-da! [laughs]
</dd><dd><b>Sweetie Belle</b>: Rarity, what are <i>you</i> doing here?
</dd><dd><b>Rarity</b>: I am here to spend the day with you! I'm so
excited, I could practically faint! You don't happen to have a fainting
couch in here, do you?
</dd><dd><b>Sweetie Belle</b>: No!
</dd><dd><b>Rarity</b>: Oh, pfft, of course not. It's a treehouse! That would be <i>très gauche</i>!
</dd><dd><b>Sweetie Belle</b>: Right... Well, I sure am happy to see
you, and spending the day with you does sound like a lot of fun, but...
I'm kind of right in the middle of something important. I have
responsibilities and...
</dd><dd><b>Rarity</b>: Oh.
</dd><dd><b>Apple Bloom</b>: Go on, Sweetie Belle. We've got this covered. How often do you get to spend time with your sister?
</dd><dd><b>Scootaloo</b>: Yeah! Go have fun.
</dd><dd><b>Sweetie Belle</b>: You sure you two can handle our client here?
</dd><dd><b>Rarity</b>: "Client"? Oh, that is so adorable!
</dd><dd><b>Sweetie Belle</b>: Uh, thanks? I think?
</dd><dd><b>Rarity</b>: [sniffs] Ooh! You have mints to offer your "clients". [giggles] How.. professional. [giggles]
</dd><dd><b>Sweetie Belle</b>: Are you sure you two got this?
</dd><dd><b>Apple Bloom</b>: We have it handled.
</dd><dd><b>Rarity</b>: Oh, my! Look at this wall of satisfied customers! [gasps] You girls really have come a long way.
</dd><dd><b>Sweetie Belle</b>: Well, all right then. [to the other Crusaders] But, lemme know if you need me or run into any trouble.
</dd><dd><b>Rarity</b>: Come on, come on! You'll never guess what I have planned! [squeals]
</dd></dl>
<dl><dd>[foals and Rarity giggling]
</dd><dd><b>Rarity</b>: Ooh! So fun!
</dd><dd><b>Sweetie Belle</b>: [indignantly] What?
</dd><dd><b>Rarity</b>: [giggles] It's just I know how much you love these puppet shows.
</dd><dd><b>Sweetie Belle</b>: I <i>did</i>.
</dd><dd><b>Rarity</b>: Oh, it's just like old times! You, me, greasy popcorn. It's like no time has passed at all.
</dd><dd><b>Zipporwhill</b>: [struggling] Come on... [grunts]
</dd><dd><b>Rarity</b>: Ooh! Ooh! Ooh! It's your favorite part!
</dd><dd>[music and silly sound effects]
</dd><dd>[foals and Rarity giggling]
</dd><dd><b>Rarity</b>: Banana peels are so very, very slippery! [laughs] It's funny because it's true! [laughs]
</dd><dd><b>Sweetie Belle</b>: [laughs nervously, sighs]
</dd><dd><b>Rarity</b>: What's the matter, darling?
</dd><dd><b>Sweetie Belle</b>: I, um, guess I just prefer black box experimental theater.
</dd><dd><b>Rarity</b>: What?! Since when?
</dd><dd><b>Sweetie Belle</b>: [sighs] I dunno. It's no big deal. This is great.
</dd></dl>
<dl><dd>[bell dings]
</dd><dd><b>Rarity</b>: Okay. We're here! Ta-da! [laughs, clears throat]
 Aren't you excited to be back here again? Do I know my baby sister, or
do I know my baby sister?
</dd><dd><b>Sweetie Belle</b>: Uh... Yeah... Where is "here" exactly?
</dd><dd><b>Rarity</b>: Oh, pfft! Stop being so silly! You know this is your favorite ice cream shop!
</dd><dd><b>Sweetie Belle</b>: Oh. Right. From when I was a little filly.
</dd><dd><b>Rarity</b>: And I convinced the original owner to come out
of retirement to make you your all-time favorite dessert! [giggles,
claps twice]
</dd><dd>[tray drops]
</dd><dd><b>Sweetie Belle</b>: Huh. I remember it being much bigger.
</dd><dd><b>Rarity</b>: Well, go ahead. I know you're dying to dig in.
</dd><dd><b>Sweetie Belle</b>: [slurps, gulps]
</dd><dd><b>Rarity</b>: Well?
</dd><dd><b>Sweetie Belle</b>: [laughs nervously, sighs] That was, uh... one tasty bite. Still a little hungry, though.
</dd><dd><b>Rarity</b>: [gasps] We can get another sundae! Chocolate with rainbow sprinkles, perhaps?
</dd><dd><b>Sweetie Belle</b>: I was thinking something more like a salad.
</dd><dd><b>Rarity</b>: A salad? When did you get so practical?
</dd><dd><b>Sweetie Belle</b>: Oh, um... I guess another scoop would be fine!
</dd><dd><b>Rarity</b>: [gasps] One more Filly Clown Surprise, please!
</dd><dd>[thump]
</dd><dd><b>Sweetie Belle</b>: [groans]
</dd><dd><b>Ripley</b>: [panting]
</dd><dd><b>Zipporwhill</b>: Hey, Ripley!
</dd><dd><b>Scootaloo</b>: Look at me! Over here!
</dd><dd>[squeaking]
</dd><dd><b>Ripley</b>: [yawns]
</dd></dl>
<dl><dd>[balloon squeaking]
</dd><dd><b>Rarity</b>: I know you must be bored, darling. This is a very long line for one of Twisty Pop's balloons.
</dd><dd><b>Sweetie Belle</b>: [groans]
</dd><dd><b>Rarity</b>: But just be patient. We'll get you your favorite balloon bouquet, and it'll all be worth it.
</dd><dd><b>Zipporwhill</b>: [baby noises] Who's a good puppy? Who's a good puppy?! <i>You're</i> the good puppy!
</dd><dd><b>Ripley</b>: [whines]
</dd><dd><b>Zipporwhill</b>: Now come on, puppy-wuppy! Get the bally-wally!
</dd><dd><b>Scootaloo</b>: Come on, Ripley! Like this!
</dd><dd><b>Apple Bloom</b>: Good Scootaloo! See?
</dd><dd><b>Ripley</b>: [barking]
</dd><dd><b>Zipporwhill</b>: [sighs] It's not working.
</dd><dd><b>Scootaloo</b>: Maybe if the ball tasted better?
</dd><dd><b>Apple Bloom</b>: I don't think that that's it, Scoot.
</dd><dd><b>Sweetie Belle</b>: Doesn't look like it's going so well. I'm just gonna do a quick check with the CMCs.
</dd><dd><b>Rarity</b>: Well, I guess duty calls, and-and you, you have that now...
</dd><dd><b>Sweetie Belle</b>: What?
</dd><dd><b>Rarity</b>: Oh nothing, nothing. Go on.
</dd><dd><b>Scootaloo</b>: Hey, Sweetie Belle. How's your day with Rarity going?
</dd><dd><b>Sweetie Belle</b>: Well, it's not exactly great...
</dd><dd><b>Apple Bloom</b>: What do you mean?
</dd><dd><b>Sweetie Belle</b>: I don't know. It's like Rarity doesn't even know me anymore.
</dd><dd><b>Scootaloo</b>: I wish we could say our day is going better.
</dd><dd><b>Ripley</b>: [barking]
</dd><dd><b>Apple Bloom</b>: But we can't.
</dd><dd><b>Scootaloo</b>: Seems like Zipporwhill's puppy doesn't want anything to do with her.
</dd><dd><b>Sweetie Belle</b>: Hmmm. I see what you mean... [gasps] You know, it's an awfully big puppy...
</dd><dd><b>Rarity</b>: Sweetie Belle, hurry! He's making it!
</dd><dd><b>Sweetie Belle</b>: Gotta go...
</dd><dd>[balloons squeaking]
</dd><dd><b>Rarity</b>: [gasps] I know just what to do with this!
</dd></dl>
<dl><dd>[fashion music]
</dd><dd><b>Rarity</b>: And pose!
</dd><dd>[camera clicks]
</dd><dd><b>Rarity</b>: And pose!
</dd><dd>[camera clicks]
</dd><dd><b>Rarity</b>: Love the camera!
</dd><dd>[camera clicks]
</dd><dd><b>Rarity</b>: Hate the camera.
</dd><dd>[camera clicks]
</dd><dd><b>Rarity</b>: Love it again!
</dd><dd>[camera clicks]
</dd><dd><b>Rarity</b>: Sweetie Belle, you did "hate the camera" for all these shots! [sighs] Let's do it again.
</dd><dd><b>Sweetie Belle</b>: No!
</dd><dd><b>Rarity</b>: [gasps]
</dd><dd><b>Apple Bloom</b>: Come on, Zipporwhill, you can do this!
</dd><dd>[squeaking]
</dd><dd><b>Ripley</b>: [sniffing]
</dd><dd><b>Rarity</b>: W-What do you mean, no?
</dd><dd><b>Sweetie Belle</b>: Rarity, this is hard for me to say, but... um...
</dd><dd><b>Rarity</b>: Sweetie Belle, what is it? You've been acting weird all day. You used to love doing these things with me.
</dd><dd><b>Sweetie Belle</b>: That's just it! I <i>used</i> to! That's not who I am anymore!
</dd><dd><b>Zipporwhill</b>: This isn't who I am! My cutie mark must be for something else, because my puppy just doesn't love me anymore! Hmph!
</dd><dd><b>Rarity</b>: But it <i>is</i> you! You love puppet shows and dressing up and taking silly photos and tiny little clown-shaped ice creams!
</dd><dd><b>Sweetie Belle</b>: Really?! If you still think I like doing this stuff, then maybe you don't know me at all!
</dd><dd><b>Rarity</b>: [whimpering]
</dd></dl>
<dl><dd><b>Rarity</b>: [sobbing] I can't believe Sweetie Belle talked to
 me like that. [indignant] And after everything I did to set up a whole
day of doing <i>her</i> favorite things! I mean, accusing me of not
knowing her?! I know her better than anypony! Um, thank you, Twisty, but
 the hard truth is, my sister is being unappreciative right now! And I'm
 going to go and give her a piece of my mind!
</dd><dd>[balloon deflating]
</dd></dl>
<dl><dd><b>Sweetie Belle</b>: Hey, Zipporwhill. What are you doing here? Where are Apple Bloom and Scootaloo?
</dd><dd><b>Zipporwhill</b>: They're with my puppy. He seems to like them better than me anyway.
</dd><dd><b>Sweetie Belle</b>: Now, I'm sure that's not true.
</dd><dd><b>Zipporwhill</b>: It is. He doesn't like doing anything with
me anymore. [sighs] He didn't even want to play with this. And all
puppies love these. [sniffs]
</dd><dd>[squeak]
</dd><dd><b>Zipporwhill</b>: [sniffing, crying]
</dd><dd><b>Sweetie Belle</b>: I think that might be your problem right there! Come on!
</dd><dd>[squeak]
</dd></dl>
<dl><dd><b>Ripley</b>: [yawns]
</dd><dd><b>Scootaloo</b>: [groans] Find Zipporwhill, Ripley!
</dd><dd><b>Apple Bloom</b>: Woof, woof! It's Zipporwhill! Woof?
</dd><dd><b>Scootaloo</b>: [sighs] It's hopeless.
</dd><dd><b>Apple Bloom</b>: Sweetie Belle!
</dd><dd><b>Scootaloo</b>: Zipporwhill! [sighs] We're sorry we haven't figured this out yet.
</dd><dd><b>Sweetie Belle</b>: Don't worry, girls. I think I cracked this one.
</dd><dd><b>Rarity</b>: Aha! There she is! [gasps] Oh, dear. Really should have changed. [huffs] No matter! I'm going to give her <i>quite</i> the talking to! ...Right after she's done with her conversation. Anger is no excuse for poor manners, after all.
</dd><dd><b>Sweetie Belle</b>: Okay, Zipporwhill. What do you see?
</dd><dd><b>Zipporwhill</b>: My puppy?
</dd><dd><b>Sweetie Belle</b>: That's not what <i>I</i> see. <i>I</i> see a full-grown dog.
</dd><dd><b>Zipporwhill</b>: He did get bigger, I guess.
</dd><dd><b>Sweetie Belle</b>: He's not just bigger. He's older, too.
</dd><dd><b>Ripley</b>: [grunts]
</dd><dd><b>Sweetie Belle</b>: You don't still play with the same toys from when <i>you</i> were a foal, do you?
</dd><dd><b>Zipporwhill</b>: Oh. Ohhh. The squeaker is a little small
for him now. [sighs] It's just hard for me to believe he's not the same
adorable little guy I found anymore.
</dd><dd><b>Sweetie Belle</b>: I understand. But doing things like you used to won't turn him back into a puppy.
</dd><dd><b>Zipporwhill</b>: So... what do I do?
</dd><dd><b>Sweetie Belle</b>: Treat him like the dog he is, and find new favorite things to do together.
</dd><dd><b>Zipporwhill</b>: You think so?
</dd><dd><b>Rarity</b>: I know so!
</dd><dd><b>Sweetie Belle</b>: Rarity?!
</dd><dd><b>Rarity</b>: Oh, Sweetie Belle. I heard what you said, and you are <i>so</i> right.
</dd><dd><b>Scootaloo</b>: About the dog?
</dd><dd><b>Rarity</b>: Yes, but about us, too. The truth is, I know
you're not a little filly anymore. But it's just... the last time we did
 all of those things together, I... I didn't realize it was gonna be the
 <i>last</i> last time. I loved doing those things with you. It's hard for me to let that go.
</dd><dd><b>Sweetie Belle</b>: Aww, Rarity! I love being with you too!
That will never change! But... maybe we could just try to do different
things together?
</dd><dd>[clicking]
</dd><dd><b>Ripley</b>: [alerted dog noise] [panting]
</dd><dd><b>Zipporwhill</b>: What is it, puppy? [giggles] I mean, <i>Ripley</i>?
</dd><dd><b>Ripley</b>: [panting]
</dd><dd><b>Zipporwhill</b>: [giggling] I love you too, Ripley! Thank you, Crusaders.
</dd><dd><b>Cutie Mark Crusaders</b>: No problem!
</dd><dd><b>Apple Bloom</b>, <b>Scootaloo</b>, and <b>Zipporwhill</b>: [laughing]
</dd><dd><b>Zipporwhill</b>: Oh, Ripley!
</dd><dd><b>Rarity</b>: Sweetie Belle, I'm so very proud of the pony you've grown into.
</dd><dd><b>Sweetie Belle</b>: And I'm proud that no matter what, I'll always be your little sister.
</dd><dd><b>Rarity</b>: I, uh, have a little bit of time before I have
to head back to Canterlot. Could we spend it together? What would a
grown pony like you want to do?
</dd><dd><b>Sweetie Belle</b>: Well, I do have one idea...
</dd></dl>
<dl><dd><b>Rarity</b> and <b>Sweetie Belle</b>: [licking lips]
</dd><dd><b>Rarity</b>: Heh, I didn't realize your idea would be such a delicious one! [giggles] I don't know how I'm going to finish this.
</dd><dd><b>Sweetie Belle</b>: Oh! I'll help you!
</dd><dd><b>Rarity</b>: [giggles]
</dd><dd><b>Sweetie Belle</b>: [giggles]
</dd><dd>[camera clicks]
</dd></dl>
<dl><dd>[credits]
</dd></dl>
