meta[ title:The Parent Map, lines: 305]
<dl><dd>[knocking on door]
</dd><dd><b>Mail Pony</b>: [sighs]
</dd><dd>[knocking on door]
</dd><dd>[pounding on door]
</dd><dd>[door opens]
</dd><dd><b>Mail Pony</b>: [clears throat] Morning, Sunburst.
</dd><dd><b>Sunburst</b>: What? Oh! Hi! [chuckles nervously] You know, no matter how many times I read it, <i>Houyhnhnm's Guide to Magical Arcana</i> never gets boring.
</dd><dd><b>Mail Pony</b>: If you say so. I've got another letter for you. From Sire's Hollow.
</dd><dd><b>Sunburst</b>: Mm-hmm. Sure thing.
</dd><dd>[door closes]
</dd><dd><b>Mail Pony</b>: [groans]
</dd><dd>[thud]
</dd><dd>[shimmering sounds]
</dd><dd><b>Sunburst</b>: What's this? Could I be experiencing the cerebration transmogrification effect described in chapter seventeen—?
</dd><dd>[thud]
</dd><dd><b>Sunburst</b>: Oh. My cutie mark is glowing. My cutie mark is glowing! I know what this means! Why am I yelling?!
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Sunburst</b>: Princess Twilight, what an honor this is! I-I mean, it is, right? <i>I'm</i> called for a friendship mission?
</dd><dd><b>Twilight Sparkle</b>: You sure are. And it must be a special one. Nopony outside of Ponyville has ever been called before.
</dd><dd><b>Spike</b>: If you need some pointers, let me know. I've been on my fair share of missions.
</dd><dd><b>Twilight Sparkle</b>: You've been on <i>one</i>, Spike.
</dd><dd><b>Spike</b>: And that's my fair share.
</dd><dd>[door opens]
</dd><dd><b>Sunburst</b>: Starlight! You mean we've both been called? This is great!
</dd><dd><b>Starlight Glimmer</b>: [depressed] Yeah... Great...
</dd><dd><b>Sunburst</b>: Aren't you excited? You and me on a mission together!
</dd><dd><b>Starlight Glimmer</b>: [groans]
</dd><dd><b>Sunburst</b>: I'm... sorry. Are you not excited to go on a mission with me?
</dd><dd><b>Starlight Glimmer</b>: No. Uh, no! I mean, yes. Heh. Totally excited about us going together. Just... not so excited about <i>where</i>.
</dd><dd><b>Sunburst</b>: Sire's Hollow?
</dd><dd><b>Starlight Glimmer</b>: Yep. Home.
</dd><dd><b>Sunburst</b>: [deflated] Oh. Great.
</dd><dd><b>Spike</b>: You know, I can go if you two don't want to. I am kind of an expert.
</dd><dd><b>Twilight Sparkle</b>, <b>Starlight Glimmer</b>, and <b>Sunburst</b>: [groans]
</dd></dl>
<dl><dd>[train chugging]
</dd><dd>[indistinct conversations]
</dd><dd><b>Starlight Glimmer</b>: [sighs] It's not that I don't <i>want</i> to go home. It's just that whenever I do, my dad treats me like a filly. Like nothing's changed since I was a foal.
</dd><dd><b>Sunburst</b>: Huh.
</dd><dd><b>Starlight Glimmer</b>: I know. I'm a horrible daughter.
</dd><dd><b>Sunburst</b>: N-No, no! My mom actually does kind of the same thing.
</dd><dd><b>Starlight Glimmer</b>: Really?
</dd><dd><b>Sunburst</b>: I don't even have to go home. She sends me
letters constantly asking about my plans for the future. [imitating
Stellar Flare] "You're a grown-up pony, Sunburst! You need a plan!"
[sighs] I haven't been home in a while either.
</dd><dd><b>Starlight Glimmer</b>: Hmph. We'll just have to explain to our parents that we're on an important friendship mission so they can't bother us.
</dd><dd><b>Sunburst</b>: Do you really think that will work?
</dd><dd><b>Starlight Glimmer</b>: Nope!
</dd><dd>[brakes hissing]
</dd><dd>[train whistle]
</dd><dd>[train chugging]
</dd><dd><b>Sunburst</b>: [sniffs, sighs] The great thing about home is it always stays just how you le—
</dd><dd>[thud]
</dd><dd><b>Sunburst</b>: Augh!
</dd><dd><b>Starlight Glimmer</b>: Where did <i>that</i> come from?
</dd><dd>[gate creaking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's Hollow!
</dd><dd><b>"Ever Essence"</b>: Essence?
</dd><dd><b>Sunburst</b>: Essence of what?
</dd><dd><b>"Ever Essence"</b>: You tell me.
</dd><dd>[spritz]
</dd><dd><b>Sunburst</b>: [coughing]
</dd><dd><b>Starlight Glimmer</b>: What is it?
</dd><dd><b>Sunburst</b>: Uh... chocolate maybe?
</dd><dd><b>"Ever Essence"</b>: Not chocolate maybe. Chocolate definitely! And all of the benefits with none of the drawbacks.
</dd><dd><b>Sunburst</b>: Didn't this used to be a fruit stand?
</dd><dd><b>"Ever Essence"</b>: I don't know what it <i>used to be</i>. The Sire's Hollow Development Committee determined what it <i>is</i>.
</dd><dd><b>Sunburst</b>: The Sire's Hollow Development what? Where do ponies buy fruit?
</dd><dd><b>"Ever Essence"</b>: You can get a fruit smoothie two doors down.
</dd><dd><b>Sunburst</b>: All the shops are different. Everything's changed!
</dd><dd><b>Starlight Glimmer</b>: Not everything. <i>That's</i> the same as it ever was.
</dd><dd>[door opens]
</dd><dd><b>"Raspberry Latte"</b>: Sorry. Our bookstore's been declared a site of historical significance by the Sire's Hollow Preservation Society.
</dd><dd><b>"Minty Mocha"</b>: You'll have to experience the books from here. That's why windows are see-through.
</dd><dd>[door slams]
</dd><dd><b>Sunburst</b>: What?!
</dd><dd><b>Starlight Glimmer</b>: Preservation Society? What is happening around here?
</dd><dd><b>Firelight</b>: I'll explain it to you, sugarplum! [chuckles] You are just as cutesy-wutesy as ever!
</dd><dd><b>Starlight Glimmer</b>: [muffled] Dad! [normally] Quit it! What is going on?
</dd><dd><b>Firelight</b>: Oh, just a father wanting to preserve our town's rich history for his little pumpky-wumpkin! [chuckles]
</dd><dd><b>Starlight Glimmer</b>: Dad, you promised no "pumpky-wumpkin"'s in public!
</dd><dd><b>Sunburst</b>: [stifled laughter]
</dd><dd><b>Firelight</b>: [whispering] Sorry, chipmunk cheeks.
</dd><dd>[smack!]
</dd><dd><b>Starlight Glimmer</b>: Don't. You're preserving the whole town? That's crazy!
</dd><dd><b>Stellar Flare</b>: That's exactly what I told him! I said, "Firelight, you're crazy!"
</dd><dd><b>Sunburst</b>: Mom?
</dd><dd><b>Stellar Flare</b>: Our village needs the same thing you do, Sunburst – a clear plan for the future.
</dd><dd>[snip!]
</dd><dd><b>Stellar Flare</b>: That's why I started the Sire's Hollow Development Committee. And I've got plans for this little town. Big plans!
</dd><dd><b>Firelight</b>: Listen here, Stellar Flare! I'm not gonna let you turn our historical heritage into Las Pegasus!
</dd><dd><b>Stellar Flare</b>: And <i>I'm</i> not gonna let you turn it into a museum!
</dd><dd><b>Firelight</b> and <b>Stellar Flare</b>: [growling]
</dd><dd><b>Starlight Glimmer</b>: W-Wait. Are you two fighting over this?
</dd><dd><b>Sunburst</b>: Like having a friendship problem?
</dd><dd><b>Stellar Flare</b>: Oh, there's no problem.
</dd><dd><b>Firelight</b>: Because there <i>is</i> no friendship!
</dd><dd><b>Sunburst</b>: Well, the good news is we know why we're here.
</dd><dd><b>Starlight Glimmer</b>: [huffs]
</dd></dl>
<dl><dd><b>Sunburst</b>: [sighs] Maybe we should've sent Spike after all.
</dd><dd><b>Starlight Glimmer</b>: [sighs]
</dd><dd>[magic sounds]
</dd><dd><b>Starlight Glimmer</b>: Sunburst and I were called here to do a job, and it looks like you two are it.
</dd><dd><b>Stellar Flare</b>: You mean <i>your</i> success depends on <i>us</i>?
</dd><dd><b>Sunburst</b>: Uh...
</dd><dd><b>Firelight</b>: And you have to hang out with us the whole time you're here?!
</dd><dd><b>Starlight Glimmer</b>: Um...
</dd><dd><b>Stellar Flare</b>: Well, I'll hear what you have to say. But every plan I've made for this town is perfectly reasonable.
</dd><dd><b>Firelight</b>: Good luck convincing me my preservation efforts don't make sense.
</dd><dd><b>Starlight Glimmer</b> and <b>Sunburst</b>: [sighs]
</dd></dl>
<dl><dd>[gate creaking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's Hollow!
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: So we can't hold the books?
</dd><dd><b>"Raspberry Latte"</b>: [laughing] No!
</dd><dd><b>Sunburst</b>: Can <i>you</i> hold the books?
</dd><dd><b>"Minty Mocha"</b>: No.
</dd><dd><b>Starlight Glimmer</b>: So nopony can <i>read</i> the books?
</dd><dd><b>Firelight</b>: [chuckles] Isn't she adorable? [chuckles]
</dd></dl>
<dl><dd>[gate clanking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's Hollow!
</dd></dl>
<dl><dd><b>"Ever Essence"</b>: You can call them... mm... "smells". But I call them essence!
</dd><dd>[spritz]
</dd><dd><b>Sunburst</b>: [coughing]
</dd><dd><b>Starlight Glimmer</b>: [sniffs] Fruity.
</dd><dd><b>Sunburst</b>: Too bad there's nowhere to get <i>actual</i> fruit.
</dd><dd><b>Stellar Flare</b>: In the future, all ponies will drink their fruit!
</dd><dd><b>Starlight Glimmer</b> and <b>Sunburst</b>: [slurping]
</dd><dd><b>Starlight Glimmer</b>: [coughing]
</dd></dl>
<dl><dd>[thud]
</dd><dd><b>"Cracked Wheat"</b>: One hundred percent ancient pony grains! Just like the town founders ate! Hope you like crust!
</dd><dd>[crunch, thud]
</dd></dl>
<dl><dd>[gate creaking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's Hollow!
</dd><dd>[gate creaking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's Hollow!
</dd><dd>[gate creaking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's Hollow!
</dd><dd>[gate creaking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's Hollow!
</dd><dd>[gate creaking]
</dd><dd><b>Automated voice</b>: Welcome to Sire's—!
</dd><dd><b>Stellar Flare</b>: Okay, it's annoying. I get it.
</dd></dl>
<dl><dd><b>Firelight</b>: Maybe my preservation efforts were a little over the top.
</dd><dd>[crash!]
</dd><dd><b>"Cracked Wheat"</b>: [groans] Oh, no.
</dd><dd><b>Stellar Flare</b>: And I might have been trying to turn the town into a shopping mall.
</dd><dd><b>Firelight</b>: Well, whatever direction the town takes from now on, how about we work together on it?
</dd><dd><b>Stellar Flare</b>: Deal! Sunburst, you should move closer to
 Ponyville. After this success, I'm sure the Princess of Friendship will
 want to send you on more missions.
</dd><dd>[smack!]
</dd><dd><b>Sunburst</b>: That's not really how it works. Oh, look at
the time! We should get going now that we solved the friendship problem,
 right, Starlight?
</dd><dd><b>Starlight Glimmer</b>: Yeah... The thing is, I don't think we did solve it. When we solve a friendship problem, our cutie marks are supposed to glow.
</dd><dd><b>Firelight</b>: Aw, don't be disappointed, puddin'. Your papa will work this out for ya.
</dd><dd><b>Starlight Glimmer</b>: Heh. My papa wasn't called by the map in Twilight's castle. <i>I</i> was.
</dd><dd><b>Stellar Flare</b>: How are you gonna explain this to the princess? What's your plan if she fires you from friendship quests?
</dd><dd><b>Sunburst</b>: Mom! She doesn't—! It-It's not—!
</dd><dd><b>Stellar Flare</b>: Use your words, Sunburst.
</dd><dd><b>Sunburst</b>: [angry groan]
</dd><dd><b>Starlight Glimmer</b>: I guess you two weren't the problem we were sent to solve after all.
</dd><dd><b>Stellar Flare</b>: So now you don't even know why you're here? Ah! We have to figure this out before we run out of time!
</dd><dd><b>Sunburst</b>: [sighs] Mom, there isn't a time limit.
</dd><dd><b>Firelight</b>: So you're here for an extra long visit? [laughs] You can stay in your old room, punkie wunk! It's just like you left it!
</dd><dd>[guitar riff]
</dd><dd><b>Starlight Glimmer</b>: [whispering] We need to find this friendship problem now!
</dd><dd><b>Firelight</b>: Now, I know you have your little job to do, but Stellar and I know the town a lot better than you two.
</dd><dd><b>Stellar Flare</b>: That's right! Neither of you have been home in ages. You're gonna need our help to succeed!
</dd><dd><b>Starlight Glimmer</b>: I guess that makes sense...
</dd><dd><b>Firelight</b> and <b>Stellar Flare</b>: [chuckling]
</dd><dd><b>Stellar Flare</b>: I already have some ideas!
</dd><dd><b>Firelight</b>: Me, too!
</dd><dd><b>Sunburst</b>: I think I liked it better when they were fighting.
</dd></dl>
<dl><dd>[chalk tapping]
</dd><dd><b>Firelight</b>: Okay! Now that I've explained how Sire's
Hollow was founded, we can start to explore all the possible friendship
problems that might have developed over time.
</dd><dd><b>Starlight Glimmer</b>: [inhales] I appreciate the history lesson, Dad, but I need to find the problem now. In the present.
</dd><dd><b>Firelight</b>: Aw, now, hon-bun. How are you gonna do that
without all the backstory, huh? Oh! Of course I know how hard it is for
you to sit still and focus, soooo... would it help you pay attention to
hold on to your bwankie?
</dd><dd><b>Starlight Glimmer</b>: [growling]
</dd></dl>
<dl><dd><b>Stellar Flare</b>: Now, you've had a little setback. But don't worry. I know exactly what you need to do.
</dd><dd><b>Sunburst</b>: Make a plan?
</dd><dd><b>Stellar Flare</b>: Already got one! Step one – interview the
 suspects. Step two – use your talents to solve the issue. Step three –
get the Princess of Friendship to send you on more missions!
</dd><dd><b>Sunburst</b>: Mom! It does not work like that!
</dd><dd><b>Stellar Flare</b>: Uh-huh.
</dd><dd>[beat]
</dd><dd><b>Stellar Flare</b>: [clears throat]
</dd><dd><b>"Ever Essence"</b>: [poorly acted] Oh! Thank goodness you are here! These two ponies refuse to use my essences.
</dd><dd><b>"Raspberry Latte"</b>: Maybe because we don't like to cover our natural scent!
</dd><dd><b>Stellar Flare</b>: [clears throat irritably]
</dd><dd><b>"Ever Essence"</b>: Ugh.
</dd><dd><b>"Raspberry Latte"</b>: Ugh.
</dd><dd><b>"Minty Mocha"</b>: [sighs] [poorly acted] And she refuses to buy our books.
</dd><dd><b>"Ever Essence"</b>, <b>"Raspberry Latte"</b>, and <b>"Minty Mocha"</b>: [poorly acted] Surely this is a friendship problem.
</dd><dd><b>Sunburst</b>: Ugh! It needs to be a <i>real</i> friendship problem! You can't just make one up! [angry groan]
</dd><dd><b>Stellar Flare</b>: This is what happens when we don't rehearse! Ugh!
</dd></dl>
<dl><dd><b>Firelight</b>: Starlight? Sweetie? I found a really old town
bylaw that nopony agrees on. Apparently, we're not supposed to prance or
 canter after dinnertime. Could that be the problem? Silly-filly?
</dd><dd><b>Starlight Glimmer</b>: Whew! What are <i>you</i> doing?
</dd><dd><b>Sunburst</b>: [sighs] Hiding from my mother. She started making up friendship problems for me to solve.
</dd><dd><b>Starlight Glimmer</b>: [scoffs] My dad won't even let me talk to anypony in case they're "strangers". I'm a grown mare!
</dd><dd><b>Sunburst</b>: [sighs] We're never going to find the friendship problem with them around, let alone solve it.
</dd><dd><b>"Cracked Wheat"</b>: Maybe you two should start looking for it on your own? [crunching]
</dd></dl>
<dl><dd>[lamp clicks]
</dd><dd><b>Starlight Glimmer</b>: [whispering] Okay! So we wanted to talk to all of you, you know, in private.
</dd><dd><b>Sunburst</b>: [whispering] Just to see if there were issues any of you had with your friends.
</dd><dd><b>"Ever Essence"</b>: [whispering] Got it. Just one question. Why are we whispering?
</dd><dd><b>"Cracked Wheat"</b>: They're avoiding their parents.
</dd><dd><b>"Ever Essence"</b>, <b>"Raspberry Latte"</b>, and <b>"Minty Mocha"</b>: Ohhhh... [various agreement]
</dd><dd><b>Sunburst</b>: No. Not avoiding. Just... taking a break.
</dd><dd><b>Starlight Glimmer</b>: Yeah. We needed to focus. B-But we're definitely not avoiding them.
</dd><dd><b>"Raspberry Latte"</b>: So you're whispering with all of us in the darkest corner of the shop where nopony can possibly see because you're <i>not</i> avoiding them?
</dd><dd><b>Starlight Glimmer</b>: Mm-hmm.
</dd><dd><b>Sunburst</b>: Uh, but they definitely can't hear us in here, right?
</dd><dd><b>"Cracked Wheat"</b>: No way! This is the antiquities section. Nopony ever comes back here.
</dd><dd><b>Firelight</b>: There you are! But what are you doing in here? [gasps] Is the friendship problem in my favorite section of the bookstore?
</dd><dd><b>Starlight Glimmer</b> and <b>Sunburst</b>: [groans]
</dd></dl>
<dl><dd><b>Firelight</b>: ...And then, I thought the best way to look for a friendship problem in the present...
</dd><dd><b>Starlight Glimmer</b>: Dad!
</dd><dd><b>Firelight</b>: ...was to look back in our town history even farther!
</dd><dd><b>Starlight Glimmer</b>: [angry groan]
</dd><dd><b>Stellar Flare</b>: Sunburst! Oh, finally! Now, I know you don't want me to make <i>up</i> a problem, but what if I start one?
</dd><dd><b>Sunburst</b>: That's not how this—!
</dd><dd><b>Stellar Flare</b>: I mean, nopony ever became a success by following <i>all</i> the rules, right?
</dd><dd><b>Sunburst</b>: [nickers angrily]
</dd><dd><b>Stellar Flare</b>: [to Firelight] How are things on your end?
</dd><dd><b>Firelight</b>: Couldn't be better! New leads and such!
</dd><dd><b>Starlight Glimmer</b>: Guys...?
</dd><dd><b>Stellar Flare</b>: We really are providing excellent assistance, aren't we?
</dd><dd><b>Sunburst</b>: Guys!
</dd><dd><b>Firelight</b>: I dare say our children should be grateful for our help.
</dd><dd><b>Starlight Glimmer</b>: <i>Guys!</i>
</dd><dd><b>Starlight Glimmer</b> and <b>Sunburst</b>: <i>We don't want your help!</i>
</dd></dl>
<dl><dd><b>Stellar Flare</b>: I'm sorry. You don't want our help?
</dd><dd><b>Firelight</b>: [chuckles] That's... That's ridiculous! What reason could you possibly have for that?
</dd><dd><b>Starlight Glimmer</b>: Because you're driving us crazy!
</dd><dd><b>Stellar Flare</b>: Oh, really? And just how am I driving you crazy?
</dd><dd><b>Sunburst</b>: By always coming up with plans! I don't need a plan! I mean, maybe I do, but it'll be mine, not yours!
</dd><dd><b>Stellar Flare</b>: [choking up] Well... I'm sorry for trying to help! [crying]
</dd><dd><b>Starlight Glimmer</b>: And <i>you're</i> not any better! I'm not a filly! I'm a grown pony with a job to do, and I'll do it on my own!
</dd><dd><b>Firelight</b>: Well. I'll let you get to it then.
</dd><dd><b>Starlight Glimmer</b>: Great. Now we have to smooth things over with our parents on top of finding and solving a friendship problem.
</dd><dd><b>Sunburst</b>: It's almost like our relationship with our parents <i>is</i> the friendship problem.
</dd><dd><b>Starlight Glimmer</b>: You don't think that's it, do you?
</dd><dd><b>"Cracked Wheat"</b>: [clears throat] That's what all of us think.
</dd><dd><b>Starlight Glimmer</b>: [groans, collapses] Why couldn't we have been sent to stop a war or something?!
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: Dad?
</dd><dd><b>Firelight</b>: Hello, <i>Ms.</i> Glimmer. How is your
friendship problem search going? I only ask as an interested observer,
since I know you are an adult who's capable of doing things without help
 from anypony else.
</dd><dd><b>Starlight Glimmer</b>: Actually... I think Sunburst and I figured out what it is.
</dd><dd><b>Firelight</b>: So Stellar and I weren't really helpful after all.
</dd><dd><b>Starlight Glimmer</b>: Well, we haven't actually solved it. And I don't think we can. Not without you.
</dd></dl>
<dl><dd><b>Stellar Flare</b>: [sniffs]
</dd><dd>[spritz]
</dd><dd><b>Stellar Flare</b>: [coughing] Pungent. Ugh. [to Sunburst] Oh. Did you come by to be driven crazy by more of your mother's plans?
</dd><dd><b>Sunburst</b>: No, I came to apologize.
</dd><dd><b>Stellar Flare</b>: Well, it's going to take more than an
apology to make up for telling me you don't want my help finding your
friendship problem.
</dd><dd><b>Sunburst</b>: Oh, I'm not sorry for that. Starlight and I already figured out what the problem is.
</dd><dd><b>Stellar Flare</b>: This is a terrible apology.
</dd><dd><b>Sunburst</b>: Well, if you come with me and help fix it, I'll give you a better one.
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: Usually, Twilight or one of our other friends gets called to a place with a friendship problem to fix.
</dd><dd><b>Sunburst</b>: But Starlight and I realized we came here to fix a friendship problem we already had.
</dd><dd><b>Starlight Glimmer</b>: I'm sorry I've been avoiding coming home, Dad. But you can't keep treating me like a foal.
</dd><dd><b>Firelight</b>: I'm sorry, sugarbun. [sighs] I just know how
hard things were for you when you left home. I guess I wanted you to
feel safe, like... when you were young.
</dd><dd><b>Starlight Glimmer</b>: Dad, I know I've made some mistakes,
and I'll probably make a bunch more. But I learn from them. I think
that's what growing up is.
</dd><dd><b>Sunburst</b>: I'm sorry I never told you how much your plans
 bothered me, and I know you just want me to succeed. But I need to do
that on my own.
</dd><dd><b>Stellar Flare</b>: I remember how lost you were when you
flunked out of magic school. I thought as long as you had a plan, you'd
never feel that way again.
</dd><dd><b>Sunburst</b>: You don't have to worry, Mom. I need to find my own way. And I definitely don't feel lost anymore.
</dd><dd>[shimmering sounds]
</dd><dd><b>"Cracked Wheat"</b>: [crying] That's so beautiful!
</dd></dl>
<dl><dd><b>Stellar Flare</b>: The glowing cutie mark is such a symbol of
 accomplishment. I don't suppose there's a way for you to get it to glow
 all the time.
</dd><dd><b>Sunburst</b>: [chuckles] Pretty sure it doesn't work that way.
</dd><dd><b>Starlight Glimmer</b>: Not unless we solved a friendship problem every few seconds, and I kinda hope this one will be it for a while.
</dd><dd><b>Firelight</b>: You know, it seems to me your map is saying we're not just your parents. Heh. We're your friends, too.
</dd><dd><b>Starlight Glimmer</b>: I guess so.
</dd><dd><b>Firelight</b>: So if I promise to treat you less like a little filly and more like a friend, will you visit more?
</dd><dd><b>Starlight Glimmer</b>: Absolutely. Mmm.
</dd><dd><b>Sunburst</b>: And if you start to drive me crazy again, I'll tell you instead of never coming home.
</dd><dd><b>Stellar Flare</b>: That's lovely of you to say, dear. But you know, I can always visit you.
</dd><dd><b>Firelight</b>: Stellar, you're a genius! [laughs] How do you feel about a road trip?
</dd><dd><b>Stellar Flare</b>: I might have a few plans for that.
</dd><dd><b>Starlight Glimmer</b> and <b>Sunburst</b>: [chuckling nervously]
</dd><dd>[train chugging]
</dd></dl>
<dl><dd>[credits]
</dd></dl>
