meta[ title:She's All Yak, lines: 406]
<dl><dd><b>Silverstream</b>: [gasps] See?! New posters! We never had <i>those</i> underwater!
</dd><dd><b>Young Six</b>: [excited chattering]
</dd><dd><b>Twilight Sparkle</b>: I won't keep you in suspense any longer. We're bringing one of Ponyville's oldest traditions to our school – the Fetlock Fete.
</dd><dd><b>Smolder</b>: The what-lock what?
</dd><dd><b>Sandbar</b>: It's a pony dance party! They're the best!
</dd><dd><b>Ocellus</b>: I'm ready!
</dd><dd>[transformation noise]
</dd><dd><b>Twilight Sparkle</b>: [giggles] You don't need to do that,
Ocellus. This year, the event's at school and open to everycreature.
We're calling our dance the Amity Ball.
</dd><dd><b>Ocellus</b>: Even better!
</dd><dd>[transformation noise]
</dd><dd><b>Yona</b>: Yona not know Amity Ball dance. Yona only know traditional dance of Yakyakistan. Go like this! [grunting]
</dd><dd>[loud thumping]
</dd><dd><b>Yona</b>: Ball dance like that?
</dd><dd>[thud]
</dd><dd><b>Sandbar</b>: [laughs] Not exactly. It isn't just <i>one</i> dance. It's a whole night of them. Plus an awesome party!
</dd><dd><b>Twilight Sparkle</b>: And we'll have all the old Fetlock
Fete traditions – the Pony Pal Contest, the lucky pot dinner. You'll
love it! So, like this says, "get your pony pal and come along."
</dd><dd><b>Smolder</b>: Want to go? I've got nothing better to do.
</dd><dd><b>Gallus</b>: You had me at "dinner".
</dd><dd><b>Silverstream</b>: [giggles]
</dd><dd><b>Twilight Sparkle</b>: Now, who wants to help me hang more posters?
</dd><dd><b>Silverstream</b>: Me!
</dd><dd><b>Ocellus</b>: Sure!
</dd><dd><b>Sandbar</b>: Hey, Yona, want to be my pony pal? We can enter the contest together.
</dd><dd><b>Yona</b>: But Yona yak. Yona not pony.
</dd><dd><b>Sandbar</b>: So?
</dd><dd><b>Yona</b>: Pony, pony, more pony.
</dd><dd><b>Sandbar</b>: Aw, that's just a poster. Come on! It'll be tons of fun together. Promise.
</dd><dd><b>Yona</b>: Okay. Yona go with Sandbar.
</dd><dd><b>Sandbar</b>: Great! I'll get the tickets. See you later! [laughs]
</dd><dd><b>Yona</b>: Yona not let Sandbar down! Yak best at being pony pal! But Yona not sure how if she not pony.
</dd><dd>[crash]
</dd><dd><b>Rarity</b>: Ooh! Oh, terribly sorry, Yona. All these dresses I'm sewing for the dance have me completely frazzled.
</dd><dd><b>Yona</b>: Dress? Yona need dress for dance?! Yona have lots to learn about being best pony pal.
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd>[sewing machine whirring]
</dd><dd>[knocking]
</dd><dd><b>Rarity</b>: [yelps]
</dd><dd>[door opens]
</dd><dd><b>Yona</b>: Yona interrupting?
</dd><dd><b>Rarity</b>: Oh. [laughs] Well, not interrupting exactly.
More like blocking the flow— uh, stopping me from what I'm doing— so,
yes, interrupting! [nervous laugh] Now, what can I do for you, Yona?
</dd><dd><b>Yona</b>: Yona not know yak need special pony dress for dance. Yona no can wear what Yona always wear?
</dd><dd><b>Rarity</b>: Yona could— I mean, you could. But the Fetlock
Fete or whatever Twilight is calling it – it's all about a tradition.
There's a certain way to do everything at the dance.
</dd><dd><b>Yona</b>: Yes! That what Yona want to learn! How to do all the pony things, even if Yona has to wear dress.
</dd><dd><b>Rarity</b>: Well, uh, y-y-yes, if that's what you really want.
</dd><dd><b>Yona</b>: Mm-hmm! Yona be best pony pal for Sandbar!
</dd><dd><b>Rarity</b>: In that case, at an elegant affair like a pony
dance, one must converse in a sophisticated fashion. Talking with
Brussels sprouts in your mouth helps you to learn to [elocuting]
ar-ti-cu-late. [normally] Take a mouthful, and repeat after me.
</dd><dd><b>Yona</b>: [chomps]
</dd><dd><b>Rarity</b>: [elocuting] How kind of you to ask me to tea.
</dd><dd><b>Yona</b>: [muffled] How kind of you to ask me to tea.
</dd><dd><b>Rarity</b>: [elocuting] May I offer you a glass of punch?
</dd><dd><b>Yona</b>: [muffled] May I offer you a glass of punch?
</dd><dd><b>Rarity</b>: [elocuting] The weather is quite agreeable today.
</dd><dd><b>Yona</b>: [muffled] The weather is quite agreeable today. [chews, gulps, belches loudly] Yona <i>like</i> Brussels sprouts!
</dd><dd><b>Rarity</b>: Let's move on.
</dd></dl>
<dl><dd><b>Rarity</b>: We will need to do something about your hairstyle. But first, let's find the right dress!
</dd><dd>[wheels squeaking]
</dd><dd><b>Rarity</b>: Now, purple taffeta, frosted chiffon... [gasps] Gold brocade! One of my favorites!
</dd><dd><b>Yona</b>: Yona like brown.
</dd><dd><b>Rarity</b>: Blech... Earth tones. They're so... [laughs
nervously] ...earthy, aren't they? Don't worry. We shall find something
to make you stand out.
</dd><dd><b>Yona</b>: Yona not want to stand out. Yona want to fit in.
</dd><dd><b>Rarity</b>: [sighs] Quite. And by the time we're through, it'll be like you've been going to pony dances your whole life.
</dd></dl>
<dl><dd><b>[Rarity]</b>
<dl><dd>The more you know how things are done
</dd><dd>The more confident you'll be
</dd><dd>There's more to a dance than just having fun
</dd><dd>And there's no better teacher than me
</dd></dl>
</dd></dl>
<dl><dd>Rarity!
</dd><dd><b>Yona</b>: Oh, Yona see!
</dd><dd><b>Rarity</b>: When I'm finished with you
</dd></dl>
<dl><dd><dl><dd>You'll start to fit right in
</dd><dd>Listen to me when I say
</dd><dd>Once you learn the pony way
</dd><dd>You'll start to fit right in
</dd></dl>
</dd></dl>
<dl><dd><b>[Yona]</b>
<dl><dd>Right in!
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity]</b>
<dl><dd>No need to wait another day
</dd><dd>To be part of our smart soiree
</dd></dl>
</dd></dl>
<dl><dd><dl><dd>The perfect dress
</dd><dd>A color all the rage, but still unique
</dd><dd>Now loose the braids
</dd><dd>Try a style more fantastique
</dd></dl>
</dd></dl>
<dl><dd><dl><dd>Here's what we'll do:
</dd><dd>A horn-icure and a de-frizz
</dd><dd>We'll dry shampoo this
</dd><dd>Whatever yak part this is
</dd></dl>
</dd></dl>
<dl><dd><dl><dd>Too curly, too blue
</dd><dd>Too retro, too new
</dd><dd>Too Twilight, too furry
</dd><dd>We'll find one, don't you worry
</dd></dl>
</dd></dl>
<dl><dd><dl><dd>Choose what you want to be and be it
</dd><dd>Picture you to see and see it
</dd><dd>I'm the mare to guarantee it
</dd><dd>You'll fit right in
</dd></dl>
</dd></dl>
<dl><dd><dl><dd>My plan, my grand design
</dd><dd>Your friends will thrill to find
</dd><dd>A new you that's too divine
</dd><dd>Yeah, you're gonna—
</dd></dl>
</dd></dl>
<dl><dd><b>[Yona]</b>
<dl><dd>Yona gonna—
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity and Yona]</b>
<dl><dd>Fit right in
</dd></dl>
</dd></dl>
<dl><dd><b>[Yona]</b>
<dl><dd>Right in
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity]</b>
<dl><dd>Listen to me when I say
</dd><dd>Once you learn the pony way
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity and Yona]</b>
<dl><dd>You'll/I'll start to fit right in
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity]</b>
<dl><dd>Right in
</dd></dl>
</dd></dl>
<dl><dd><b>[Yona]</b>
<dl><dd>Yak not waste another day
</dd><dd>To be part of your pony...
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity and Yona]</b>
<dl><dd>Waaaaayyyyy
</dd></dl>
</dd></dl>
<dl><dd><b>[Yona]</b>
<dl><dd>Yak not waste another day to
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity and Yona]</b>
<dl><dd>Fit... right... in!
</dd></dl>
</dd><dd>[thud]
</dd><dd><b>Rarity</b>: [gasps] I almost forgot! The most important part of the ball!
</dd><dd><b>Yona</b>: Oh. [scoffs, laughs] Yona already have pony pal.
</dd><dd><b>Rarity</b>: Oh, not that, darling. The dancing! And I know precisely who can help!
</dd></dl>
<dl><dd><b>Yona</b>: Uh... Rainbow Dash and Fluttershy good at dancing?
</dd><dd><b>Rainbow Dash</b>: Don't be so surprised. I'm awesome at everything! Except for baking.
</dd><dd><b>Fluttershy</b>: There are two traditional dances that
everypony does at the Fete. After a few days of practicing with us,
you'll know them both.
</dd><dd><b>Yona</b>: And fit right in!
</dd><dd><b>Rarity</b>: Absolutely. We'll start with the slow dance, the Pony Cotillion. That's Fluttershy's specialty.
</dd><dd><b>Fluttershy</b>: Oh, [nervous laugh], I wouldn't say specialty. It's just fun. Here, Yona. I made you a chart.
</dd><dd>[paper unfurling]
</dd><dd><b>Fluttershy</b>: All you have to do is follow these dance steps. You'll learn them in no time.
</dd><dd>[thump]
</dd><dd>[record needle scratches]
</dd><dd>[classical music plays]
</dd><dd><b>Fluttershy</b>: Now, just start walking. Step on whatever
color I name. Let's begin. [in rhythm with the music] Blue, red, step
ahead. Green, black, now step back. Now you try.
</dd><dd><b>Yona</b>: Blue, red, step— ah, oh! No. Um, Yona start over. Blue, red, green, black, yak step back?
</dd><dd><b>Fluttershy</b>: Good! Now, [in rhythm] black, green, red,
and blue. Red, black, hold one and two. Red, blue, red once more. Green,
 black, blue, red, three and four.
</dd><dd><b>Yona</b>: [yelps] Yona feel like she has four front feet! [yelps]
</dd><dd>[thud]
</dd><dd>[squeaking]
</dd><dd><b>Rarity</b>: [sighs]
</dd><dd><b>Fluttershy</b>: Ooh. Um, maybe we should try this again later.
</dd><dd><b>Rainbow Dash</b>: Don't worry, Yona.
</dd><dd>[whoosh]
</dd><dd><b>Rainbow Dash</b>: That was the hard one. Mine's <i>way</i> easier.
</dd><dd>[needle scratches]
</dd><dd>[uptempo pop music plays]
</dd><dd><b>Rainbow Dash</b>: A little dance called the Pony Prance! The key to this one is speed!
</dd><dd>[whooshing]
</dd><dd><b>Rainbow Dash</b>: Come on, Yona, try it! Just get with the flow and let yourself go!
</dd><dd>[loud thumping]
</dd><dd>[crashing]
</dd><dd><b>Rarity</b>: Oh, my!
</dd><dd><b>Rainbow Dash</b>: Whoa there!
</dd><dd><b>Yona</b>: [panting] <i>Yona like to flow and go!</i>
</dd><dd>[thump]
</dd></dl>
<dl><dd><b>Applejack</b>: Welcome to Sweet Apple Acres, Yona. Rarity tells us you need some help gettin' ready for the big dance.
</dd><dd><b>Rarity</b>: "Some". Ha! Indeed. And we only have a few more days.
</dd><dd><b>Pinkie Pie</b>: Well, you've come to the right place.
Because if you asked me what my favorite part of the dance is, I'd say
everything about the dance! But especially... this! The Fetlock lucky
pot dinner!
</dd><dd><b>Applejack</b>: It's part of the Ponyville dance tradition.
Everypony brings a dish to share, and we swap 'em without knowin' whose
is whose. Although my lucky pot probably gives me away. [laughs]
</dd><dd><b>Pinkie Pie</b>: You can cook anything you want! Like, can I suggest, oh, I don't know, maybe... <i>cupcakes</i>?!
</dd><dd><b>Rarity</b>: Uh, I already told Yona a little bit about that tradition. She's even brought her own lucky... bucket.
</dd><dd><b>Yona</b>: Yak buckets are best buckets. Yona think make traditional yak dish – tree-root stew!
</dd><dd>[flies buzzing]
</dd><dd><b>Yona</b>: Extra fiber. Mmmm. Ponies like?
</dd><dd><b>Pinkie Pie</b>: Hmm, I'm not sure. So, just in case, let's get baking!
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: [quickly] Flour, milk, sugar, butter, icing. Then we mix, and we beat, and we pour into pans. We bake...
</dd><dd>[ding!]
</dd><dd><b>Pinkie Pie</b>: And now you try it!
</dd><dd>[ripping]
</dd><dd><b>Yona</b>: [sneezes]
</dd><dd><b>Pinkie Pie</b>: Well, that's one way to mix it.
</dd><dd><b>Applejack</b>: Let's try somethin' a little simpler. I'm sure we can do somethin' with these.
</dd><dd><b>Yona</b>: Yah!
</dd><dd>[splat]
</dd><dd><b>Applejack</b>: O-kay. Applesauce it is.
</dd><dd>[thwack]
</dd></dl>
<dl><dd>[montage music]
</dd><dd><b>Yona</b>: Blue, red, green... whoa! Blue...
</dd></dl>
<dl><dd>[tumbling]
</dd><dd>[splatting]
</dd></dl>
<dl><dd>[ripping]
</dd></dl>
<dl><dd>[whiffle-whiffle-whiffle]
</dd><dd>[ding!]
</dd></dl>
<dl><dd><b>Yona</b>: [muffled] How kind of you to ask me to tea.
</dd></dl>
<dl><dd>[scrubbing]
</dd></dl>
<dl><dd>[boinging]
</dd></dl>
<dl><dd><b>Yona</b>: [chomp] [less muffled] How kind of you to ask me to tea.
</dd></dl>
<dl><dd><b>Mane Six except Twilight Sparkle</b>: [snoring]
</dd><dd><b>Yona</b>: [rhythmically] Blue, red, step ahead. [elocuting]
How kind of you... [rhythmically] Green, black, Yona step back.
[elocuting] ...to ask Yona to tea. [rhythmically] Black, green, red, and
 blue. Red, black hold one and two. Red, blue, red once more. Green,
black, blue, red, three and four!
</dd><dd><b>Rainbow Dash</b>: Look! She's dancing!
</dd><dd><b>Applejack</b>: How 'bout that? And she's good!
</dd><dd><b>Rarity</b>: Yona, if someone at the party tells you they're thirsty, you say...
</dd><dd><b>Yona</b>: [elocuting] May Yona— um... May <i>I</i> offer you a cup of punch?
</dd><dd><b>Rarity</b>: By Celestia, I think she's got it!
</dd><dd><b>Pinkie Pie</b>: She's <i>really</i> got it!
</dd><dd><b>Applejack</b>: Yona, you did it!
</dd><dd><b>Rainbow Dash</b>: You dance great!
</dd><dd><b>Fluttershy</b>: And are <i>so</i> well spoken!
</dd><dd><b>Pinkie Pie</b>: You'll be the hit of the ball!
</dd></dl>
<dl><dd><b>[Rarity]</b>
<dl><dd>You've mastered so many pony ways
</dd><dd>And grown a lot in the past few days
</dd><dd>You've shown a turn that has earned our praise
</dd></dl>
</dd></dl>
<dl><dd><b>[Yona]</b>
<dl><dd>And now I fit right...
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity and Yona]</b>
<dl><dd>...in
</dd></dl>
</dd></dl>
<dl><dd><b>[Rarity, Fluttershy, Rainbow Dash, Applejack, and Pinkie Pie]</b>
<dl><dd>You fit right in!
</dd></dl>
</dd></dl>
<dl><dd><b>Spike</b>: [amplified] Hello, everycreature! I'm your DJ,
Scales-n-Tail, spinning your favorite tunes all night long! So welcome
to the Fetlock Fet— I mean, the Amity Ball!
</dd><dd>[students cheering]
</dd><dd><b>Gallus</b>: I'm just glad I'm here with you guys. Least I'm not the only non-pony in the crowd.
</dd><dd><b>Sandbar</b>: You're not still worried about that, are you?
Like Headmare Twilight said, this is a dance for everycreature. There's
no pony pressure.
</dd><dd><b>Gallus</b>, <b>Ocellus</b>, and <b>Smolder</b>: [giggling]
</dd><dd><b>Ocellus</b>: You should've told Yona that.
</dd><dd><b>Sandbar</b>: Uh, what do you mean?
</dd><dd><b>Silverstream</b>: Didn't you hear? Our teachers have been helping her get ready for the dance! She's been taking <i>lessons</i>. [crunching]
</dd><dd><b>Smolder</b>: She's gone full pony for the dance.
</dd><dd><b>Gallus</b>: All for you.
</dd><dd>[snap!]
</dd><dd><b>Sandbar</b>: For me? Why?
</dd><dd><b>Yona</b>: [elocuting] How kind of you to ask me to this soiree, Sandbar.
</dd><dd><b>Gallus</b>, <b>Ocellus</b>, <b>Silverstream</b>, and <b>Smolder</b>: Uhh...
</dd><dd><b>Smolder</b>: What?
</dd><dd><b>Silverstream</b>: You look so <i>weird</i>!
</dd><dd><b>Sandbar</b>: Yona?!
</dd><dd><b>Yona</b>: [elocuting] Quite. Oh, I do hope I make a good pony pal for you.
</dd><dd><b>Sandbar</b>: Uh, of course you do. But, Yona, you didn't need to do any of... this.
</dd><dd><b>Smolder</b>: And why are you talking so funny?
</dd><dd><b>Yona</b>: [elocuting] I am not "talking funny". I'm fitting in.
</dd><dd><b>Gallus</b>: Could've fooled me.
</dd><dd><b>Rarity</b>: Yona! You look absolutely scrumptious, darling. [kissing] Uh, why don't I get that for you?
</dd><dd><b>Sandbar</b>: You made a lucky pot?
</dd><dd><b>Yona</b>: [elocuting] Precisely like ponies prepare!
</dd><dd>[microphone feedback]
</dd><dd><b>Twilight Sparkle</b>: [amplified] Welcome, everycreature, to
 our school's first annual Amity Ball! For those of you who've never
attended a Fetlock Fete, we can't wait to show you some of our fun
traditions on this special night!
</dd><dd>[students cheering]
</dd><dd><b>Twilight Sparkle</b>: [amplified] So, Spike...
</dd><dd><b>Spike</b>: Uh, Scales-n-Tail?
</dd><dd><b>Twilight Sparkle</b>: [amplified] Uh, right. Scales-n-Tail. [to crowd] Let's get this party started!
</dd><dd><b>Spike</b>: [amplified] Oh, yeah, party ponies! It's time to
raise the roof and stomp your hoof for the traditional first dance of
the night, the Pony Cotillion!
</dd><dd>[classical music plays]
</dd><dd><b>Yona</b>: Ah! Yona know this one!
</dd><dd><b>Sandbar</b>: You do?
</dd><dd><b>Yona</b>: [elocuting] Indeed! Green, black, then step back. Shall we?
</dd><dd>[spoon clinks]
</dd><dd><b>Rainbow Dash</b>: [gasps]
</dd><dd><b>Pinkie Pie</b>: [giggles]
</dd><dd><b>Applejack</b>: [chuckles]
</dd><dd><b>Sandbar</b>: [chuckles] Wow! How did you learn this?
</dd><dd><b>Yona</b>: [elocuting] I had good teachers.
</dd><dd>[stretching]
</dd><dd><b>Yona</b>: Whoa!
</dd><dd>[crash]
</dd><dd>[students gasp]
</dd><dd>[music stops]
</dd><dd><b>Sandbar</b>: [gasps] Yona! Are you alright?
</dd><dd><b>Yona</b>: Yona never practice dance with dress on. Uh... [elocuting] I mean, [chuckles] may I offer you a cup of punch?
</dd><dd>[pouring]
</dd><dd><b>Spike</b>: [amplified] Time to shake things up a little! That's right, everycreature! It's the Pony Prance!
</dd><dd>[slider clicking]
</dd><dd>[uptempo pop music plays]
</dd><dd><b>Sandbar</b>: Uh, maybe we should sit this one out.
</dd><dd><b>Yona</b>: [elocuting] No! I do so love the Pony Prance!
</dd><dd><b>Sandbar</b>: Ah!
</dd><dd>[hooves clicking]
</dd><dd><b>Yona</b>: [yelps]
</dd><dd>[crunching and crashing]
</dd><dd>[record needle scratches]
</dd><dd>[worried chattering]
</dd><dd><b>Rarity</b>: [screams]
</dd><dd><b>Yona</b>: [yelps]
</dd><dd><b>Sandbar</b>: It's okay, Yona!
</dd><dd><b>Smolder</b>: Just stop bouncing!
</dd><dd><b>Gallus</b>: We got you!
</dd><dd>[smack!]
</dd><dd><b>Sandbar</b>: [grunts]
</dd><dd>[smack!]
</dd><dd><b>Silverstream</b>: [grunts]
</dd><dd>[smack!]
</dd><dd><b>Smolder</b>: [grunts]
</dd><dd>[smack!]
</dd><dd><b>Gallus</b>: Ah!
</dd><dd><b>Yona</b>: Wig... come... off! [grunts] Huh? [yelps]
</dd><dd>[skidding brakes]
</dd><dd>[crash!]
</dd><dd>[splat]
</dd><dd>[clang]
</dd><dd>[splats]
</dd><dd><b>Sandbar</b>: [gasps]
</dd><dd>[splats]
</dd><dd><b>Rarity</b>: What a calamitous yak-ccident!
</dd><dd><b>Sandbar</b>: Yona!
</dd><dd><b>Ocellus</b>: What happened?!
</dd><dd><b>Silverstream</b>: Are you all right?
</dd><dd><b>Yona</b>: [bawling] No! Yona <i>not</i> all right! Yona want to be alone! [crying]
</dd><dd>[flump]
</dd></dl>
<dl><dd><b>Yona</b>:
<dl><dd>Yona sad...
</dd><dd>Yona sing sad song...
</dd><dd>Sad Yona...
</dd></dl>
</dd><dd>[bird twittering]
</dd><dd><b>Yona</b>: Yona no blame bird. Yona no want to be around Yona either.
<dl><dd>Yona sad...
</dd><dd>Yona sing sad song...
</dd></dl>
</dd><dd><b>Sandbar</b>: Yona?
</dd><dd><b>Yona</b>: [panicked gasp] [sniffling] How Sandbar find Yona?
</dd><dd><b>Sandbar</b>: I know you pretty well by now. I figured you'd come here. Besides, it's where I'd go if something like that happened to me.
</dd><dd><b>Yona</b>: Sandbar mean something awful and embarrassing. So awful, Yona cannot come down from treehouse ever!
</dd><dd>[whirring]
</dd><dd><b>Yona</b>: Will Sandbar bring Yona food and water?
</dd><dd><b>Sandbar</b>: You know, it really wasn't that bad. I don't think anycreature hardly even noticed.
</dd><dd>[beat]
</dd><dd><b>Sandbar</b>: Well, maybe one or two didn't. If they happened
 to be in Canterlot for the day. But anyway, it's all over now, so...
will you come back to the dance with me?
</dd><dd>[thump]
</dd><dd><b>Yona</b>: Yona disappoint Sandbar. Yona not make very good pony.
</dd><dd><b>Sandbar</b>: Why would you think you disappointed me? And who said anything about having to be a good pony?
</dd><dd><b>Yona</b>: Yona just want to do all the right pony things and
 fit in at dance! Then maybe Sandbar and Yona win best pony pals
contest. Instead, Yona win worst pony ever.
</dd><dd>[crunch]
</dd><dd><b>Sandbar</b>: That's not true.
</dd><dd><b>Yona</b>: Really? Sandbar, name two ponies worse than Yona.
</dd><dd><b>Sandbar</b>: Cozy Glow and Sombra.
</dd><dd><b>Yona</b>: [chuckles] Okay, Sandbar right. They worse.
</dd><dd><b>Sandbar</b>: Yona, it doesn't really matter if you're a great pony or a horrible pony. You're the best <i>Yona</i> I know. That's why I asked you to the dance.
</dd><dd><b>Yona</b>: Really?
</dd><dd><b>Sandbar</b>: I never wanted you to be anything other than
what you are. My friend, Yona, the yak. [grunts] So, what do you say?
Let's go back to the dance?
</dd></dl>
<dl><dd>[sweeping]
</dd><dd><b>Rarity</b>: [sighs]
</dd><dd>[door opens]
</dd><dd><b>Rarity</b>: [gasps]
</dd><dd><b>Fluttershy</b>: [gasps]
</dd><dd><b>Sandbar</b>: [hushed] Don't worry. I'm with you.
</dd><dd><b>Gallus</b>: We all are.
</dd><dd><b>Pinkie Pie</b>: Yona! Are you all right?
</dd><dd><b>Fluttershy</b>: We were so worried when you disappeared like that.
</dd><dd><b>Yona</b>: Yona fine, but... Yona sorry. Not mean to make such a mess and ruin the pony dance.
</dd><dd><b>Applejack</b>: It's not your fault, sugarcube.
</dd><dd><b>Rainbow Dash</b>: It's the opposite. If anything, <i>we</i> should be apologizing.
</dd><dd><b>Pinkie Pie</b>: I thought we were just teaching you how to have fun at the dance.
</dd><dd><b>Rarity</b>: We never meant to try to turn you into something you're not.
</dd><dd><b>Yona</b>: Is okay. Friend help Yona feel better.
</dd><dd><b>Twilight Sparkle</b>: And that's why we're giving you this.
</dd><dd><b>Sandbar</b> and <b>Yona</b>: Huh?
</dd><dd><b>Sandbar</b>: No way! The Pony Pal prize!
</dd><dd><b>Twilight Sparkle</b>: From now on, it's the annual Amity Ball Award for Friendship!
</dd><dd><b>Applejack</b>: No pony-ness required.
</dd><dd><b>Rainbow Dash</b>: We all decided you and Yona totally earned this.
</dd><dd><b>Rarity</b>: Your actions tonight exemplify the true meaning of friendship.
</dd><dd><b>Twilight Sparkle</b>: Congratulations, you two!
</dd><dd><b>Young Six</b>: [cheering]
</dd><dd>[students cheering]
</dd><dd><b>Spike</b>: Yona! I'm glad you're back! Everypony wants to learn that crazy dance you did!
</dd><dd><b>Yona</b>: Yak dance? Is easy! Yona teach... if everycreature want to learn?
</dd><dd><b>Rarity</b>: It would be an honor.
</dd><dd><b>Spike</b>: [amplified] You asked for it, and DJ Scales-n-Tail is gonna deliver! Everycreature join Yona for... the Yakyakistan Stomp!
</dd><dd>[fast-paced Middle Eastern music plays]
</dd><dd>[loud thumping]
</dd><dd>[students laughing]
</dd><dd>[multiple thumps]
</dd><dd><b>Yona</b>: [laughing, chanting "Yak! Yak! Yak!"]
</dd></dl>
<dl><dd>[credits]
</dd></dl>
