meta[ title:My Little Pony Friendship is Magic/Animated shorts, lines: 344]

<h3><span class="mw-headline" id="Triple_Pony_Dare_Ya">Triple Pony Dare Ya</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=1" title="Edit Triple Pony Dare Ya section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd><b>Granny Smith</b>: Seven... Eight... Nine... No, that's a button. I wonder what that goes to. Uh, lemme check.
</dd><dd><b>Rainbow Dash</b>: [deep inhale, long sigh, deep inhale]
</dd><dd><b>Pinkie Pie</b>: Mmmm! Don't you just love Granny's Hearth's Warming fruitcake? [to Applejack] Uh, what's wrong with her?
</dd><dd><b>Applejack</b>: Triple Pony Dare. I bet Rainbow Dash she couldn't wait patiently in this line all the way to the end.
</dd><dd><b>Pinkie Pie</b>: Wow. There's Triple Pony Dares, and then there's just impossible!
</dd><dd><b>Rainbow Dash</b>: [straining, screams] Out of my way!
</dd><dd><b>Applejack</b>: Told ya so! I win, fair and square.
</dd><dd><b>Rainbow Dash</b>: No, you don't! I didn't Triple Dare you back! First one to finish a Dare, they're Triple Pony Dare champion! Forever!
</dd><dd><b>Rainbow Dash</b> and <b>Applejack</b>: Hmph!
</dd></dl>
<dl><dd><b>Rainbow Dash</b>: Triple Pony Dare ya. No touching, no wearing, for one... whole... moon!
</dd><dd>[bionic clicking]
</dd><dd><b>Applejack</b>: I missed you so much, Tallulah!
</dd></dl>
<dl><dd>[whooshing]
</dd><dd><b>Applejack</b>: Triple Pony Dare ya, Rainbow Dash! Fly slower than apple molasses!
</dd><dd>[screech!]
</dd><dd><b>Rainbow Dash</b>: [straining] Aah!
</dd></dl>
<dl><dd><b>Rainbow Dash</b>: Keep going. You need twenty more to win this Dare.
</dd><dd><b>Applejack</b>: [straining] Whoa...! [screams, groans]
</dd><dd><b>Rainbow Dash</b>: [laughs]
</dd></dl>
<dl><dd><b>Applejack</b>: You gotta dig five holes before sunset – Earth pony style!
</dd><dd><b>Rainbow Dash</b>: [grunts]
</dd><dd>[clang!]
</dd><dd><b>Rainbow Dash</b>: [warbling]
</dd><dd>[crack]
</dd></dl>
<dl><dd><b>Rainbow Dash</b>: Buck one and <i>only</i> one.
</dd><dd><b>Applejack</b>: [gulps]
</dd><dd>[soft tap]
</dd><dd>[thud]
</dd><dd>[flump!]
</dd><dd><b>Rainbow Dash</b>: [laughs]
</dd><dd><b>Pinkie Pie</b>: So? Find a Triple Pony Dare champion forever yet?
</dd><dd><b>Applejack</b>: It should be me! If Rainbow Dash didn't keep comin' up with such lowdown, nasty Dares.
</dd><dd><b>Rainbow Dash</b>: Me?! Do you know how hard it is to fly slow?!
</dd><dd><b>Pinkie Pie</b>: [gasps] I just figured out how to settle this whole thing!
</dd><dd><b>Rainbow Dash</b>: You did?
</dd><dd><b>Pinkie Pie</b>: Uh-huh. I Triple Pony Dare you... to quit daring each other!
</dd><dd><b>Applejack</b>: No way!
</dd><dd><b>Rainbow Dash</b>: Me, neither!
</dd><dd><b>Pinkie Pie</b>: Guess that means... <i>I'm</i> the winner! I win! I win! I win! Uh-huh! Oh, yeah! [giggles]
</dd></dl>
<h3><span class="mw-headline" id="The_Great_Escape_Room">The Great Escape Room</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=2" title="Edit The Great Escape Room section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd>[crunch]
</dd><dd><b>Rainbow Dash</b>: Hey! You stepped on my tail!
</dd><dd><b>Applejack</b>: Sorry. Can't see a darn thing.
</dd><dd><b>Fluttershy</b>: Did Pinkie Pie say what her Hearth's Warming Eve surprise was going to be?
</dd><dd>[click]
</dd><dd><b>Mane Six except Pinkie Pie</b>: [yelp]
</dd><dd><b>Pinkie Pie</b>: Welcome to my amazingly amazing escape room! So? You amazed?
</dd><dd>[beat]
</dd><dd><b>Rarity</b>: Yes. Because it looks remarkably like Applejack's barn.
</dd><dd><b>Pinkie Pie</b>: Oh, it's sooo much more. Holiday clues,
puzzles, and riddles are hidden everywhere! And until you solve them to
find the key...
</dd><dd>[rattle]
</dd><dd><b>Pinkie Pie</b>: We're locked inside!
</dd><dd><b>Rainbow Dash</b>, <b>Applejack</b>, <b>Fluttershy</b>, and <b>Rarity</b>: [gasp]
</dd><dd><b>Twilight Sparkle</b>: Come on, everypony. We're experts at escape rooms now.
</dd><dd><b>Pinkie Pie</b>: Good! 'Cause if we don't get out of here in time, something super big and <i>really</i> scary is going to happen!
</dd><dd><b>Fluttershy</b>: What kind of something?
</dd><dd><b>Pinkie Pie</b>: I don't remember.
</dd><dd><b>Rarity</b>: But... But you created this escape room!
</dd><dd><b>Pinkie Pie</b>: Uh-huh. Then I made sure to forget everything so I can play, too. Whee!
</dd></dl>
<dl><dd><b>Rainbow Dash</b>: That's not what the clue means. We're supposed to lick the candy canes, <i>then</i> sing carols.
</dd><dd><b>Applejack</b>: The way I see it, we gallop backwards, whistle carols, <i>then</i> lick 'em.
</dd><dd><b>Pinkie Pie</b>: Why not try both?
</dd><dd>[gramophone playing]
</dd><dd><b>Pinkie Pie</b>: [whistles]
</dd></dl>
<dl><dd><b>Rainbow Dash</b>: [straining]
</dd><dd><b>Fluttershy</b>: [straining]
</dd><dd><b>Rarity</b>: Two hundred thousand, seventy-four... Two hundred thousand, seventy-five... Two hundred thousand, sev...
</dd><dd><b>Twilight Sparkle</b>: Pinkie, what does any of this have to do with finding a key?
</dd><dd><b>Pinkie Pie</b>: We're having fun!
</dd><dd><b>Rainbow Dash</b> and <b>Fluttershy</b>: [gasp]
</dd><dd><b>Pinkie Pie</b>: [giggling]
</dd><dd><b>Rarity</b>: Oh, poo! I've lost count! One... Two...
</dd></dl>
<dl><dd>[music]
</dd><dd>[clock ticking]
</dd></dl>
<dl><dd>[bell clanging]
</dd><dd><b>Rainbow Dash</b>: Well? Which one of these is the thing you need for the perfect Hearth's Warming Eve?
</dd><dd><b>Pinkie Pie</b>: All of them! [squee] Yay!
</dd><dd><b>Fluttershy</b>: [cries]
</dd><dd>[buzzing]
</dd><dd><b>Mane Six except Pinkie Pie</b>: [gasp]
</dd><dd><b>Pinkie Pie</b>: And time's up! And you didn't find the key, so get ready. What's gonna happen?!
</dd><dd><b>Mane Six except Pinkie Pie</b>: [scared noises]
</dd><dd>[whirring]
</dd><dd><b>Mane Six except Pinkie Pie</b>: [gasp]
</dd><dd>[squeak!]
</dd><dd><b>Pinkie Pie</b>: Oh, yeah! <i>That's</i> what it was! Woo-hoo! Wasn't that sooo much fun?!
</dd><dd><b>Twilight Sparkle</b>: Uh... "fun" is a very strong word.
</dd><dd><b>Gummy</b>: [blows noisemaker]
</dd></dl>
<h3><span class="mw-headline" id="Mystery_Voice">Mystery Voice</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=3" title="Edit Mystery Voice section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd><b>Rarity</b>: Welcome, class. Today, we are going to make dolls for Hearth's Warming Eve.
</dd><dd>[loudspeaker whines]
</dd><dd>[microphone taps]
</dd><dd><b>Loudspeaker</b>: <i>Good morning, students and teachers. Due to the snow, Yodeling Club is canceled. Thank you.</i>
</dd><dd>[click]
</dd><dd><b>Rarity</b>: Hmm. Odd. That didn't sound like Twilight. Well, as I was saying—
</dd><dd>[loudspeaker whines]
</dd><dd><b>Loudspeaker</b>: <i>Hi-hi-hi! One more thing. Urban yovidaphone practice is postponed 'til after holiday break. Ta for now!</i>
</dd><dd>[click]
</dd><dd><b>Rarity</b>: Ta indeed! Now, if that is all...
</dd><dd>[beat]
</dd><dd><b>Rarity</b>: Wonderful. As I was saying, I think you're going to find this project very—
</dd><dd>[loudspeaker whines]
</dd><dd><b>Loudspeaker</b>: <i><span style="text-transform:uppercase;">the fun and games society regrets to inform you that today's outdoor chess event is being rescheduled</span>! Scheduled... scheduled...!</i>
</dd><dd>[click]
</dd><dd><b>Rarity</b>: [annoyed tone] As I was saying—
</dd><dd>[loudspeaker whines]
</dd><dd><b>Loudspeaker</b>: <i><span style="text-transform:uppercase;">have a great day</span>!</i>
</dd><dd>[click]
</dd><dd><b>Rarity</b>: [growls] That does it! Enough interruptions!
</dd><dd>[door opens, slams]
</dd><dd>[thud]
</dd></dl>
<dl><dd>[smack!]
</dd><dd><b>Rarity</b>: What are you two doing here?
</dd><dd><b>Rainbow Dash</b>: I can't get through a sentence without being cut off! I'm gonna tell those announcers to pipe down!
</dd><dd><b>Fluttershy</b>: I'm gonna ask them politely! I've been trying to teach my students how to feed a hedgehog—
</dd><dd>[loudspeaker whines]
</dd><dd><b>Loudspeaker</b>: [high-pitched] <i>And don't forget! The Jump-Rope Jamboree is also canceled!</i>
</dd><dd><b>Fluttershy</b>: But <i>that</i> keeps happening.
</dd><dd><b>Rainbow Dash</b>: Let's go have a friendly teacher chat with those announcers. On three.
</dd><dd><b>Rarity</b>: One...
</dd><dd><b>Fluttershy</b>: Two...
</dd><dd><b>Rainbow Dash</b>: Three!
</dd><dd>[door opens]
</dd><dd><b>Applejack</b>: [high-pitched] Sorry for the inconvenience!
</dd><dd><b>Rainbow Dash</b>, <b>Fluttershy</b>, and <b>Rarity</b>: Applejack?!
</dd><dd><b>Applejack</b>: Oh, hey! What do you think? Twilight said I
could do the announcements today. With all the bad news, I thought I'd
give 'em some flavor.
</dd><dd><b>Rainbow Dash</b>: Wait. All those voices were yours?
</dd><dd><b>Applejack</b>: [chuckles] Sure were. Want to hear another?
</dd><dd><b>Rarity</b>: Actually, if you don't mind saving them, I think we have a perfect Hearth's Warming solution for the blizzard outside.
</dd></dl>
<dl><dd><b>Applejack</b>: [non-accented] This land shall be known as Unicornia. [normally] ...proclaimed Princess Platinum. [gruffly] <span style="text-transform:uppercase;">pegasopolis</span>!
 [normally] ...demanded Commander Hurricane. [high-pitched] Dirtville!
[normally] ...suggested Chancellor Puddinghead. And still the windigos
raged outside. [spooky noises]
</dd></dl>
<h3><span class="mw-headline" id="Rarity.27s_Biggest_Fan">Rarity's Biggest Fan</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=4" title="Edit Rarity's Biggest Fan section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd><b>Twilight Sparkle</b>: I'll have my usual mane style. Thank you, Aloe.
</dd><dd><b>Rarity</b>: [fake cough] Not again.
</dd><dd><b>Twilight Sparkle</b>: Do you need some water?
</dd><dd><b>Rarity</b>: Oh, I'm fine, darling. But why couldn't you try something different for once? A chic updo will simply <i>scream</i> "headmare"!
</dd><dd><b>Twilight Sparkle</b>: I'm not sure I want my mane to scream anything. [to Aloe] I'll just have the same as always.
</dd><dd><b>Rarity</b>: Oh, bother. Of course you will.
</dd><dd><b>Twilight Sparkle</b>: What can I say? I know what I like. But there's nothing stopping <i>you</i> from trying a new style.
</dd><dd><b>Rarity</b>: I <i>do</i> feel the winds of change rustling my mane. But what to get? Hmm... [groans] I need something spectacular!
</dd><dd>[wind whistling]
</dd><dd><b>Rarity</b>: Something... moving!
</dd><dd>[window closes]
</dd><dd><b>Twilight Sparkle</b>: Princesses Celestia and Luna are the only ones with manes like that.
</dd><dd><b>Rarity</b>: Not for long!
</dd></dl>
<dl><dd><b>Rarity</b>: [grunting] Oh, come on, mane! Move! [sputters] There must be a secret to it.
</dd></dl>
<dl><dd>[magic zap]
</dd><dd>[cracking]
</dd></dl>
<dl><dd>[hairspray hissing]
</dd><dd>[cracking]
</dd></dl>
<dl><dd>[wind whistling]
</dd><dd>[train whistle blows]
</dd><dd><b>"All Aboard"</b>: Last stop!
</dd><dd>[ponies chattering]
</dd><dd><b>Rarity</b>: Oh, poo!
</dd><dd><b>Spike</b>: Oh, uh, hey, Rarity. I picked up that fabric you asked me to. Anything else you need?
</dd><dd><b>Rarity</b>: [gasps]
</dd><dd>[wings flapping]
</dd><dd><b>Rarity</b>: Now that you mention it...
</dd></dl>
<dl><dd>[door opens]
</dd><dd><b>Twilight Sparkle</b>: Rarity! I can't believe you figured it out! What's the secret to the spell?
</dd><dd><b>Rarity</b>: Actually, there was no spell. All it takes is... [clears throat]
</dd><dd>[wind whistling]
</dd><dd><b>Rarity</b>: ...a big fan!
</dd><dd><b>Spike</b>: [panting]
</dd><dd><b>Rarity</b>: Thank you, Spikey-Wikey. Now, come along. We've got things to do and ponies who need to see me!
</dd><dd><b>Spike</b>: [groans]
</dd><dd><b>Twilight Sparkle</b>: [giggles]
</dd></dl>
<h3><span class="mw-headline" id="Ail-icorn">Ail-icorn</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=5" title="Edit Ail-icorn section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd><b>Twilight Sparkle</b>: [sneezes]
</dd><dd><b>Spike</b>: I've tried everything! Poultices, soup, a poultice made of soup. But nothing's helping Twilight get better!
</dd><dd><b>Twilight Sparkle</b>: [congested] I told you, Spike. It's just a little spring allergy— [sneezes]
</dd><dd>[magic zap]
</dd><dd><b>Twilight Sparkle</b>: —in my horn.
</dd><dd><b>Rarity</b>: Strange. I've never had a horn allergy.
</dd><dd><b>Rainbow Dash</b>: Must be an Alicorn thing.
</dd><dd><b>Rarity</b>: Oh, pity. The glitter is simply <i>par excellence</i>.
</dd><dd><b>Spike</b>: Uh, I wouldn't do that.
</dd><dd>[poof!]
</dd><dd><b>Spike</b>: Told ya.
</dd><dd>[whiffle!]
</dd><dd>[stretching]
</dd><dd>[snap!]
</dd><dd><b>Applejack</b>: That... is the fifth strangest thing I've ever seen.
</dd><dd><b>Rarity</b>: How do I get it off?!
</dd><dd>[thud]
</dd><dd><b>Rarity</b>: Whoa! Whoopsie! Ugh.
</dd><dd><b>Twilight Sparkle</b>: [coughing]
</dd><dd>[teleportation zap]
</dd><dd><b>Fluttershy</b>: S-So... c-c-c-c-c-cold...!
</dd><dd><b>Spike</b>: See? We gotta do something to stop Twilight from sneezing magic!
</dd><dd><b>Twilight Sparkle</b>: Sorry. But there's nothing you <i>can</i> do. Everything I've read says this just has to run its cour— Ah...
</dd><dd><b>Rainbow Dash</b>: Take cover!
</dd><dd><b>Twilight Sparkle</b>: Ah... Ah... [sneezes loudly]
</dd><dd>[magic zap]
</dd><dd><b>Applejack</b>: Uh-oh! Whoooaaa! [screaming]
</dd><dd><b>Twilight Sparkle</b>: Sorry, Applejack.
</dd><dd><b>Rainbow Dash</b>: I'll get you down!
</dd><dd><b>Twilight Sparkle</b>: [sneezes]
</dd><dd>[magic zap]
</dd><dd><b>Rainbow Dash</b>: [horn honks, sawing sounds]
</dd><dd><b>Spike</b>: Uh... what'd she say?
</dd><dd><b>Rainbow Dash</b>: [jackhammering, slide whistle, chicken squawk]
</dd><dd><b>Fluttershy</b>: I don't know. Not even <i>I</i> speak sound effect.
</dd><dd>[knocking]
</dd><dd><b>Rarity</b>: This is ridiculous! We simply must find a cure!
</dd><dd>[thud]
</dd><dd><b>Pinkie Pie</b>: [muffled] Never fear!
</dd><dd>[door opens]
</dd><dd><b>Pinkie Pie</b>: Pinkie Pie is here! Special delivery from Zecora!
</dd><dd><b>Rainbow Dash</b>: [drill sound, cuckoo clock, cat yowl, bionic clicking]
</dd><dd><b>Pinkie Pie</b>: That's what I said. Anyhoo, Zecora promised this potion will cure Twilight!
</dd><dd><b>Twilight Sparkle</b>: [gulping, hiccups]
</dd><dd>[poof!]
</dd><dd>[thud]
</dd><dd><b>Rainbow Dash</b>: Aw, yeah!
</dd><dd>[poof!]
</dd><dd><b>Twilight Sparkle</b>: It worked!
</dd><dd><b>Pinkie Pie</b>: Except...
</dd><dd>[poof!]
</dd><dd><b>Pinkie Pie</b>: ...there <i>may</i> be some teensy-eensy side effects.
</dd><dd><b>Baby Twilight Sparkle</b>: [crying]
</dd></dl>
<h3><span class="mw-headline" id="Teacher_of_the_Month">Teacher of the Month</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=6" title="Edit Teacher of the Month section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd><b>Applejack</b>: Hey, Fluttershy! Congrats on bein' Teacher of the Month. Again. What is this, number fifteen?
</dd><dd><b>Fluttershy</b>: Oh, um... sixteen, actually. [giggles]
</dd><dd><b>Rainbow Dash</b>: What's your secret? Say some other pony wanted to be Teacher of the Month. What should she do?
</dd><dd><b>Fluttershy</b>: Well, um, I'm not exactly sure.
</dd></dl>
<dl><dd>[students chattering]
</dd><dd><b>Fluttershy</b>: All right, class. Time to tidy up.
</dd><dd><b>Students</b>: Awww...
</dd><dd><b>Fluttershy</b>: I mean, it's time for a clean-up dance party!
</dd><dd>[thud]
</dd><dd>[dance music]
</dd><dd><b>Students</b>: Yay! [laughing]
</dd><dd>[camera clicks]
</dd></dl>
<dl><dd><b>Fluttershy</b>: Today, we're gonna learn about responsibility.
</dd><dd><b>Students</b>: [groan]
</dd><dd><b>Fluttershy</b>: By taking care of baby animals!
</dd><dd><b>Students</b>: Yay!
</dd><dd>[camera clicks]
</dd></dl>
<dl><dd>[rain falling]
</dd><dd><b>Fluttershy</b>: Sorry, everyone. Looks like we have to cancel our field trip because of the weather.
</dd><dd><b>Students</b>: Awww...
</dd><dd><b>Fluttershy</b>: We'll just have to stay here and play games instead!
</dd><dd><b>Students</b>: Yay!
</dd><dd>[camera clicks]
</dd></dl>
<dl><dd><b>Applejack</b>: Wow. You really <i>are</i> a great teacher.
</dd><dd><b>Rainbow Dash</b>: So? Teach us! How can we get our picture on that wall?
</dd></dl>
<dl><dd>[dance music]
</dd><dd><b>Applejack</b>: Welcome to the first annual Student Appreciation School Party!
</dd><dd><b>Rainbow Dash</b>: Set up and hosted by us!
</dd><dd><b>Students</b>: Yay!
</dd><dd><b>Fluttershy</b>: I definitely think they should be Teachers of the Month, don't you?
</dd><dd>[students muttering in agreement]
</dd><dd><b>Applejack</b>: Thanks for your help, Fluttershy. We wouldn've never thought of this without you.
</dd><dd><b>Smolder</b>: Wait.
</dd><dd>[music stops]
</dd><dd><b>Smolder</b>: This was Fluttershy's idea?
</dd><dd><b>Rainbow Dash</b>: Well...
</dd><dd><b>Applejack</b>: Uh, yup.
</dd><dd><b>Students</b>: [laughing]
</dd><dd>[camera clicks]
</dd></dl>
<dl><dd><b>Rainbow Dash</b> and <b>Applejack</b>: [laugh, sigh]
</dd></dl>
<h3><span class="mw-headline" id="Starlight_the_Hypnotist">Starlight the Hypnotist</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=7" title="Edit Starlight the Hypnotist section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd>[door knocks]
</dd><dd>[door opens]
</dd><dd><b>Starlight Glimmer</b>: Oh, hey, Twilight. Did you knock?
</dd><dd><b>Twilight Sparkle</b>: No! I mean, yes! I mean, am I interrupting something? I'll come back later.
</dd><dd><b>Starlight Glimmer</b>: No, stay. I was just fixing Pinkie Pie's kite. Uh, is everything okay?
</dd><dd><b>Twilight Sparkle</b>: [laughing nervously] Well, since you asked, there is a <i>little</i> tiny something bothering me.
</dd><dd><b>Starlight Glimmer</b>: Oh. [chuckles] Then you've come to the right counselor.
</dd><dd><b>Twilight Sparkle</b>: Oh, wow. This is actually kind of embarrassing, but...
</dd><dd><b>Starlight Glimmer</b>: But...?
</dd><dd><b>Twilight Sparkle</b>: The thing is, I'm terrified of... of...
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: [gasps, screams]
</dd></dl>
<dl><dd>[spoon clatters]
</dd><dd><b>Twilight Sparkle</b>: [screams]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: [screams, yelping]
</dd></dl>
<dl><dd><b>Starlight Glimmer</b>: Ladybugs? Like the cute, little, red beetle things with black spots?
</dd><dd><b>Twilight Sparkle</b>: When I was a filly, a swarm of them
got into our house. Shining Armor told me that their spots were extra
eyes watching you wherever you go! So creepy! [whimpers] Ever since
Fluttershy assigned the students that ladybug care project, they're
everywhere! What's this? "<i>Magical Hypnosis for Phobias: A Beginner's Guide</i>".
</dd><dd><b>Starlight Glimmer</b>: Mm-hmm. I've been studying the
techniques. Want to give it a shot? Okay! All you have to do is keep
your eyes on the star. You should begin to feel sleepy any moment.
[echoing] Just listen to the sound of my voice. Instead of being afraid
when you see a ladybug, you will now—
</dd><dd>[door bursts open]
</dd><dd><b>Pinkie Pie</b>: <i>Kite-flying time! Woo-hoo!</i>
</dd><dd><b>Twilight Sparkle</b>: Ladybug... Kite-flying time... Woo-hoo... [groans]
</dd><dd><b>Starlight Glimmer</b>: [groans]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: [yelps] Can't see me now, huh?! What's wrong?! Got clouds in your eyes, spots?! [crazed laughter]
</dd><dd><b>Pinkie Pie</b>: Wow! Twilight really likes her new kite. But why does she keep yelling at it to stop looking at her?
</dd><dd><b>Starlight Glimmer</b>: [groans]
</dd></dl>
<h3><span class="mw-headline" id="Sundae.2C_Sundae.2C_Sundae">Sundae, Sundae, Sundae</span><span class="editsection"><a href="https://mlp.fandom.com/wiki/Transcripts/My_Little_Pony_Friendship_is_Magic/Animated_shorts?action=edit&amp;section=8" title="Edit Sundae, Sundae, Sundae section"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite edit-pencil">Edit</a></span></h3>
<dl><dd><b>Pinkie Pie</b>: Step right up, everypony, to the coolest attraction in all of Equestria! [slurps, giggles]
</dd><dd>[ponies chattering]
</dd><dd><b>Pinkie Pie</b>: And I mean <i>cool</i>.
</dd><dd><b>Daisy</b>: Ooh...
</dd><dd><b>Pinkie Pie</b>: This show is cooler than a snow sandwich in Yakyakistan.
</dd><dd><b>Sea Swirl</b>: Ooh...
</dd><dd><b>Pinkie Pie</b>: What icy treasures await you ponies behind this very curtain? Oh! I'm glad you asked. 'Cause I've got the "scoop"!
</dd><dd>[thud]
</dd><dd><b>Pinkie Pie</b>: A big one! Presenting the one, the only... Sugarcube Corner Ice Cream Museum!
</dd><dd>[squeak!]
</dd><dd>[ponies cheering]
</dd><dd><b>Mrs. Cake</b>: [clears throat] Uh, Pinkie Pie? Uh—
</dd><dd><b>Pinkie Pie</b>: The Sugarcube Corner Ice Cream Museum is the only place where you can learn about the history of ice cream <i>and</i>
 admire whatever flavor you favor! [giggles] Come on, everypony. Revere
the rocky road! Commend the cookie dough! Marvel at the mint chip! And
don't forget to take a dip in the rainbow sprinkle pool! It's so
beautiful!
</dd><dd><b>Mr. Cake</b>: [worried sound]
</dd><dd><b>Mrs. Cake</b>: Pinkie Pie, dear, the ice cream is going to—
</dd><dd><b>Pinkie Pie</b>: Be delicious! That's right, Mrs. Cake! Because there's tasting spoons for everypony! You get a spoon, and <i>you</i> get a spoon, and <i>you</i> get a spoon, and <i>you</i> get a spoon!
</dd><dd>[ponies laughing]
</dd><dd><b>Pinkie Pie</b>: What could top that, you ask?
</dd><dd>[beat]
</dd><dd><b>Pinkie Pie</b>: Go on. You ask.
</dd><dd><b>Crowd Pony</b>: Uh, what could... What could top—?
</dd><dd><b>Pinkie Pie</b>: <i>Toppings!</i> Jimmies, gummies, crumbles, jumbles, sprinkles, pickles... [gasps] And that's just the first row!
</dd><dd><b>Mrs. Cake</b>: Well, why don't we go inside and see?
</dd><dd><b>Pinkie Pie</b>: [gasps] Tell me, Cranky. What flavor of ice cream are <i>you</i> most excited about?
</dd><dd><b>Cranky Doodle Donkey</b>: Vanilla.
</dd><dd><b>Pinkie Pie</b>: Well, you're in luck! 'Cause this museum's got that, too! Now, who's ready to chill out with me?!
</dd><dd>[ponies cheering]
</dd><dd><b>Pinkie Pie</b>: Welcome to...
</dd><dd><b>Mrs. Cake</b>: [whimpers]
</dd><dd>[ponies gasp]
</dd><dd><b>Pinkie Pie</b>: The Sugarcube Corner Ice Cream— [gasps] Soup Museum?
</dd><dd><b>Cranky Doodle Donkey</b>: Good. I can't stand eating cold things.
</dd><dd><b>Pinkie Pie</b>: [slurps] Mmmm! [gasps]
</dd><dd>[splash!]
</dd><dd><b>Pinkie Pie</b>: Melted is my new favorite flavor!
</dd><dd>[ponies laughing]
</dd></dl>
