meta[ title:Secret of My Excess, lines: 246]
<dl><dd><b>Twilight Sparkle</b>: No distractions. Today is too important. Re-shelving day! <i>Understanding Medieval Equestria</i> goes in Pony History. <i>Modern Spellcasting</i>. That's Classics. <i>The Art of the To-Do List</i>... actually, I kinda wanna read that again.
</dd><dd><b>Spike</b>: [chuckling]
</dd><dd><b>Twilight Sparkle</b>: Spike! What are you laughing at?
</dd><dd><b>Spike</b>: This little beauty is my birthday present to myself! It's a fire ruby! I've been aging it for months, and it's almost ripe!
</dd><dd>[tuning fork pings]
</dd><dd><b>Spike</b>: [giggles] Hey, you took my advice! Just use the whole floor as one big shelf.
</dd><dd><b>Twilight Sparkle</b>: [growls]
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Rarity</b>: [muffled] Hellooo? [normal] Anypony home? Twilight? [gasps] Is that a <i>fire ruby</i>?! Huh, that must be at least twenty carats! No inclusions, pristine facets...
</dd><dd><b>Spike</b>: And totally delicious.
</dd><dd><b>Twilight Sparkle</b>: Uhh... if you guys don't mind?
</dd><dd><b>Rarity</b>: Oh, uh, of course. I just came by to see if you had any books on historical fashion... [to Spike] Did you say... delicious?
</dd><dd><b>Spike</b>: Sure did! Next week's my birthday, and this is my birthday dinner.
</dd><dd><b>Twilight Sparkle</b>: Start with this one.
</dd><dd><b>Rarity</b>: Thanks, Twilight. I've got a feeling ruffled
taffeta capes are going to make a huge comeback this season, and I want
to be ahead of the game... [to Spike] I hope it's as tasty as it is
beautiful, Spike. I've never seen anything quite so stunning before.
</dd><dd><b>Spike</b>: Gosh... You really like it, huh?
</dd><dd><b>Rarity</b>: Like it? It's <i>magnificent</i>.
</dd><dd><b>Spike</b>: [sighs] Then you should have it. This beautiful gem was meant to be with you.
</dd><dd><b>Rarity</b>: I don't know what to say... this is so thoughtful. Oh, my little Spikey-wikey! [kisses] Thank you <i>so</i> much!
</dd><dd><b>Twilight Sparkle</b>: Wow, Spike, that's one of the kindest, most generous things you've ever done. I've never seen Rarity so happy!
</dd><dd><b>Spike</b>: I will never wash this cheek again. [sighs and laughs]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Just about finished, Spike? Everypony will be here soon.
</dd><dd><b>Spike</b>: There. Perfect! Everything looks perfect!
</dd><dd><b>Twilight Sparkle</b>: Not quite everything.
</dd><dd><b>Spike</b>: A washcloth? I don't get it. Ah, no way, Twilight! I said I wasn't gonna wash the cheek that Rarity kissed, and I meant it!
</dd><dd><b>Twilight Sparkle</b>: It's over, Spike! I'm cleaning that cheek!
</dd><dd><b>Spike</b>: [gasps for breath] It's mine! Stop it!
</dd><dd><b>Twilight Sparkle</b>: Never!
</dd><dd><b>Spike</b>: Twilight...!
</dd><dd><b>Pinkie Pie</b>: [blows party hooter] Happy birthday!
</dd><dd>[trumpet fanfare]
</dd><dd><b>Pinkie Pie</b>: Party time, woo-hoo!
</dd><dd><b>Spike</b>: Are those... for me?
</dd><dd><b>Applejack</b>: You bet they are, birthday boy.
</dd><dd><b>Fluttershy</b>: Happy birthday, Spike.
</dd><dd>[crash]
</dd><dd><b>Rainbow Dash</b>: Don't you know you get presents on your birthday?
</dd><dd><b>Spike</b>: Well, actually, this is my first birthday in Ponyville... I usually just get one present... from Twilight. A book.
</dd><dd>[sheep bleating]
</dd><dd><b>Rarity</b>: Speaking of presents, this is from my new line of taffeta capes. I'm going to make one for each of you!
</dd><dd><b>Rest of main cast</b>: [Wow, they're great, etc.]
</dd><dd><b>Rarity</b>: I've been inspired by the generosity of my
little Spikey-wikey, who gave me this beautiful fire ruby, one of the
kindest acts I've ever experienced. Mmm.
</dd></dl>
<dl><dd><b>Spike</b>: Applejack, I can't thank you enough for this great blanket. I really needed a new one.
</dd><dd><b>Applejack</b>: C'mon, Spike, you already thanked me fifteen times. I'm startin' to get a little embarrassed.
</dd><dd><b>Spike</b>: I know I keep thanking you guys, but I'm just so grateful. I wish this party could last forever.
</dd><dd>[balloon pops]
</dd><dd><b>Pinkie Pie</b>: Duh! The party <i>can't</i> last forever
'cause you have to go to Sugarcube Corner, 'cause the Cakes said they
have a special surprise for you, 'cause it's your birthday!
</dd><dd><b>Spike</b>: No way!
</dd><dd><b>Pinkie Pie</b>: I said the party couldn't last forever, but it doesn't need to end right now!
</dd><dd>[door slams]
</dd></dl>
<dl><dd><b>Spike</b>: Hi, Mr. and Mrs. Cake!
</dd><dd><b>Mr. Cake</b>: There's the dragon of the hour! Happy birthday, Spike!
</dd><dd><b>Spike</b>: Thanks!
</dd><dd><b>Mrs. Cake</b>: When we found out it was your birthday, we couldn't resist trying out a new recipe: sapphire!
</dd><dd><b>Spike</b>: Wow!
</dd></dl>
<dl><dd><b>Spike</b>: Thank you so much! Man, first I get a bunch of
great presents from my best friends, and now an amazing sapphire
cupcake! Hohoh, what a day! Whoa! Oh my gosh! I'm so sorry, Cheerilee!
</dd><dd><b>Cheerilee</b>: That's okay. What's got you so excited?
</dd><dd><b>Spike</b>: [chomps] [muffled] Pinkie Pie told me I should come see the Cakes, so they could give me a cake 'cause it's my birthday today.
</dd><dd><b>Cheerilee</b>: Well, happy birthday, Spike! I wish I had something to give you! Uh... Oh! Here you go!
</dd><dd><b>Spike</b>: Wow, really?
</dd><dd><b>Cheerilee</b>: Sure! Everypony should get fun gifts on their birthday! Have a great birthday, Spike.
</dd><dd><b>Spike</b>: I wish every day was my birthday...
</dd></dl>
<dl><dd><b>Spike</b>: Pinkie Pie mentions my birthday to the Cakes, and I get a cupcake. I mention it to Cheerilee, and I get this great hat.
</dd><dd>[ball bouncing]
</dd><dd><b>Spike</b>: Hmmm, I wonder... Hey there, Lickety Split! That's a pretty cool ball you got there! Did you know it's my birthday?
</dd></dl>
<dl><dd>[ball bouncing]
</dd><dd><b>Spike</b>: [laughs] This is unbelievable! [chuckles] Hey, Junebug! It's my birthday!
</dd><dd><b>Junebug</b>: Happy birthday, Spike.
</dd><dd><b>Spike</b>: Aren't you gonna give me something? You know, like a birthday present?
</dd><dd><b>Junebug</b>: Um, I... I don't have anything.
</dd><dd><b>Spike</b>: Well, how about those flowers? I'll take those–
</dd><dd><b>Twilight Sparkle</b>: Spike! Uh, sorry, Junebug, I think Spike might've gotten a little carried away.
</dd><dd><b>Junebug</b>: Uh, no problem... H-Happy birthday, Spike!
</dd><dd><b>Twilight Sparkle</b>: What are you doing? You're out here demanding gifts now?
</dd><dd><b>Spike</b>: Wow, you're right, Twilight. I don't know what
got into me. Thanks for snapping me out of it. I'd better go give
Cheerilee her hat back.
</dd><dd><b>Twilight Sparkle</b>: No problem. See you at home later?
</dd><dd><b>Spike</b>: Sounds good! Bye! [chuckles] Who <i>else</i> has a present for 'Spikey-wikey'? [hisses]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Wow, what a rough night's sleep, Spike. I had the weirdest drea–
</dd><dd><b>Spike</b>: [snoring]
</dd><dd><b>Twilight Sparkle</b>: I can't believe you! Where'd you get all this– [gasps]
</dd><dd>[clatter]
</dd><dd><b>Spike</b>: [yawns/hisses] What happened?
</dd></dl>
<dl><dd><b>Spike</b>: What's happening to me, Twilight?!
</dd><dd><b>Twilight Sparkle</b>: I don't know! Think back to last night. Did something happen? Spike? What did you do after I saw you?
</dd><dd><b>Spike</b>: I went to talk... to...
</dd><dd><b>Twilight Sparkle</b>: <i>Spike</i>!
</dd><dd><b>Spike</b>: Huh?
</dd><dd><b>Twilight Sparkle</b>: You went to talk to who?
</dd><dd><b>Spike</b>: Oh, um... I don't remember. Hey, can I have that globe? You're not using it, right?
</dd><dd><b>Twilight Sparkle</b>: Huh?
</dd><dd>[crash]
</dd><dd><b>Spike</b>: What about this book?
</dd><dd><b>Twilight Sparkle</b>: Spike, I'm worried about you. You're usually not so... grabby!
</dd><dd><b>Spike</b>: My arms aren't usually [voice drops] this long either. What's happening to me?
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: [slaps]
</dd><dd><b>Dr. Horse</b>: Well now, what seems to be the problem?
</dd><dd><b>Twilight Sparkle</b>: This is Spike. [slaps] And something's
 wrong with him. [slaps] He used to be half this size! And he keeps
trying to take things that aren't [slaps] his!
</dd><dd><b>Dr. Horse</b>: All right then, let's just have a look see,
shall we? Widdle guy not feewing too good? Who's a brave widdle boy,
huh? Who's a brave one?
</dd><dd>[rushing fire]
</dd><dd><b>Twilight Sparkle</b>: So? What do you think, Doctor?
</dd><dd><b>Dr. Horse</b>: Well, I think I know what the problem is. He's a dragon!
</dd><dd><b>Twilight Sparkle</b>: That's not the problem. He's always been a dragon.
</dd><dd><b>Dr. Horse</b>: Oh. Well, that would explain it. Listen, I
don't know anything about dragons, I know about baby ponies. Maybe you
should try a vet.
</dd><dd><b>Twilight Sparkle</b>: [sighs] Okay. Thank you, doctor.
</dd></dl>
<dl><dd><b>Dr. Fauna</b>: Hm, well, I'm flummoxed. Y'bring me a dog,
I've got it diagnosed in seconds. Snake even faster, but... to be
honest, I've never seen a real live dragon before.
</dd><dd><b>Spike</b>: [snorts]
</dd><dd><b>Dr. Fauna</b>: Who's a good boy? Who's a good boy? Sit.
</dd><dd><b>Spike</b>: [pants]
</dd><dd><b>Twilight Sparkle</b>: Thanks anyway. C'mon, Spike.
</dd></dl>
<dl><dd>[squee, squeaks]
</dd><dd>[watch ticking]
</dd><dd>[slap]
</dd><dd><b>Zecora</b>: Ooh, he is starting to mature. Of this fact I am quite sure.
</dd><dd><b>Twilight Sparkle</b>: Mature? So he's just... growing up? But that doesn't explain why he keeps grabbing things.
</dd><dd><b>Zecora</b>: A dragon's heart is prone to greed, a steady
diet to make growth speed. Then, the resulting bigger size only makes
their hunger rise. If this trait should go unchecked, if Spike continues
 to collect, more growth will certainly occur – he is going to turn into
 a monster.
</dd><dd><b>Twilight Sparkle</b>: [gasps] You mean the more things a
dragon collects, the bigger and greedier he gets? But how do we stop him
 before he's completely out of control?
</dd><dd><b>Zecora</b>: If his monstrous ways you wish to impede, you must prevent him from practicing greed.
</dd><dd><b>Twilight Sparkle</b>: [laughs nervously]
</dd></dl>
<dl><dd><b>Apple Bloom</b>: Get away from her, you brute!
</dd><dd><b>Spike</b>: Spike want!
</dd><dd><b>Scootaloo</b>: You're not getting my scooter!
</dd><dd><b>Spike</b>: Spike want!
</dd><dd><b>Twilight Sparkle</b>: Hey, Spike! Check out this <i>amazing</i> broom!
</dd><dd><b>Spike</b>: Spike <i>want</i>! [hisses] [roaring]
</dd><dd><b>Twilight Sparkle</b>: [sing-song voice] C'mon, big boy! Look at this incredible broom!
</dd><dd><b>Spike</b>: <i>Spike want</i>!
</dd><dd>[crashing]
</dd><dd><b>Twilight Sparkle</b>: Fight all you want, I'm not letting you out! Oh, Spike, I just re-shelved this room!
</dd><dd>[door closes]
</dd><dd>[crash]
</dd><dd><b>Twilight Sparkle</b>: [groans] What now?
</dd></dl>
<dl><dd><b>Applejack</b>: Now who in Ponyville would steal my apples? For that matter, who would steal my leaves?
</dd><dd><b>Twilight Sparkle</b>: Applejack, help! Spike's running wild and I need you to lasso him!
</dd><dd><b>Applejack</b>: [laughs] Oh, that's a good one, Twilight. Sweet little Spike, running wild. Ha, what a laugh.
</dd><dd><b>Spike</b>: [stomping]
</dd><dd><b>Applejack</b>: Twilight, get my rope.
</dd><dd><b>Spike</b>: [roars]
</dd><dd><b>Applejack</b> and <b>Twilight Sparkle</b>: Help!
</dd><dd><b>Rainbow Dash</b>: Huh? [laughs] Don't tell me! You-you tied yourselves up?
</dd><dd><b>Applejack</b>: Get us out of here right now!
</dd><dd><b>Fluttershy</b>: [screams]
</dd><dd><b>Applejack</b>: [gasps] What was that?
</dd><dd><b>Rainbow Dash</b>: Sounded like Fluttershy to me!
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Fluttershy? Fluttershy?!
</dd><dd><b>Fluttershy</b>: I'm up here!
</dd><dd><b>Twilight Sparkle</b>: What happened?
</dd><dd><b>Fluttershy</b>: I was helping my squirrel friends with a dance step, and all of a sudden, a giant, r-rampaging d-d-d-dragon stormed through!
</dd><dd><b>Twilight Sparkle</b>: That was Spike!
</dd><dd><b>Fluttershy</b>: Spike? But why would Spike steal my chicken
coop? He just pulled it out of the ground and filled it with a bunch of
apples and stuff!
</dd><dd><b>Pinkie Pie</b>: [screams]
</dd><dd><b>Rainbow Dash</b>: That sounded like Pinkie Pie!
</dd><dd><b>Twilight Sparkle</b>: C'mon, girls!
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: Back! Get back!
</dd><dd><b>Spike</b>: [hisses]
</dd><dd><b>Pinkie Pie</b>: [grunting]
</dd><dd>[pie splats]
</dd><dd><b>Twilight Sparkle</b>: Pinkie Pie! Stop giving him cake!
</dd><dd><b>Pinkie Pie</b>: I'm not giving him cake, I'm <i>assaulting</i> him with cake!
</dd><dd><b>Spike</b>: [grunts]
</dd><dd><b>Pinkie Pie</b>: How dare you take the cake!
</dd><dd><b>Spike</b>: [roars]
</dd><dd>[crash]
</dd><dd><b>Spike</b>: [stomping]
</dd><dd><b>Twilight Sparkle</b>: He's completely out of control! Who knows where he'll go next!
</dd></dl>
<dl><dd><b>Rarity</b>: [hums] Hm, perhaps some more ruffle. [screams]
</dd></dl>
<dl><dd>[air raid siren]
</dd><dd>[ponies screaming]
</dd><dd><b>Spike</b>: [roars]
</dd><dd><b>Rarity</b>: [screams]
</dd><dd><b>Spike</b>: [roars]
</dd><dd>[splash]
</dd><dd>[ponies screaming]
</dd><dd><b>Rarity</b>: Put me down, you brute!
</dd><dd><b>Spike</b>: [roars]
</dd><dd><b>Rarity</b>: How rude.
</dd><dd><b>Fluttershy</b>: Don't worry Rarity, we'll save you!
</dd><dd><b>Rainbow Dash</b>: Put her down, right now!
</dd><dd><b>Fluttershy</b>: I-If you wouldn't mind, that is...
</dd><dd><b>Rainbow Dash</b>: I mean it, dragon boy!
</dd><dd><b>Fluttershy</b>: We'll be ever so grateful if you'd be so kind as to possibly consider...
</dd><dd><b>Rainbow Dash</b>: Drop her, scaly!
</dd><dd><b>Rarity</b>: Hey! I'm– not some– sort of common– fly swatter!
</dd><dd><b>Fluttershy</b> and <b>Rainbow Dash</b>: [screaming]
</dd><dd>[splash]
</dd><dd><b>Rarity</b>: Girls! <i>My cape</i>!
</dd><dd><b>Spike</b>: [roars]
</dd><dd><b>Rainbow Dash</b>: Look! The Wonderbolts!
</dd><dd><b>Spike</b>: [growls]
</dd><dd><b>Rarity</b>: [screams]
</dd><dd><b>Spike</b>: [begins to roar]
</dd><dd><b>Rarity</b>: Oh, be quiet. You've got nothing to be proud of. You steal everypony's things, terrorize the town, and use <i>me</i> as a weapon against my own friends! Which, as horrible as it is, I can almost understand because you're a dragon and all. But <i>this</i>! [rips off dress] <i>This</i> is a <i>crime against fashion</i>! Oh no. You are not getting <i>this</i>
 gemstone! This was given to me by my dear friend Spikey-wikey, the
kindest, sweetest, most generous dragon ever. And it is too precious to
me to give to a greedy old beast like you!
</dd><dd><b>Spike</b>: [grunts]
</dd></dl>
<dl><dd><b>Spike</b> (flashback): Here, Rarity, you take it. It would mean even more to see you happy than to eat it myself.
</dd><dd><b>Rarity</b> (flashback): I... I don't know what to say. This is just so generous. [kisses]
</dd></dl>
<dl><dd><b>Rarity</b>: Oh, what now? I suppose you'll be eating me or something? Spike?! <i>You're</i> the rampaging dragon?!
</dd><dd><b>Rarity</b> and <b>Spike</b>: [screaming]
</dd><dd><b>Pinkie Pie</b>: Somepony do something!
</dd><dd><b>Rainbow Dash</b>: On it!
</dd><dd>[wind rushing]
</dd><dd><b>Spike</b>: Rarity? I need to tell you something! Just in case we don't make it! I've always sort of had a crush–
</dd><dd><b>Fluttershy</b>: [gasps] We did it! I can't believe we did it!
</dd><dd>[crash]
</dd><dd><b>Rainbow Dash</b>: All in a day's work.
</dd><dd><b>Rarity</b>: Spike, I just have to tell you how absolutely proud I am of you.
</dd><dd><b>Spike</b>: Proud of <i>me</i>?
</dd><dd><b>Rarity</b>: Yes. It was you who stopped... w-well, you, from destroying Ponyville. You are my hero, Spikey-wikey! [kisses]
</dd></dl>
<dl><dd><b>Spike</b>: <i>Dear Princess Celestia,</i>
</dd><dd><i>Today I learned a great lesson about friendship. Well, you
might think that it would feel good to get lots and lots of stuff, but
it doesn't feel nearly as good as giving something special to somepony
you really care about. But I learned that it truly is better to give
than to receive, and that kindness and generosity are what lead to true
friendship. And that's more valuable than anything in the world.</i> Well... almost anything.
</dd><dd>[kiss]
</dd></dl>
<dl><dd>[music]
</dd><dd>[credits]
</dd></dl>
