meta[ title:The Last Roundup, lines: 303]
<dl><dd>[galloping]
</dd><dd>[tap on wood]
</dd><dd><b>Apple Bloom</b>: Whoo-- Whoa! Whoo-hoo! Applejack, you're sure to knock everypony's hat off at the Equestria Rodeo competition!
</dd><dd><b>Applejack</b>: Aw shucks, Apple Bloom. I sure hope so.
</dd><dd><b>Apple Bloom</b>: Hope so? I know so! After all, you're the
ten-time rodeo champeen of Ponyville! Why, you've got more blue ribbons
than anypony in Ponyville <i>ever</i>! And I can't wait for my big sis to win every blue ribbon in Equestria and bring home the title of Equestria Rodeo champeen!
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Rainbow Dash</b>: Huh? Now, <span title="&quot;be careful&quot; in the updated iTunes re-release and just &quot;careful&quot; on subsequent television airings" style="cursor:help; border-bottom:1px dotted">careful, Derpy</span>! Don't want to do any more damage than you've already done.
</dd><dd>[crash]
</dd><dd><b>Derpy</b>: I just don't know what went wrong.
</dd><dd>[lightning zaps]
</dd><dd><b>Rainbow Dash</b>: Yeah. It's a mystery.
</dd><dd><b>Derpy</b>: Nice work, Rainbow Dash.
</dd><dd>[thud]
</dd><dd>[wood splintering]
</dd><dd><b>Rainbow Dash</b>: [yelps]
</dd><dd><b>Derpy</b>: You okay, Rainbow Dash? Anything I can do to help?
</dd><dd><b>Rainbow Dash</b>: No! Nothing! In the name of Celestia, just sit there and do nothing!
</dd><dd>[wood splintering]
</dd><dd>[crash]
</dd><dd><b>Derpy</b>: Oops. My bad.
</dd><dd><b>Crowd</b>: Applejack! Applejack! Applejack! Applejack! [continues chanting]
</dd><dd><b>Mayor Mare</b>: Everypony, can I get your attention? Attention please!
</dd><dd><b>Crowd</b>: [stops chanting]
</dd><dd><b>Mayor Mare</b>: Yes, we are all here to send Applejack to compete in this year's Equestria Rodeo competition in Canterlot.
</dd><dd><b>Crowd</b>: [cheering and applause]
</dd><dd><b>Mayor Mare</b>: And I want to thank Applejack in advance for generously offering up her prize money to fix town hall.
</dd><dd><b>Derpy</b>: Yeah, Applejack! Whoo-hoo!
</dd><dd>[thud]
</dd><dd><b>Crowd</b>: [cheering and stomping]
</dd><dd><b>Pinkie Pie</b>: Speech! Speech!
</dd><dd><b>Applejack</b>: Oh, shucks. I'm not much for speeches.
</dd><dd><b>Pinkie Pie</b>: Alright then, no speech!
</dd><dd><b>Applejack</b>: Buuut! This here is the nicest send off anypony could ask for. Y'all have been cheering me on in every rodeo since I was a <i>little</i> little pony. So it seems only fittin' to use my winnings to fix up town hall. I promise to make Ponyville proud.
</dd><dd><b>Crowd</b>: [cheering]
</dd></dl>
<dl><dd>[bell ringing]
</dd><dd><b>Granny Smith</b>: I want you to show all them highfalutin rodeo ponies what a <i>real</i> rodeo pony's like!
</dd><dd><b>Applejack</b>: You betcha, Granny Smith.
</dd><dd><b>Mayor Mare</b>: And bring back all that money!
</dd><dd><b>Applejack</b>: You betcha, Mayor.
</dd><dd><b>Pinkie Pie</b>: And have fun. And don't be nervous. Or if
you are, use that nervous energy to do even better than you already
would! And eat peanuts and popcorn and taffy. Taffy gives lots of
nervous energy! [munching]
</dd><dd><b>Twilight Sparkle</b>: Just do your best, Applejack.
</dd><dd><b>Applejack</b>: I'll do better than my best!
</dd><dd><b>Conductor</b>: The train to Canterlot is about to leave! All aboard who's coming aboard!
</dd><dd><b>Applejack</b>: Guess that means me.
</dd><dd><b>Rainbow Dash</b>: Seeya in a week!
</dd><dd><b>Apple Bloom</b>: With lots of new blue ribbons!
</dd><dd><b>Mayor Mare</b>: And lots of money!
</dd><dd><b>Applejack</b>: Darn tootin'! See y'all in a week, with a big bag full of blue ribbons!
</dd><dd><b>Assembled ponies</b>: [Bye, etc.]
</dd><dd><b>Pinkie Pie</b>: And drink sarsaparilla! What? It gives you extra sass.
</dd></dl>
<dl><dd><b>Fluttershy</b>: Oh, I hope Applejack is surprised by this surprise party!
</dd><dd><b>Rainbow Dash</b>: Well, that <i>is</i> the point.
</dd><dd><b>Fluttershy</b>: I know, but I hope she isn't <i>so</i> surprised she's startled, because while being surprised can be nice, being startled can be... very startling.
</dd><dd><b>Pinkie Pie</b>: Surprise!
</dd><dd>[party whistle blows]
</dd><dd>[thud]
</dd><dd><b>Fluttershy</b>: [gasps] Oh, Pinkie, you startled me.
</dd><dd><b>Pinkie Pie</b>: Sorry! I was just practicing my "surprise!"
for when we surprise Applejack with this super cool party for becoming
rodeo champeen of Equestria! <i>Surprise</i>!
</dd><dd>[party whistle blows]
</dd><dd>[thud]
</dd><dd><b>Twilight Sparkle</b>: Quiet, Pinkie, I think Applejack's coming!
</dd><dd><b>Pinkie Pie</b>: Don't worry, Twilight. Got my lips all limbered up! [makes various noises with her mouth]
</dd><dd>[door opens]
</dd><dd><b>Ponies</b>: Surprise!
</dd><dd><b>Big McIntosh</b>: [blows kazoo]
</dd><dd><b>Pinkie Pie</b>: Surprise! Shoot!
</dd><dd><b>Parcel Post</b>: Wow, this is the best surprise ever! How did you know it was my birthday?
</dd><dd>[doors slam twice]
</dd><dd><b>Apple Bloom</b>: Who's it from, Twilight? What's it say?
</dd><dd><b>Twilight Sparkle</b>: It's from Applejack. "<i>Family and friends, not coming back to Ponyville.</i>"
</dd><dd><b>Ponies</b>: [gasp]
</dd><dd><b>Twilight Sparkle</b>: "<i>...Don't worry, will send money soon.</i>" That's all there is.
</dd><dd><b>Ponies</b>: [gasp]
</dd><dd><b>Apple Bloom</b>: Applejack's... not comin' back?
</dd><dd><b>Rainbow Dash</b>: What do you mean Applejack's not coming back?! She loves Ponyville!
</dd><dd><b>Granny Smith</b>: And she loves Sweet Apple Acres!
</dd><dd><b>Apple Bloom</b>: And she loves her family!
</dd><dd><b>Rarity</b>: [gasps] Something just dreadful must have happened to Applejack to make her not return!
</dd><dd><b>Fluttershy</b>: Maybe she's hurt, or sad, or scared!
</dd><dd><b>Rainbow Dash</b>: So, what are we waiting for? Let's go find her!
</dd><dd><b>Twilight Sparkle</b>: Don't worry. We'll search all of Equestria if we have to. We'll bring her back.
</dd><dd><b>Apple Bloom</b>: Y'all are the best.
</dd><dd><b>Granny Smith</b>: Thank you, girls! [to Big McIntosh] Our little bushel just lost one apple.
</dd><dd><b>Big McIntosh</b>: [sniffles]
</dd></dl>
<dl><dd>[train whistle blows]
</dd></dl>
<dl><dd>[ball deflates]
</dd></dl>
<dl><dd>[hawk cries]
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: [panicked sounds under]
</dd><dd><b>Rainbow Dash</b>: I hope this lead doesn't turn out to be a dead end. I don't wanna go home empty-hooved after promising we'd find her.
</dd><dd><b>Fluttershy</b>: I don't know how we'll break it to the Apple family.
</dd><dd><b>Twilight Sparkle</b>: I don't know how we'll break it to Ponyville!
</dd><dd><b>Pinkie Pie</b>: I don't know how I'll make it to the next stop!
</dd><dd><b>Twilight Sparkle</b>: This is Dodge Junction, girls.
Applejack is supposed to have come here after the rodeo ended. Let's fan
 out and try to find her.
</dd><dd><b>Pinkie Pie</b>: Ooh, pickles! [knocking] Hurryhurryhurryhurryhurry! Hurry it up in there!
</dd><dd>[toilet flushes]
</dd><dd><b>Applejack</b>: Huh, some ponies. Sheesh.
</dd><dd><b>Pinkie Pie</b>: Applejack! I found her, I found her, I found her, I found her, I found her!
</dd><dd><b>Rarity</b>: Oh, Applejack, thank heavens!
</dd><dd><b>Fluttershy</b>: We're so glad you're safe!
</dd><dd><b>Pinkie Pie</b>: I found her, I found her, I found her, I found her! Be right back.
</dd><dd>[door shuts]
</dd><dd><b>Applejack</b>: Uh, hey, everypony. What's up?
</dd><dd><b>Rainbow Dash</b>: Why didn't you come back to Ponyville?!
</dd><dd><b>Rarity</b>: Yes, why are you here?
</dd><dd>[toilet flushes]
</dd><dd><b>Fluttershy</b>: Are you okay?
</dd><dd><b>Pinkie Pie</b>: Do you have any snacks?
</dd><dd><b>Twilight Sparkle</b>: Tell us what happened, Applejack!
</dd><dd><b>Cherry Jubilee</b>: Applejack? Are these some of your Ponyville friends?
</dd><dd><b>Twilight Sparkle</b>: Yes, ma'am.
</dd><dd><b>Rarity</b>: And you are?
</dd><dd><b>Cherry Jubilee</b>: Why, I'm Cherry Jubilee, boss of Cherry
Hill Ranch. Hasn't Applejack told ya? I saw her compete at the Equestria
 Rodeo. Never saw anypony win so many ribbons in all my life.
</dd><dd><b>Applejack</b>: Aw shucks, Miss Jubilee. You don't have to go into all that.
</dd><dd><b>Cherry Jubilee</b>: Oh, she's so modest. Anyway, I can
always use a pony with quick hooves and a strong back. So, when I heard
Applejack was looking for a change of scenery, I snapped her up as quick
 as I could and brought her to Dodge Junction. Well, I'll let you catch
up with your friends. See you back at the ranch.
</dd><dd><b>Rainbow Dash</b>: "<i>Change of scenery</i>"? What's that supposed to mean?
</dd><dd><b>Applejack</b>: S'no big deal, guys. I thought cherries would
 be a nice change from apples, so I took the job and came here. That's
it. End of story.
</dd><dd><b>Pinkie Pie</b>: That's it? Well, that's a terrible story!
</dd><dd><b>Applejack</b>: Sorry, but that's all there is to tell.
Thanks for checkin' on me, but y'all can go home now. Tell my family hi,
 and that I'm doing a-okay.
</dd><dd><b>Rainbow Dash</b>: Excuse me, AJ, but we didn't travel <i>all over Equestria</i> searching for you to come home without you!
</dd><dd><b>Applejack</b>: Well, I didn't ask you to come lookin' for me! There is nothin' to tell and I am <i>not</i> going back to Ponyville!
</dd><dd><b>Twilight Sparkle</b>: I don't care what she says. Applejack's not telling us something.
</dd><dd><b>Rainbow Dash</b>: Twilight's right. We gotta get her to spill the beans.
</dd><dd><b>Pinkie Pie</b>: <i>What</i>?! She had beans? Ugh, I told her I was snacky!
</dd></dl>
<dl><dd><b>Cherry Jubilee</b>: You ready to put your back into it, Applejack?
</dd><dd><b>Applejack</b>: Sure am, Miss Jubilee.
</dd><dd><b>Cherry Jubilee</b>: Terr-ific. Come on in, girls!
</dd><dd><b>Applejack</b>: What are you all doing here?
</dd><dd><b>Twilight Sparkle</b>: We're your cherry sorters. Shall we get started?
</dd><dd><b>Applejack</b>: Fine.
</dd><dd><b>Cherry Jubilee</b>: Haha, red cherries go in one bin, and
yellow cherries go in the other. Simple as cherry pie. Uh, just one
teensy thing to remember – have fun!
</dd><dd><b>Applejack</b>: What are you five up to?
</dd><dd><b>Rarity</b>: Well, uh, you made working on a cherry orchard sound... so delightful.
</dd><dd><b>Applejack</b>: Uh-huh. Well, just remember: no talking about Ponyville.
</dd><dd><b>Rainbow Dash</b>: Fine! Why don't you quit talking and get walking?
</dd><dd>[gears turning]
</dd><dd><b>Twilight Sparkle</b>: So, AJ, how was Canterlot? Not talking about Ponyville, talking about Canterlot, totally different town.
</dd><dd><b>Applejack</b>: Canterlot was fine.
</dd><dd><b>Twilight Sparkle</b>: Was the rodeo fun?
</dd><dd><b>Applejack</b>: Yes.
</dd><dd><b>Twilight Sparkle</b>: Did you meet some nice ponies there?
</dd><dd><b>Applejack</b>: Some.
</dd><dd><b>Rainbow Dash</b>: Really? Did you see Wild Bull Hickok? What about Calamity Mane?
</dd><dd><b>Applejack</b>: Yes, I saw 'em both.
</dd><dd><b>Rarity</b>: And how did you meet Miss Jubilee?
</dd><dd><b>Applejack</b>: Um, well, Miss Jubilee had a cherry stand at the rodeo. Real good treats.
</dd><dd><b>Fluttershy</b>: Um, excuse me?
</dd><dd><b>Applejack</b>: Cherry winks, cherry cheesecake, cherry tarts. We struck up a conversation, being orchard folk and all.
</dd><dd><b>Twilight Sparkle</b>: So you told her about Sweet Apple Acres?
</dd><dd><b>Applejack</b>: Yes.
</dd><dd><b>Rainbow Dash</b>: Did you tell <i>her</i> why you weren't going back?
</dd><dd><b>Applejack</b>: No, 'cuz it was none of <i>her</i> business!
</dd><dd><b>Fluttershy</b>: Ooh... Can you <i>please</i> slow down?
</dd><dd><b>Rainbow Dash</b>: Is it because I made it rain on you that <i>one time</i>?
</dd><dd><b>Applejack</b>: No!
</dd><dd><b>Fluttershy</b>: Help!
</dd><dd><b>Twilight Sparkle</b>: Is it because you were insulted when I gave you that book on organized orchards?
</dd><dd><b>Applejack</b>: NO!
</dd><dd>[gears turning]
</dd><dd><b>Rarity</b>: Is it because you were insulted when I insulted your hair?
</dd><dd><b>Applejack</b>: No, no, NO! I'm not telling you why, so just–
</dd><dd><b>Fluttershy</b>: <i>STOP</i>!
</dd><dd>[screech]
</dd><dd>[splat]
</dd><dd><b>Rest of main cast</b>: [gasp]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Well, girls, we seem to be striking out.
</dd><dd><b>Rainbow Dash</b>: That's 'cause we're playing too nice.
</dd><dd><b>Rarity</b>: Yes. Desperate times do call for desperate measures.
</dd><dd><b>Rainbow Dash</b>: It's time to call in the big guns.
</dd></dl>
<dl><dd>[five thumps]
</dd><dd><b>Pinkie Pie</b>: Hey, Applejack. Need some help?
</dd><dd><b>Applejack</b>: You promise not to ask me any questions?
</dd><dd><b>Pinkie Pie</b>: I promise.
</dd><dd>[thump]
</dd><dd><b>Pinkie Pie</b>: Have you ever had a cherrychanga? Ooh! Sorry, that was a question.
</dd><dd><b>Applejack</b>: That kind of question is fine, Pinkie. No, I-I never had a cherrychanga.
</dd><dd><b>Pinkie Pie</b>: Well, no wonder, because I made it up
myself! A cherrychanga is mashed up cherries in a tortilla that's deep
fried. Cherrychanga. Great name, huh? Oh, but maybe I should call it a
chimicherry. Ooh, that's good too. Which do you think sounds better?
Cherrychanga or chimicherry? Or what if I combine them?
Chimicherrychanga! What sounds the funniest? I like funny words! One of
my favorite funny words is 'kumquat'! I didn't make that one up. I would
 work in a kumquat orchard just so I could say 'kumquat' all day!
Kumquat, kumquat, kumquat! And 'pickle barrel'! Isn't that just the
funnest thing to say? Pickle barrel, pickle barrel, pickle barrel! Say
it with me! Pickle barrel, kumquat, pickle barrel, kumquat, pickle
barrel, kumquat, chimicherrychanga!
</dd><dd><b>Applejack</b>: <i>No</i>! Make it stop, make it stop!
</dd><dd><b>Pinkie Pie</b>: [continues chant, muffled by Rainbow Dash]
</dd><dd><b>Rainbow Dash</b>: The only way to make it stop is for you to spill the beans!
</dd><dd><b>Applejack</b>: Never!
</dd><dd><b>Pinkie Pie</b>: Speaking of beans, did you ever realize how
many words rhyme with 'beans'? Lean, mean, spleen, unclean, bean...
[continues under]
</dd><dd><b>Applejack</b>: Alright, alright! I'll tell everypony what's goin' on! Just <i>please</i> stop talkin'! But... can it wait 'til tomorrow at breakfast? I'm plum tuckered out.
</dd><dd><b>Rainbow Dash</b>: Tomorrow, huh? I don't know...
</dd><dd><b>Pinkie Pie</b>: Do you Pinkie promise?
</dd><dd><b>Applejack</b>: [sighs] I will tell you the whole truth at breakfast. Pinkie promise.
</dd></dl>
<dl><dd>[rooster crows]
</dd><dd><b>Twilight Sparkle</b>: I'm glad we're finally gonna get some answers from Applejack.
</dd><dd><b>Rainbow Dash</b>: Yeah, maybe.
</dd><dd><b>Pinkie Pie</b>: Don't worry, Rainbow. She's gotta 'fess up after making a Pinkie promise.
</dd><dd>[knocking]
</dd><dd><b>Pinkie Pie</b>: Good morning, Applejack. You ready for br– [gasps]
</dd><dd>[sound of kettle boiling]
</dd><dd><b>Pinkie Pie</b>: <i>Nopony breaks a Pinkie promise</i>!
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: <i>Applejack</i>! [slightly distorted] <i>You Pinkie promised</i>!
</dd><dd><b>Applejack</b>: [yelps]
</dd><dd><b>Pinkie Pie</b>: Applejack, come back here!
</dd><dd><b>Applejack</b>: Giddy up, fellas, I gotta get the heck out of Dodge!
</dd><dd><b>Coach ponies</b>: [neighs]
</dd><dd><b>Pinkie Pie</b>: She's gonna get away!
</dd><dd><b>Twilight Sparkle</b>: Oh no, she won't! Look, girls!
</dd><dd><b>Pinkie Pie</b>: Follow that stagecoach! Oh, we have you now!
</dd><dd>[screeching]
</dd><dd><b>Rabbit</b>: [sniffs]
</dd></dl>
<dl><dd><b>Applejack</b>: Whoa! What the hay?
</dd><dd><b>Rainbow Dash</b>: Pull over!
</dd><dd><b>Applejack</b>: Hey! Cut that out! Whoa! [to coach ponies] I'll pay you double to outrun them.
</dd><dd><b>Twilight Sparkle</b>: We'll pay you triple to slow down!
</dd><dd><b>Applejack</b>: I'll pay you quadruple to leave them in the dust!
</dd><dd>[horses neighing, engine revving]
</dd><dd><b>Rest of main cast</b>: [coughing]
</dd><dd><b>Rarity</b>: That was rude!
</dd><dd><b>Pinkie Pie</b>: Get them! <i>Get them</i>!
</dd><dd><b>Rainbow Dash</b>: Come on, Fluttershy!
</dd><dd><b>Applejack</b>: Hyah! C'mon, y'all! Go, go!
</dd><dd><b>Pinkie Pie</b>: Applejack, you broke your Pinkie promise! Apologize!
</dd><dd><b>Applejack</b>: Pinkie, I did not break my promise!
</dd><dd><b>Pinkie Pie</b>: Wha?
</dd><dd><b>Applejack</b>: If y'all reckon back, I told you that I would tell you everything <i>at breakfast</i>. But I didn't come for breakfast. I couldn't come to that breakfast, not if it meant telling y'all what happened.
</dd><dd><b>Pinkie Pie</b>: Well, I... I...
</dd><dd><b>Applejack</b>: I'm sorry, Pinkie, but I can't tell y'all the truth. I just can't!
</dd><dd><b>Pinkie Pie</b>: Well I heard a "sorry" in there, so that'll have to do for now. I'll get a real apology later. Rarity, catch me.
</dd><dd><b>Rarity</b>: What? Pinkie– [screams]
</dd><dd>[crunch]
</dd><dd><b>Twilight Sparkle</b>: Rainbow, go back!
</dd><dd><b>Rainbow Dash</b>: No time! They knew what they were getting into!
</dd><dd><b>Rarity</b>: [coughs]
</dd></dl>
<dl><dd>[railway crossing bells]
</dd><dd><b>Applejack</b>: Yes. Hyah!
</dd><dd>[train whistle]
</dd><dd>[crunches]
</dd><dd><b>Applejack</b>: Yee-haw!
</dd><dd><b>Coach ponies</b>: [in unison] Lady, you're trouble.
</dd><dd><b>Applejack</b>: Ha, try and catch me now. Oh, nuts.
</dd><dd><b>Fluttershy</b>: [panting]
</dd><dd><b>Rainbow Dash</b>: Not so fast!
</dd><dd>[thump]
</dd><dd><b>Applejack</b>: Fine. Now you know.
</dd><dd><b>Twilight Sparkle</b>: Know what?
</dd><dd><b>Applejack</b>: Well, just look!
</dd><dd><b>Twilight Sparkle</b>: I am. You won an amazing number of ribbons, just like Miss Jubilee said!
</dd><dd><b>Applejack</b>: Don't you get it? There's every color of
ribbon down there. Every color... but... blue. I came in fourth, third,
even second, but I didn't win <i>one</i> first prize, and I certainly didn't win any prize money.
</dd><dd><b>Rainbow Dash</b>: But the telegram said you were gonna <i>send</i> money.
</dd><dd><b>Applejack</b>: That's why I came here. I wanted to <i>earn</i>
 some money. After that big old send off Ponyville gave me, I just
didn't have the nerve to come home empty-hooved. I couldn't come home a
failure.
</dd><dd><b>Twilight Sparkle</b>: Applejack, you're not a failure.
</dd><dd><b>Rainbow Dash</b>: And we're your friends! We don't care if you came in fiftieth place! You're still number one in our books.
</dd><dd><b>Applejack</b>: So... you're not upset or disappointed?
</dd><dd><b>Fluttershy</b>, <b>Rainbow Dash</b> and <b>Twilight Sparkle</b>: Nn-nn.
</dd><dd><b>Applejack</b>: But what about the mayor? I don't think I can face her and tell her I didn't get that money to fix the broken roof.
</dd><dd><b>Fluttershy</b>: Applejack, we can always find a way to fix
that hole in the roof. But if you don't come back, we'll never be able
to fix the hole in our hearts.
</dd><dd><b>Rainbow Dash</b>: [sniffles] Darn it! Now you got me acting all sappy!
</dd></dl>
<dl><dd><b>Applejack</b>: <i>Dear Princess Celestia,</i>
</dd><dd><i>It's a tad easier to be proud when you come in first than it
 is when you finish further back. But there's no reason to hide when you
 don't do as well as you'd hoped. You can't run away from your problems.
 Better to run </i>to<i> your friends and family.</i>
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: What do you think, Rarity? Chimicherry or
cherrychanga? Chimicherry, cherrychanga? Chimicherry, cherrychanga?
Chimicherry, cherrychanga? Chimicherry, cherrychanga? [continues under]
</dd><dd><b>Rarity</b>: When I get back, you're gonna get it, Rainbow Dash! [grumbles]
</dd><dd><b>Pinkie Pie</b>: [continues repeating question to fadeout]
</dd></dl>
<dl><dd>[music]
</dd><dd>[credits]
</dd></dl>
