meta[ title:Dragonshy, lines: 343]
<dl><dd><b>Fluttershy</b>: [spits] Not too fast now, Angel Bunny. You
don't wanna get a tummy ache. [chuckles] You really should eat more than
 that, don't you think? It's not play time yet. I know you want to run,
but... just three more bites. Two more bites? One more bite? Pretty
please? [sighs]
</dd><dd><b>Angel</b>: [coughs]
</dd><dd><b>Fluttershy</b>: Oh, goodness. Are you okay?
</dd><dd><b>Angel</b>: [coughs]
</dd><dd><b>Fluttershy</b>: Are you coughing because there's a carrot stuck in your throat?
</dd><dd><b>Angel</b>: [coughs]
</dd><dd><b>Fluttershy</b>: Because you need some water?
</dd><dd><b>Angel</b>: [coughs loudly]
</dd><dd><b>Fluttershy</b>: [gasp] Because of that giant cloud of scary black smoke? I'll take that as a... yes.
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd>[ponies conversing in the background]
</dd><dd><b>Fluttershy</b>: Help. Help! Please? Help? There's- there's a horrible cloud of smoke. It's headed this way and- [shrieks]
</dd><dd><b>Rainbow Dash</b>: Don't be such a scaredy-pony. It's just
me, future Equestria ball-bouncing record holder. Three forty six, three
 forty seven...
</dd><dd><b>Pinkie Pie</b>: This calls for a celebration!
</dd><dd><b>Fluttershy</b>: Oh, no, Pinkie Pie, this is <i>no</i> time for celebration. This is a time for panic, for-
</dd><dd><b>Pinkie Pie</b>: Ooo! I'm going to need balloons! One for every pony in Ponyville!
</dd><dd><b>Fluttershy</b>: There's- there's smoke. And- and where there's smoke, there's fire. And-
</dd><dd><b>Pinkie Pie</b>: Let's see, that's one, two, three, four...
</dd><dd><b>Rainbow Dash</b>: Three hundred fifty four...
</dd><dd><b>Pinkie Pie</b>: Five, six...
</dd><dd><b>Rainbow Dash</b>: Three hundred fifty five, no, wait...
</dd><dd><b>Pinkie Pie</b>: Seven.
</dd><dd><b>Rainbow Dash</b>: Pinkie Pie! Now I have to start over.
</dd><dd><b>Fluttershy</b>: We're all going to have to start over, in a new village. 'Cause ours is gonna be-
</dd><dd><b>Pinkie Pie</b>: Hey, Rainbow Dash, wait up!
</dd><dd><b>Fluttershy</b>: Oh, please, this is an emergency. I-I need everypony to-
</dd><dd><b>Twilight Sparkle</b>: Listen up! Smoke is spreading over all of Equestria.
</dd><dd><b>Ponies</b>: What? Oh no! That's awful!
</dd><dd><b>Fluttershy</b>: That's what I've been trying to-
</dd><dd><b>Twilight Sparkle</b>: But don't worry, I've just received a letter from Princess Celestia informing me that it is not coming from a fire.
</dd><dd><b>Fluttershy</b>: Oh, thank goodness.
</dd><dd><b>Twilight Sparkle</b>: It's coming from a dragon.
</dd><dd><b>Ponies</b>: [gasp]
</dd><dd><b>Fluttershy</b>: A... d-dragon?
</dd></dl>
<dl><dd><b>Applejack</b>: What in the name of all things cinnamon swirled is a full-grown dragon doing here in Equestria?
</dd><dd><b>Twilight Sparkle</b>: Sleeping.
</dd><dd><b>Applejack</b>, <b>Rainbow Dash</b>, <b>Rarity</b>, <b>Fluttershy</b>, and <b>Pinkie Pie</b>: Huh?
</dd><dd><b>Twilight Sparkle</b>: According to Princess Celestia, he's taking a nap. His snoring is what's causing all this smoke.
</dd><dd><b>Pinkie Pie</b>: He should really see a doctor. That doesn't sound healthy at all.
</dd><dd><b>Rarity</b>: Well, at least he's not snoring fire. What are <i>we</i> meant to do about it?
</dd><dd><b>Rainbow Dash</b>: I'll tell you what we're meant to do. Give him the boot. Take that. And that!
</dd><dd>[crash]
</dd><dd><b>Twilight Sparkle</b>: We need to <i>encourage</i> him to
take a nap somewhere else. Princess Celestia has given us this mission,
and we must not fail. If we do, Equestria will be covered in smoke for
the next one hundred years.
</dd><dd><b>Fluttershy</b>: [gasp]
</dd><dd><b>Rarity</b>: Hmph. Talk about getting your <i>beauty</i> sleep.
</dd><dd><b>Twilight Sparkle</b>: All right everypony, I need you to
gather supplies quickly. We've got a long journey ahead of us. Let's
meet back here in less than an hour.
</dd><dd><b>Rainbow Dash</b>: Okay, girls, you heard her. The fate of Equestria is in our hooves. Do we have what it takes?
</dd><dd><b>Applejack</b>, <b>Pinkie Pie</b>, and <b>Rarity</b>: [affirmations]
</dd><dd><b>Fluttershy</b>: Um, actually...
</dd></dl>
<dl><dd><b>Rainbow Dash</b>: Raaah!
</dd><dd><b>Applejack</b>: Yaaa!
</dd><dd>[pop whistles]
</dd><dd><b>Pinkie Pie</b>: [laughter] Oh, I mean, grrr!
</dd><dd><b>Rarity</b>: Ewww! Much better. Onward!
</dd><dd><b>Fluttershy</b>: [squeak]
</dd><dd><b>Applejack</b>: Let's go!
</dd><dd><b>Fluttershy</b>: Um, let's... not? [squeak]
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: All right girls, listen up. I'm mapping
 out the fastest route, but we've all got to keep a good pace if we
expect to make it up the mountain by nightfall.
</dd><dd><b>Fluttershy</b>: M-m-mountain?
</dd><dd><b>Twilight Sparkle</b>: The dragon is in <i>that</i> cave at the very top.
</dd><dd><b>Applejack</b>: Looks pretty cold up there.
</dd><dd><b>Rainbow Dash</b>: You bet it is. The higher you go, the chillier it gets.
</dd><dd><b>Rarity</b>: Good thing I brought my scarf.
</dd><dd><b>Pinkie Pie</b>: Ooo! Pretty!
</dd><dd><b>Rainbow Dash</b>: Heh, oh yeah. <i>That'll</i> keep you nice and cozy.
</dd><dd><b>Fluttershy</b>: [gulp] Um, excuse me, Twilight? I know you're busy, but...
</dd><dd><b>Twilight Sparkle</b>: Uh-huh. Well, we could go this way.
</dd><dd><b>Fluttershy</b>: But if I could just have a second...
</dd><dd><b>Twilight Sparkle</b>: Uh-huh. No, we want to avoid that.
</dd><dd><b>Fluttershy</b>: So, um, I was thinking that, um, maybe I should just stay here in Ponyville.
</dd><dd><b>Twilight Sparkle</b>: Uh-huh.
</dd><dd><b>Fluttershy</b>: Oh! Good. I'll stay here and-
</dd><dd><b>Twilight Sparkle</b>: Wait! You <i>have</i> to come! Your way with wild animals will surely come in handy.
</dd><dd><b>Fluttershy</b>: I don't think I-
</dd><dd><b>Twilight Sparkle</b>: Oh, and don't worry about your little friends in the meadow. Spike's got it covered while you're gone.
</dd><dd><b>Spike</b>: You can count on me! Oooh! Hey! Hey! Wait!
</dd><dd><b>Fluttershy</b>: I don't really think he's up to the task. Maybe... but... but... [squeak]
</dd><dd><b>Rainbow Dash</b>: Are you sure you want Fluttershy to come
along? I mean, that pony's afraid of her own shadow. She's just going to
 slow us down.
</dd><dd><b>Twilight Sparkle</b>: Oh, she's just a little nervous. Once we get going, I'm sure she'll be fine.
</dd><dd><b>Fluttershy</b>: [squeal]
</dd><dd><b>Twilight Sparkle</b>: All right girls, move out!
</dd><dd><b>Fluttershy</b>: But... but...! [scream]
</dd></dl>
<dl><dd>[dragon snore]
</dd><dd><b>Fluttershy</b>: [gasp]
</dd><dd><b>Rainbow Dash</b>: Whoa. What was that?
</dd><dd><b>Twilight Sparkle</b>: That is what it sounds like when a dragon snores.
</dd><dd><b>Fluttershy</b>: It- it's so... high!
</dd><dd><b>Rainbow Dash</b>: Well, it <i>is</i> a mountain. I'm going to fly up there and check it out! Wah!
</dd><dd><b>Applejack</b>: Hold on, now. I think we should all go up together. Safety in numbers and all.
</dd><dd><b>Rainbow Dash</b>: Oh, all right.
</dd></dl>
<dl><dd><b>Rarity</b>: I hear the only thing that sparkles more than a
dragon's scales are the jewels they use to build their nests. Ooo, if I
play my cards right, I might be able to convince him to part with a few!
</dd><dd><b>Pinkie Pie</b>: [imitating a dragon] Welcome to my cave, Rarity. Care for a diamond? [roar]
</dd><dd>[laughter]
</dd><dd><b>Twilight Sparkle</b>: Girls! This is no laughing matter! Fluttershy, you're the expert on wild creatures. What do <i>you</i> think the dragon will be like? Fluttershy?
</dd><dd><b>Rainbow Dash</b>: Hey! What are you waiting for? An invitation?
</dd><dd><b>Pinkie Pie</b>: Ooo, I think I have one in my bag!
</dd><dd>[pop whistles]
</dd><dd>[cheering SFX]
</dd><dd><b>Fluttershy</b>: I-it's so... so... steep.
</dd><dd><b>Rainbow Dash</b>: Well, it <i>is</i> a cliff. You could just, oh, I don't know, <i>fly</i> up here?
</dd><dd><b>Pinkie Pie</b>: Come on, Fluttershy, you can do it. Flap those wings!
</dd><dd><b>Fluttershy</b>: Oh... okay. [soft cry]
</dd><dd>[dragon snore]
</dd><dd><b>Fluttershy</b>: [whimpers]
</dd><dd><b>Rainbow Dash</b>: Ugh.
</dd><dd><b>Fluttershy</b>: [soft grunts]
</dd><dd><b>Twilight Sparkle</b>: Uh, we don't have time for this. What are you doing?
</dd><dd><b>Applejack</b>: I'll need this if I'm going to take her around the mountain another way.
</dd><dd><b>Rainbow Dash</b>: [groan] <i>Around</i> the mountain? That's going to take them forever.
</dd><dd><b>Fluttershy</b>: [squeals]
</dd><dd>[dragon snore]
</dd><dd>[goat bleat]
</dd><dd><b>Applejack</b>: Don't worry, Twi. We'll be there lickety-split.
</dd></dl>
<dl><dd><b>Pinkie Pie</b>: Whoo-hoo! I win again!
</dd><dd><b>Rarity</b>: Ugh. That's thirty-five games in a row. Best of seventy-one?
</dd><dd><b>Applejack</b>: [panting] We. Made. It. [panting]
</dd><dd><b>Rainbow Dash</b>: Told you it was going to take them forever.
</dd></dl>
<dl><dd><b>Fluttershy</b>: [gulp]
</dd><dd><b>Twilight Sparkle</b>: Your turn, Fluttershy.
</dd><dd><b>Fluttershy</b>: But... it's so... wide.
</dd><dd><b>Twilight Sparkle</b>: Come on, Fluttershy, we should be much farther along by now.
</dd><dd><b>Applejack</b>: You could just leap on over.
</dd><dd><b>Fluttershy</b>: I-
</dd><dd>[dragon snore]
</dd><dd><b>Fluttershy</b>: I don't know.
</dd><dd><b>Pinkie Pie</b>: There's nothing to be afraid of. It's just a hop, skip and a jump. See?
</dd></dl>
<p><br>
</p>
<dl><dd><b>[Pinkie Pie]</b>
<dl><dd>It's not very far
</dd><dd>Just move your little rump
</dd><dd>You can make it if you try with a hop, skip and jump
</dd></dl>
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: We don't have time for this.
</dd></dl>
<dl><dd><b>[Pinkie Pie]</b>
<dl><dd>A hop, skip and jump,
</dd><dd>Just move your little rump,
</dd><dd>A hop, skip and jump,
</dd><dd>A hop, skip and jump,
</dd><dd>A hop, skip and jump,
</dd><dd>A hop skip and jump,
</dd><dd>A hop skip and jump!
</dd></dl>
</dd><dd><b>Fluttershy</b>: O-okay. Here I go. A hop.
</dd><dd><b>Applejack</b>: That's it.
</dd><dd><b>Twilight Sparkle</b>: You've got it.
</dd><dd><b>Rarity</b>: Almost there.
</dd><dd><b>Fluttershy</b>: Skip.
</dd><dd><b>Twilight Sparkle</b>: Just don't look down.
</dd><dd><b>Fluttershy</b>: [whimpers]
</dd><dd><b>Rainbow Dash</b>: Ugh.
</dd><dd><b>Fluttershy</b>: I guess I forgot to jump.
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: [whispers] Let's keep it down.
According to my map, we're entering an avalanche zone. The smallest peep
 could cause a huge rock slide.
</dd><dd><b>Fluttershy</b>: An... an ava... ava...
</dd><dd><b>Twilight Sparkle</b>: Shhh!
</dd><dd><b>Fluttershy</b>: AVALA-!
</dd><dd>[collective sigh]
</dd><dd>[rumble]
</dd><dd><b>All ponies</b>: Avalanche! [cries]
</dd><dd><b>Twilight Sparkle</b>: Oh no! Help! Ooh!
</dd><dd>[coughing]
</dd><dd><b>Applejack</b>: Oh my! [stops coughing] Everypony okay?
</dd><dd><b>Twilight Sparkle</b>: Thanks to you I am.
</dd><dd><b>Rarity</b>: Eugh. Blech.
</dd><dd><b>Pinkie Pie</b>: Whoo-hoo! Let's do it again!
</dd><dd><b>Rarity</b>: Uh! This is why a girl always packs <i>extra</i> accessories. Oh, <i>please</i> tell me I brought the tiara that goes with this.
</dd><dd><b>Rainbow Dash</b>: Uh, think we got bigger problems than making sure our hair bows match our horseshoes.
</dd><dd><b>Fluttershy</b>: [sigh] Sorry.
</dd><dd><b>Applejack</b>: Aw, no big whoop, sugarcube.
</dd><dd><b>Twilight Sparkle</b>: Yeah, we'll just have to [sigh] climb over.
</dd></dl>
<dl><dd>[grunts]
</dd></dl>
<dl><dd><b>Fluttershy</b>: [sigh] [whimpers]
</dd><dd><b>Rarity</b>: [cry]
</dd><dd><b>Applejack</b>: Wha! Wha...
</dd><dd><b>Rarity</b>: My apologies.
</dd><dd><b>Rainbow Dash</b>: Not <i>your</i> fault.
</dd><dd><b>Fluttershy</b>: [whimper]
</dd><dd><b>Rainbow Dash</b>: [sigh] Still think it was a good idea to bring Fluttershy along?
</dd><dd><b>Twilight Sparkle</b>: We're about to find out. We're here.
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: Rainbow Dash, you'll use your wings to clear the smoke.
</dd><dd><b>Rainbow Dash</b>: Mm-hmm.
</dd><dd><b>Twilight Sparkle</b>: Rarity and Pinkie Pie, you'll create a diversion to distract the dragon if things get a little hairy in there.
</dd><dd>[squeaky toy]
</dd><dd><b>Twilight Sparkle</b>: Applejack, you're ready with the
apples in case he decides to attack. But it shouldn't come to that,
because Fluttershy will do what she needs to do to wake him up, and
between the two of us, we should be able to get him to understand why he
 needs to go. Is everypony ready?
</dd><dd>[affirmatives]
</dd><dd><b>Twilight Sparkle</b>: Okay then, we're goin' in. So, what <i>is</i>
 the best way to wake up a sleeping dragon without upsetting him?
Fluttershy? Oh, come on! Come on! [grunt] We have to do this! [grunt]
Now! Every [grunts] second longer that dragon [grunts] sleeps is another
 [grunts] acre of Equestria that is covered in [grunts] smoke. Ooh!
</dd><dd><b>Pinkie Pie</b>: [laugh]
</dd><dd><b>Fluttershy</b>: I- I- I can't go in the cave.
</dd><dd><b>Ponies</b>: Ugh. [crash]
</dd><dd><b>Rainbow Dash</b>: Oh, great. She's scared of <i>caves</i> now, too.
</dd><dd><b>Fluttershy</b>: I'm not scared of caves, I'm scared of [mumble].
</dd><dd><b>Applejack</b>: What's that, sugarcube?
</dd><dd><b>Fluttershy</b>: I'm scared of [mumble].
</dd><dd><b>Twilight Sparkle</b>: What?
</dd><dd><b>Fluttershy</b>: I'm scared of dragons!
</dd><dd>[dragon snore]
</dd><dd><b>Fluttershy</b>: [squeal]
</dd><dd>[coughing]
</dd><dd><b>Twilight Sparkle</b>: But Fluttershy. You have a wonderful talent dealing with all kinds of animals.
</dd><dd><b>Fluttershy</b>: Yes, because they're not <i>dragons</i>.
</dd><dd><b>Rainbow Dash</b>: Oh come on! We've seen you walk right up to a horrible manticore like it was nothing.
</dd><dd><b>Fluttershy</b>: Yes, because he wasn't a dragon.
</dd><dd><b>Pinkie Pie</b>: Spike is a dragon. You're not scared of him.
</dd><dd><b>Fluttershy</b>: Yes, because he's not a huge, gigantic,
terrifying, enormous, teeth-gnashing, sharp-scale having, horn-wearing,
smoke-snoring, could eat a pony in one bite, totally all grown-up
dragon!
</dd><dd>[dragon snore]
</dd><dd><b>Fluttershy</b>: [whimper]
</dd><dd><b>Twilight Sparkle</b>: But, if you're so afraid of dragons, why didn't you say something before we came all the way up here?
</dd><dd><b>Fluttershy</b>: I was afraid to.
</dd><dd><b>Rainbow Dash</b>: Ugh.
</dd><dd><b>Applejack</b>: All of us are scared of that dragon.
</dd><dd><b>Rainbow Dash</b>: I'm not!
</dd><dd><b>Applejack</b>: <i>Almost</i> all of us are scared of that
dragon, but we've got a job to do. So, get in there with Twilight and
show her what you're made of.
</dd><dd><b>Fluttershy</b>: I- I- I just... can't.
</dd><dd><b>Twilight Sparkle</b>: Oh, Fluttershy.
</dd></dl>
<dl><dd><b>Twilight Sparkle</b>: I'm goin' in. He... probably just doesn't realize what he's doing... right?
</dd><dd>[ponies agree nervously]
</dd><dd><b>Twilight Sparkle</b>: Mr. Dragon.
</dd><dd><b>Razer</b>: [rumble]
</dd><dd><b>Twilight Sparkle</b>: Excuse me.
</dd><dd><b>Razer</b>: [rumble]
</dd><dd><b>Twilight Sparkle</b>: Mr. Dragon.
</dd><dd><b>Razer</b>: [rumble]
</dd><dd><b>Twilight Sparkle</b>: Oh, good, you're awake. Please allow me to introduce myself. My name is Twilight-
</dd><dd><b>Razer</b>: [yawn]
</dd><dd><b>Twilight Sparkle</b>: Augh! Puh! Sparkle, and my friends and
 I are residents here in Equestria. Ponyville, to be exact. We've come
here to ask that you find another spot to take your nap. It's just that
you seem to be doing an awful lot of snoring, and every time you do you
send out a terrible cloud of smoke. [coughs] Equestria simply can't
survive a hundred years in a dark haze. You understand, don't you?
</dd><dd><b>Razer</b>: [stretches] [grunts]
</dd><dd><b>Twilight Sparkle</b>: So, you'll find another place to sleep? [coughs]
</dd><dd><b>Razer</b>: [huff]
</dd><dd><b>All ponies</b>: [coughs]
</dd><dd><b>Rainbow Dash</b>: So much for [coughs] persuading him.
</dd><dd><b>Applejack</b>: Now what?
</dd><dd><b>Rarity</b>: [coughs] Obviously, this situation just calls
for a little "pony charm". Allow me, girls. I'm so sorry to interrupt.
[clears throat] But I couldn't possibly head back home without
mentioning what <i>handsome scales</i> you have. And those scales have to be hidden away in some <i>silly</i> cave for a hundred years?
</dd><dd><b>Razer</b>: [rumble]
</dd><dd><b>Rarity</b>: Personally, <i>I</i> think you should skip the snoozing and be out <i>there</i>, <i>showing</i> them off. Hmm. Obviously, I would be <i>more</i> than happy to keep an eye on your jewels while you're gone.
</dd><dd><b>Razer</b>: [growl]
</dd><dd><b>Rarity</b>: [cry]
</dd></dl>
<dl><dd><b>Rarity</b>: I was <i>this</i> close to getting that diamond.
</dd><dd><b>Twilight Sparkle</b>: You mean... getting rid of that <i>dragon</i>?
</dd><dd><b>Rarity</b>: Oh, yeah... sure.
</dd><dd>[horn]
</dd><dd><b>Applejack</b>: What in tarnation...?
</dd><dd><b>Pinkie Pie</b>: [horn]
</dd><dd><b>Rarity</b>: Darling, you look ridiculous.
</dd><dd><b>Pinkie Pie</b>: Exactly! Sharing a laugh is a sure-fire way to get someone on your side! Hi!
</dd><dd>[crash]
</dd><dd><b>Pinkie Pie</b>: Apparently he doesn't like laughing, heh. Or sharing.
</dd><dd><b>Rainbow Dash</b>: All right, that's it. We tried persuasion, charm, whatever it is Pinkie Pie does.
</dd><dd><b>Pinkie Pie</b>: [busted horn]
</dd><dd><b>Rainbow Dash</b>: It's time to stop wasting time! I'm going in!
</dd><dd><b>Twilight Sparkle</b>: Rainbow, no!
</dd><dd><b>Rainbow Dash</b>: Get! Out! [smack]
</dd><dd><b>Razer</b>: [sneeze] [growl]
</dd><dd><b>Rainbow Dash</b>: Heh. Sorry.
</dd><dd><b>Razer</b>: [roars]
</dd><dd><b>Rainbow Dash</b>: Who-o-o-o-o-a!
</dd><dd>[tenpins]
</dd><dd><b>Ponies</b>: Ugh!
</dd><dd>[roar]
</dd><dd>[screams]
</dd><dd><b>Razer</b>: [roar]
</dd><dd><b>Ponies</b>: [moans]
</dd><dd><b>Razer</b>: [rumble]
</dd><dd><b>Ponies</b>: [moans]
</dd><dd><b>Fluttershy</b>: How dare you... How dare you! Listen here,
mister. Just because you're big doesn't mean you get to be a bully! You
may have huge teeth, and sharp scales, and snore smoke, and breathe
fire. But you do not—I repeat—you do <i>not! Hurt! My! Friends</i>! You got that?
</dd><dd><b>Razer</b>: [whimper]
</dd><dd><b>Fluttershy</b>: Well?
</dd><dd><b>Razer</b>: But that rainbow one kicked me.
</dd><dd><b>Fluttershy</b>: And I am very sorry about that. But you're
bigger than she is, and you should know better. You should also know
better than to take a nap where your snoring can become a health hazard
to other creatures.
</dd><dd><b>Razer</b>: But I-
</dd><dd><b>Fluttershy</b>: Don't you 'but I' me, mister. Now what do you have to say for yourself? I said, <i>what</i> do you have to say for yourself?
</dd><dd><b>Razer</b>: [whimper] [crying]
</dd><dd><b>Fluttershy</b>: There, there. No need to cry. You're not a
bad dragon, you just made a bad decision. Now go pack your things. You
just need to find a new place to sleep. That's all.
</dd><dd><b>Ponies</b>: [cheering]
</dd><dd><b>Twilight Sparkle</b>: You did it! I knew you could do it.
</dd></dl>
<dl><dd><b>Spike</b>: [pant] I said come back here! Ooh! How does Fluttershy put up with you furry little things?
</dd><dd><b>Twilight Sparkle</b>: Spike, take a letter.
</dd><dd><b>Spike</b>: [sigh] With pleasure.
</dd><dd><b>Twilight Sparkle</b>: <i>Dear Princess Celestia,</i>
</dd><dd><i>I am happy to report that the dragon has departed our fair
country, and that it was my good friend, Fluttershy, who convinced him
to go. This adventure has taught me to never lose faith in your friends.
 They can be an amazing source of strength, and can help you overcome
even your greatest fears.</i>
</dd><dd><i>Always your faithful student,</i>
</dd><dd><i>Twilight Sparkle.</i>
</dd><dd><b>Applejack</b>: Twilight! You gotta come see this! She's just five away from a new pony record!
</dd><dd><b>Rainbow Dash</b>: Three hundred forty-seven, three hundred forty-eight...
</dd><dd>[roar]
</dd><dd><b>Rainbow Dash</b>: Dragon!
</dd><dd>[goat bleat]
</dd><dd>[laughter]
</dd><dd><b>Rainbow Dash</b>: [pants] Why are you laughing? That awful dragon is back!
</dd><dd><b>Pinkie Pie</b>: [roar]
</dd><dd><b>Rainbow Dash</b>: Pinkie Pie, you scared me! I mean, uh, you... broke my concentration.
</dd><dd><b>Fluttershy</b>: It's okay, Rainbow Dash. Not everypony can be as brave as me. [scream]
</dd><dd>[goat bleat]
</dd><dd>[laughter]
</dd></dl>
<dl><dd>[music]
</dd><dd>[credits]
</dd></dl>
