meta[ title:Bloom &amp; Gloom, lines: 311]
<dl><dd>[knocking]
</dd><dd><b>Apple Bloom</b>: Hear ye, hear ye! This meeting of the Cutie Mark Crusaders is now in session! Who wants to do roll-call?
</dd><dd>[beat]
</dd><dd><b>Scootaloo</b>: I'm pretty sure we're all here.
</dd><dd><b>Sweetie Belle</b>: Yeah. Apple Bloom, what's this all about?
</dd><dd><b>Apple Bloom</b>: Oh, <i>nothin'</i>... except this letter from Babs Seed sayin' she's got her cutie mark!
</dd><dd><b>Scootaloo</b> and <b>Sweetie Belle</b>: <i>What?!</i>
</dd><dd><b>Apple Bloom</b>: She says it's a pair of scissors!
</dd><dd><b>Scootaloo</b>: So... she's good at cutting stuff?
</dd><dd><b>Sweetie Belle</b>: Of <i>course</i>! She was always fussing with her bangs and tail! I'll bet she grows up to be a celebrity stylist!
</dd><dd><b>Apple Bloom</b>: But if she spends all her time cuttin' hair, who's gonna run the Manehattan CMCs?
</dd><dd><b>Scootaloo</b>: Well, not Babs. She can't be a Cutie Mark Crusader if she's already got her cutie mark.
</dd><dd><b>Apple Bloom</b>: Oh, wow. I guess you're right.
</dd><dd><b>Sweetie Belle</b>: I'm glad she's happy, but I sure wouldn't
 want to be up to my flank in mane hair all day. Can you imagine getting
 stuck with a cutie mark you didn't like?
</dd><dd><b>Apple Bloom</b>: No... or at least I hadn't...
</dd><dd><b>Sweetie Belle</b>: Don't worry, Apple Bloom. Most of your
family has apple-related cutie marks. I bet yours will be, too. And
what's not to like about apples?
</dd><dd><b>Scootaloo</b>: There's the core, and sour apples, and rotten apples, and apples with worms in them— What?
</dd><dd><b>Sweetie Belle</b>: Not helping.
</dd></dl>
<dl><dd>[<a href="https://mlp.fandom.com/wiki/My_Little_Pony_theme_song" title="My Little Pony theme song">theme song</a>]
</dd></dl>
<dl><dd><b>Apple Bloom</b>: I guess I just spent so much time worryin'
about how to get a cutie mark, I never even thought about what would
happen after. There's just so many things I never considered.
</dd><dd><b>Applejack</b>: I'm sure there are, but you don't need to—
</dd><dd><b>Apple Bloom</b>: What if I finally get my cutie mark and I don't like it? What if I get my cutie mark and nopony likes <i>me</i>?
</dd><dd><b>Applejack</b>: Well, that's just ridicu—
</dd><dd><b>Apple Bloom</b>: What if the Crusaders drift apart? I mean,
we won't really be the Cutie Mark Crusaders anymore! [gasps] What if
it's not an apple?! Will I have to move out?! <i>Where will I live?!</i>
</dd><dd><b>Applejack</b>: All right, that's enough, sugarcube. Those are way too many questions to answer all in one night.
</dd><dd><b>Apple Bloom</b>: But—
</dd><dd><b>Applejack</b>: And nopony's gonna make ya move out.
</dd><dd><b>Apple Bloom</b>: Are you sure, Applejack?
</dd><dd><b>Applejack</b>: Of course, I'm sure. Now get some sleep. You'll see. Everything will be better in the mornin'.
<dl><dd>Hush now, little sister
</dd><dd>You're loved by all you know
</dd><dd>You'll never lose their friendship
</dd><dd>No matter where you go
</dd></dl>
</dd></dl>
<dl><dd><dl><dd>There ain't no call to worry
</dd><dd>So don't you cry or fret
</dd><dd>A cutie mark won't change you
</dd><dd>No matter what you get
</dd></dl>
</dd><dd>[light clicks]
</dd><dd><b>Apple Bloom</b>: [yawns] No matter what I get.
</dd></dl>
<dl><dd><b>Apple Bloom</b>: [snoring]
</dd><dd>[rooster crows]
</dd><dd><b>Apple Bloom</b>: Hoo-ee! Nothin' like a good night's sleep!
</dd><dd><b>Applejack</b>: [muffled] Breakfast!
</dd></dl>
<dl><dd><b>Apple Bloom</b>: You were right, Applejack! I feel much better! I don't know what I was so worried about last night!
</dd><dd><b>Applejack</b>: See, now what did I tell you? A good night's sleep'll fix just about an— Well, no wonder you were so worked up!
</dd><dd><b>Apple Bloom</b>: What? What is it?
</dd><dd><b>Applejack</b>: Looks like <i>somepony</i> got her cutie mark!
</dd><dd><b>Apple Bloom</b>: [gasps] I can't believe it! I got my cutie mark! <i>I got my cutie mark!</i> [rumbling and echoing] <i>I got my cutie mark!</i> Wait 'til I tell the others that my cutie mark is a... a... What is it?
</dd><dd><b>Applejack</b>: I have no idea what it means.
</dd><dd><b>Pest Control Pony</b>: [muffled] I know what it means! [breathing through gas mask] It means I can retire! [laughs]
</dd></dl>
<dl><dd><b>Apple Bloom</b>: Infestations? You mean like... parasprites?
</dd><dd><b>Pest Control Pony</b>: Hah, please. Anypony with a trombone can get rid of parasprites. I'm talking about the serious stuff! You ever hear of... <i>twittermites</i>?
</dd><dd>[lightning cracks]
</dd><dd><b>Apple Bloom</b>: Twittermites?
</dd><dd><b>Pest Control Pony</b>: Pest ponies like you and me are the only things keeping these live wires from destroying half of Equestria!
</dd><dd><b>Apple Bloom</b>: Pest ponies?
</dd><dd><b>Pest Control Pony</b>: It's no easy trade! Even the best of
us yearns for the day they can move on to greener pastures. Oh, now that
 you're here to take over, my day has finally come!
</dd><dd><b>Apple Bloom</b>: Take over?
</dd><dd><b>Pest Control Pony</b>: You're gonna need to stop repeating what I say and pay attention if you want to learn anything.
</dd><dd><b>Apple Bloom</b>: I'm sorry. I guess this just wasn't what I was expectin'.
</dd><dd><b>Pest Control Pony</b>: Don't worry. With a cutie mark like that I'm sure you've got the touch.
</dd><dd><b>Apple Bloom</b>: The touch? Oh, sorry.
</dd><dd><b>Pest Control Pony</b>: Now, you're gonna need to be quick. Once these things get out, it can get <i>pretty shocking</i>.
</dd><dd>[twittermites buzzing]
</dd><dd><b>Apple Bloom</b>: Wait, what do you mean?
</dd><dd>[zap!]
</dd><dd><b>Apple Bloom</b>: Ow!
</dd><dd><b>Pest Control Pony</b>: Hah, told you! And the further apart they spread, the more powerful these jolts will get!
</dd><dd><b>Apple Bloom</b>: What do I do?!
</dd><dd><b>Pest Control Pony</b>: Call 'em back, of course.
</dd><dd><b>Apple Bloom</b>: Twittermites! [whistles] [calling yelp]
</dd><dd>[twittermites buzzing]
</dd><dd><b>Apple Bloom</b>: Twittermites!
</dd><dd>[various zaps and vacuuming noises]
</dd><dd><b>Apple Bloom</b>: Bugbugbugbugbugbugbug!
</dd><dd>[vacuuming noise]
</dd><dd><b>Pest Control Pony</b>: Well, looks like you're all set. Drop me a note sometime at the Piney Shade Retirement Community.
</dd><dd><b>Apple Bloom</b>: Now, hold on! I'm sure this job is <i>real</i> important, but... I don't think I wanna call bugs for the rest of my life. Hey, where'd he go?
</dd><dd><b>Diamond Tiara</b>: Well, well, well! Look at the new <i>bug</i> pony!
</dd><dd><b>Apple Bloom</b>: It's <i>pest</i> pony.
</dd><dd><b>Silver Spoon</b>: Eh, it sure is! Ew!
</dd><dd><b>Diamond Tiara</b>: I might've known you'd end up with the worst cutie mark <i>ever</i>!
</dd><dd><b>Diamond Tiara</b> and <b>Silver Spoon</b>: [laughing]
</dd><dd><b>Silver Spoon</b>: But look on the bright side! Whenever you need a friend, you can just go out and catch one!
</dd><dd><b>Apple Bloom</b>: That's not funny.
</dd><dd><b>Diamond Tiara</b>: Heeere, friendfriendfriendfriendfrieeend!
</dd><dd><b>Apple Bloom</b>: Stop it!
</dd><dd><b>Silver Spoon</b>: Here, bug! Here, bug! Will you be my friend, bug? Because <i>nopony else</i> will! [laughing]
</dd><dd><b>Apple Bloom</b>: You know what? My cutie mark isn't the worst! You two are!
</dd><dd><b>Diamond Tiara</b> and <b>Silver Spoon</b>: [laughing]
</dd><dd>[glass cracking]
</dd></dl>
<dl><dd><b>Apple Bloom</b>: [sighs] I hate to think that Diamond Tiara is right, but... this cutie mark sure isn't what I was hoping for.
</dd><dd><b>Mysterious Voice</b>: Why should you have to keep it, then?
</dd><dd><b>Apple Bloom</b>: Who's there?! What do you mean?!
</dd><dd><b>Mysterious Voice</b>: If your cutie mark bothers you so much, get rid of it!
</dd><dd><b>Apple Bloom</b>: Well, if you know how to wave a hoof and erase a terrible cutie mark, you go right ahead!
</dd><dd><b>Mysterious Voice</b>: As easily said as done.
</dd><dd>[wind blows]
</dd><dd><b>Apple Bloom</b>: Huh. Now <i>that</i> is some serious magic.
</dd></dl>
<dl><dd>[ponies panicked]
</dd><dd><b>Apple Bloom</b>: Hey! Where's everypony goin'?!
</dd><dd>[ponies panicked]
</dd><dd>[Wilhelm scream]
</dd><dd><b>Apple Bloom</b>: Mayor! What's goin' on?!
</dd><dd><b>Mayor Mare</b>: Apple Bloom, you've got to get your family out of town!
</dd><dd>[burst of electricity]
</dd><dd>[twittermites buzzing]
</dd><dd><b>Apple Bloom</b>: Twittermites! [gasps]
</dd><dd>[equipment clicking and clinking]
</dd><dd><b>Apple Bloom</b>: Twittermites! Here, bugbugbugbugbugbug!
</dd><dd>[zap!]
</dd><dd><b>Apple Bloom</b>: Here, bugs!
</dd><dd>[multiple zaps]
</dd><dd><b>Apple Bloom</b>: Come on, here!
</dd><dd><b>Applejack</b>: Apple Bloom! What in tarnation are you doin'?!
</dd><dd><b>Apple Bloom</b>: I'm tryin' to stop the infestation, of course!
</dd><dd><b>Applejack</b>: Only a pest pony can do that! Now come on! We gotta skedaddle!
</dd><dd><b>Apple Bloom</b>: But I've gotta do somethin'!
</dd><dd><b>Applejack</b>: Are you crazy?!
</dd><dd>[twittermites buzzing]
</dd><dd>[zap!]
</dd></dl>
<dl><dd><b>Apple Bloom</b>: [gasps]
</dd><dd>[zap!]
</dd><dd><b>Apple Bloom</b>: Aaaaaaahhh!
</dd><dd>[rooster crows]
</dd><dd>[glass squeaking]
</dd><dd><b>Apple Bloom</b>: Whoo-ee. That's what I call a nightmare. It seemed so real.
</dd><dd><b>Applejack</b>: [muffled] Breakfast!
</dd></dl>
<dl><dd><b>Apple Bloom</b>: Applejack! You are not gonna believe the dream I just had! I guess I needed more sleep than I thought!
</dd><dd><b>Applejack</b>: See, now what did I tell you? A good night's sleep'll fix just about— [gasps] Well, no wonder you were so worked up!
</dd><dd><b>Apple Bloom</b>: What?
</dd><dd><b>Applejack</b>: Looks like somepony got her cutie mark!
</dd><dd><b>Apple Bloom</b>: Again?! I mean... I did? Woo-hoo! Potion making! Now that's more like it!
</dd><dd><b>Applejack</b>: More like what?
</dd><dd><b>Apple Bloom</b>: Never mind. I'm just glad Princess Twilight's lessons finally paid off!
</dd><dd><b>Applejack</b>: I expect you want to run off to the clubhouse
 and tell your friends all about your new cutie mark. But before you go,
 make sure you do all your... chores...?
</dd></dl>
<dl><dd>[horseshoe clinking]
</dd><dd><b>Apple Bloom</b>: Whooo!
</dd><dd><b>Scootaloo</b>: Why all the excitement?
</dd><dd><b>Sweetie Belle</b>: Yeah, what's going on?
</dd><dd><b>Apple Bloom</b>: [coyly] Oh, <i>nothin'</i>... except this brand new cutie mark!
</dd><dd><b>Scootaloo</b>: That's amazing!
</dd><dd><b>Sweetie Belle</b>: Wow!
</dd><dd><b>Apple Bloom</b>: I know!
</dd><dd><b>Scootaloo</b>: That's so cool!
</dd><dd><b>Apple Bloom</b>: I don't suppose either of you got yours?
</dd><dd><b>Scootaloo</b>: Nope.
</dd><dd><b>Sweetie Belle</b>: Me neither...
</dd><dd><b>Apple Bloom</b>: I know it's silly, but I'd always hoped we'd get our cutie marks together.
</dd><dd><b>Scootaloo</b>: Me too...
</dd><dd><b>Sweetie Belle</b>: But I'm still super excited for you!
</dd><dd><b>Scootaloo</b>: Absolutely!
</dd><dd><b>Apple Bloom</b>: I know! [knocks on podium] Let's call this
meeting to order! I'm sure the three of us can figure out how to get two
 more cutie marks.
</dd><dd><b>Sweetie Belle</b>: Um, yeah... the thing is...
</dd><dd><b>Apple Bloom</b>: What?
</dd><dd><b>Scootaloo</b>: Well, you can't be a Cutie Mark Crusader if you've already got your cutie mark...
</dd><dd><b>Apple Bloom</b>: Oh, yeah... Just like Babs Seed... Well, I
could just sit quietly in the corner 'til you two figure out what you're
 gonna do...
</dd><dd><b>Sweetie Belle</b>: Well, technically the clubhouse is for Crusaders only.
</dd><dd><b>Apple Bloom</b>: Oh. Right. I guess I should just come back later, then...?
</dd><dd><b>Sweetie Belle</b>: Why? I mean, you can't come in then either.
</dd><dd><b>Apple Bloom</b>: Oh.
</dd><dd><b>Sweetie Belle</b>: Rules are rules.
</dd><dd><b>Scootaloo</b>: I don't even think we're still supposed to be friends.
</dd><dd>[door slams]
</dd><dd><b>Apple Bloom</b>: What?!
</dd><dd>[creepy forest noises]
</dd><dd><b>Apple Bloom</b>: Sweetie Belle! Scootaloo! Come on, fillies, this isn't funny!
</dd><dd>[wind blows]
</dd><dd><b>Mysterious Voice</b>: More trouble with cutie marks?
</dd><dd><b>Apple Bloom</b>: No! I mean, w— yeah, I mean... Well, I got mine, but my friends didn't get theirs, and now there's all kinds of trouble!
</dd><dd><b>Mysterious Voice</b>: Sounds to me like cutie marks and trouble are two peas in the same pod.
</dd><dd><b>Apple Bloom</b>: I guess so... I mean, if I was a blank flank again, there wouldn't be a problem!
</dd><dd><b>Mysterious Voice</b>: Your wish is my command.
</dd><dd>[wind blows]
</dd></dl>
<dl><dd>[crunch]
</dd><dd><b>Scootaloo</b>: Hey, Apple Bloom. Why'd you want to meet here?
</dd><dd><b>Apple Bloom</b>: Well, us blank flanks have to meet somewhere!
</dd><dd><b>Scootaloo</b>: Um, actually, Apple Bloom, we... both sort of got our cutie marks.
</dd><dd><b>Apple Bloom</b>: You <i>did</i>?! What are they?
</dd><dd><b>Scootaloo</b>: Oh, we don't have time to go into all <i>that</i>.
</dd><dd><b>Sweetie Belle</b>: And we certainly don't have time to hang out at an old clubhouse.
</dd><dd><b>Scootaloo</b>: Yeah, we've got responsibilities now.
</dd><dd><b>Sweetie Belle</b>: But maybe we'll see you later.
</dd><dd><b>Scootaloo</b>: Much later.
</dd><dd><b>Apple Bloom</b>: Wait! Hold on! I can get my cutie mark
back, I think! Rrgh! I mean, I got it once, right? Oh, just wait a
second! Nooooooooooo!
</dd><dd>[rooster crows]
</dd><dd><b>Apple Bloom</b>: What in Equestria's goin' on?!
</dd><dd><b>Applejack</b>: [muffled] Breakfast!
</dd><dd><b>Apple Bloom</b>: I'm not so sure sleep is the cure-all Applejack thinks it is.
</dd></dl>
<dl><dd><b>Apple Bloom</b>: Uh... Applejack? I know you said sleep is supposed to make me feel better, but I'm pretty sure it's makin' me feel <i>worse</i>.
</dd><dd><b>Applejack</b>: See, now what did I tell you? A good night's sleep'll fix— Well, no wonder you were so worked up...
</dd><dd><b>Apple Bloom</b>: Wh— Didn't you hear what I said?! I was trying to—
</dd><dd><b>Granny Smith</b>: Weeeell, what do we have here?
</dd><dd><b>Apple Bloom</b>: What is it, Granny? What's wrong?!
</dd><dd><b>Granny Smith</b>: Oh, nothin', right, Applejack?
</dd><dd><b>Applejack</b>: Right... Nothin' at all... Right, Big Mac?
</dd><dd><b>Big McIntosh</b>: Truth is, Apple Bloom, it's your cutie mark.
</dd><dd><b>Applejack</b>: Eeyup.
</dd><dd><b>Apple Bloom</b>: Oh, no! What is it now?!
</dd><dd>[spotlights turning off then on]
</dd><dd><b>Big McIntosh</b>: [echoing] Well, I can tell you what it ain't. It ain't no apple.
</dd><dd><b>Granny Smith</b>: Nnope!
</dd><dd><b>Apple Bloom</b>: What?!
</dd><dd><b>Applejack</b>: [in Big McIntosh's voice] And we don't have room for <i>non</i>-apples.
</dd><dd><b>Big McIntosh</b>: [in Applejack's voice] Nnope.
</dd><dd><b>Granny Smith</b>: [in Big McIntosh's voice] Time for you to mosey on. You can't stay here.
</dd><dd><b>Apple Bloom</b>: But this is my home!
</dd><dd><b>Big McIntosh</b>: Oh, and you're gonna have to change your name.
</dd><dd><b>Granny Smith</b>: Eeyup!
</dd><dd><b>Big McIntosh</b>: I think just 'Bloom' has a nice ring to it, don't you, Applejack?
</dd><dd><b>Applejack</b>: Eeyup!
</dd><dd>[wind blows]
</dd><dd><b>Apple Bloom</b>: Noooooooooo!
</dd></dl>
<dl><dd>[thump]
</dd><dd><b>Apple Bloom</b>: Ugh!
</dd><dd><b>Pinkie Pie</b>: [gives rooster crow]
</dd><dd><b>Apple Bloom</b>: Alright, this is getting <i>ridiculous</i>. [pause] Whoo-ee! I never thought I'd be so happy to <i>not</i> get a cutie mark. What the?!
</dd><dd>[music playing backwards]
</dd><dd><b>Apple Bloom</b>: [frustrated grunt] I don't wanna see another cutie mark as long as I live!
</dd><dd><b>Mysterious Voice</b>: Back so soon?
</dd><dd><b>Apple Bloom</b>: All right, whoever you are! I dunno what spell you went and cast on me, but I want it to stop right now!
</dd><dd><b>Mysterious Voice</b>: I didn't cast a spell, on you or anypony else. I only did what you wanted.
</dd><dd><b>Apple Bloom</b>: Rrrgh! Why would I want you to torment me with nightmares?!
</dd><dd><b>Mysterious Voice</b>: You didn't want to catch bugs, and I
helped. You didn't want to lose friends, and I helped. If there's a
problem with your family, I'm sure I can help with that too.
</dd><dd><b>Apple Bloom</b>: I don't want your help! Just get away from me!
</dd><dd><b>Princess Luna</b>: Oh, Apple Bloom, you can't get away from your own shadow.
</dd><dd><b>Apple Bloom</b>: Princess Luna?! My shadow? What do you mean? It's just me? You mean I've been doin' all this to myself?
</dd><dd><b>Princess Luna</b>: Of course, Apple Bloom. It's your dream.
</dd><dd><b>Apple Bloom</b>: If I've been dreamin' this whole time, why don't I just wake up?
</dd><dd><b>Princess Luna</b>: Sometimes we can worry about a thing so
much, the fear can make us feel we're trapped in a nightmare. I don't
suppose there's anything you're particularly afraid of, is there?
</dd><dd><b>Apple Bloom</b>: Yeah... I guess I've been pretty worried about gettin' my cutie mark.
</dd><dd><b>Princess Luna</b>: Well, that is the same as worrying about
who you are. That is all a cutie mark is. If you cannot accept who you
are, your life might seem like a bad dream. [blows]
</dd><dd><b>Apple Bloom</b>: But if I like who I am, do you think other ponies will too?
</dd><dd><b>Princess Luna</b>: Of course.
</dd><dd><b>Apple Bloom</b>: Then it doesn't matter what my cutie mark is!
</dd><dd><b>Princess Luna</b>: Indeed.
</dd><dd><b>Apple Bloom</b>: But that's so simple! I must be the only pony in the universe this worried about her cutie mark.
</dd><dd><b>Princess Luna</b>: Oh, I wouldn't say <i>that</i>.
</dd><dd>[door opens]
</dd><dd><b>Sweetie Belle</b>: [exhales] [inhales]
</dd><dd>[cutie mark pinging]
</dd><dd>[bucket clunking]
</dd><dd>[door opens]
</dd><dd>[Scootaloo's wings flapping]
</dd><dd>[cutie mark pinging]
</dd><dd><b>Scootaloo</b>: [screams]
</dd><dd>[plop]
</dd><dd><b>Scootaloo</b>: [hyperventilating]
</dd><dd><b>Apple Bloom</b>: Scootaloo and Sweetie Belle are havin' nightmares too?
</dd><dd><b>Princess Luna</b>: It's been a busy night for us all, but I think it's time to bring it to a close.
</dd><dd>[door opens]
</dd><dd><b>Scootaloo</b> and <b>Sweetie Belle</b>: Princess Luna!
</dd><dd><b>Princess Luna</b>: I know you've all had a lot on your minds tonight, but I think Apple Bloom has something she'd like to share before you wake.
</dd><dd><b>Sweetie Belle</b>: We're still asleep?
</dd><dd><b>Scootaloo</b>: Cool!
</dd><dd><b>Apple Bloom</b>: Well, I guess I should call this <i>dream</i> meeting of the Cutie Mark Crusaders to order!
</dd><dd>[podium honks]
</dd><dd><b>Apple Bloom</b>: I know we all got pretty anxious when we
found out Babs got her cutie mark, but I for one don't want to have
nightmares every night from now until we get ours!
</dd><dd><b>Scootaloo</b>: Me neither!
</dd><dd><b>Apple Bloom</b>: And even though we're all a little scared, a cutie mark won't change who we are or how everypony feels about us!
</dd><dd><b>Sweetie Belle</b>: It's lucky we're all scared of the same things. That way we can help and remind each other to just be who we are!
</dd><dd><b>Princess Luna</b>: And when the day comes that you all finally get your cutie marks, you can be sure they'll fit you to a T.
</dd><dd><b>Apple Bloom</b>: Exactly!
</dd><dd><b>Scootaloo</b>: Do you fillies think that Babs is worried or scared about some of this stuff?
</dd><dd><b>Apple Bloom</b>: I know! Let's put together a care package for her!
</dd><dd><b>Sweetie Belle</b>: That way she'll know she isn't alone!
</dd><dd><b>Apple Bloom</b>: We wouldn't want her to think that just
because she isn't a Crusader, we can't still be friends! But, uh...
maybe we should wait 'til we wake up.
</dd><dd><b>Princess Luna</b>: Good idea.
</dd></dl>
<dl><dd><b>Apple Bloom</b>: [gasps]
</dd><dd>[rooster crows]
</dd><dd><b>Apple Bloom</b>: [sighs]
</dd></dl>
<dl><dd>[pancakes splatting]
</dd><dd><b>[Applejack]</b>
<dl><dd>There ain't no call to worry
</dd><dd>So don't you cry or fret
</dd></dl>
</dd><dd><b>[Apple Bloom]</b>
<dl><dd>A cutie mark won't change me
</dd><dd>No matter what I get
</dd></dl>
</dd><dd><b>Applejack</b>: Well, sure looks like somepony's feelin' better.
</dd><dd><b>Apple Bloom</b>: You have no idea.
</dd><dd><b>Applejack</b>: See, now what did I tell you? A good night's sleep cures just about everythin'.
</dd><dd><b>Apple Bloom</b>: I guess so. I just wish it hadn't been so exhaustin'.
</dd></dl>
<dl><dd>[credits]
</dd></dl>
