<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ponyportal/style.css' %}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div id="cover">
    <form method="get" action="">
        <div class="tb">
            <div class="tr">
                <div class="td">
                    <a href="https://fontmeme.com/fonts/my-little-pony-font/"><img src="https://fontmeme.com/permalink/191119/60e3d6aa51103cec66469aef94fe3d3d.png" alt="my-little-pony-font" border="0"></a>
                </div>
            </div>
            <div class="tr">
                <div class="td"><input type="text" placeholder="Search" required></div>
                <div class="td" id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>